<div class="col">
    <div class="card-h-100">
        <h1 class="card-title ">2. GUDLAVALLERU ENGINEERING COLLEGE </h1>
        <img src="./assets/images/gudlavalleru.jpg" width="50%" height="350px" class="card-img-top" alt="..."/>
        <div class="card-body">
            <p class="card-text">GUDLAVALLERU ENGINEERING COLLEGE is located in krishna district ,vijayawada and affililated with JNTU Kakinada</p>
             <p><b>GEC ESTABLISHED:</b>1998</p>
             <p><b>GEC ACCEREDIATION:</b>NACC</p>
             <p><b>GEC AFFILIATED:</b>JNTUK</p>
             <p><b>GEC ELIGIBILITY:</b>50%+APICET</p>
             <p><b>GEC FEE STRUCTURE:</b>2.6Lakhs</p>
             <p><b>GEC COURSES:</b>CSE,ECE,EEE,ME,CE</p>
             <p><b>GEC LOCATION: </b>Sheshadri Rao Knowledge Village, Gudlavalleru, Vijayawada, Andhra Pradesh 521356</p>
             <p><b>GEC PLACEMENT:</b>CSSCROP, HCL, INFOSYS, SUTHERLAND, TCS and WIPRO.</p>
             <a class="read_more" href="https://gecgudlavalleru.ac.in/"> Read More</a>
    </div>
</div>

<div class="col">
    <div class="card-h-100">
        <h1 class="card-title ">2. SRI SUNFLOWER COLLEGE OF ENGINEERING AND TECHNOLOGY </h1>
        <img src="./assets/images/sunflower.jpg" width="50%" height="350px" class="card-img-top" alt="..."/>
        <div class="card-body">
            <p class="card-text">SRI SUNFLOWER COLLEGE OF ENGINEERING AND TECHNOLOGY is located in krishna district,Lankapalli and affililated with JNTU Kakinada</p>
             <p><b>SSCET ESTABLISHED:</b>2005</p>
             <p><b>SSCET ACCEREDIATION:</b>AICTE</p>
             <p><b>SSCET AFFILIATED:</b>JNTUK</p>
             <p><b>SSCET ELIGIBILITY:</b>10+2 with45%+APEAMCET</p>
             <p><b>SSCET FEE STRUCTURE:</b>2.1Lakhs</p>
             <p><b>SSCET COURSES:</b>CSE, CE, ME, AEROSPACE, AUTOMOBILE, ECE, EEE, RE, CHEMICAL, BIOMEDICAL, and MARINE ENGINEERING </p>
             <p><b>SSCET LOCATION: </b> Ghantasala Mandal, Krishna District, Lankapalli, Andhra Pradesh 521131</p>
             <p><b>SSCET PLACEMENT:</b> ACCENTURE, COGNIZANT, GENPACT, IBM and INFOSYS</p>
             <a class="read_more" href="https://sunflowercet.edu.in/in/"> Read More</a>
    </div>
</div>

<div class="col">
    <div class="card-h-100">
        <h1 class="card-title ">3. VELAGAPUDI RAMAKRISHNA SIDDHARTHA ENGINEERING COLLEGE</h1>
        <img src="./assets/images/velagapudi.jpeg" width="50%" height="350px" class="card-img-top" alt="..."/>
        <div class="card-body">
            <p class="card-text"> VELAGAPUDI RAMAKRISHNA SIDDHARTHA ENGINEERING COLLEGEis located in krishna district,machilipatnam and affililated with JNTU Kakinada</p>
             <p><b>VRSEC  ESTABLISHED:</b>1997</p>
             <p><b>VRSEC  ACCEREDIATION:</b>NACC</p>
             <p><b>VRSEC  AFFILIATED:</b>JNTUK</p>
             <p><b>VRSEC  ELIGIBILITY:</b>10+2 with45%+APEAMCET</p>
             <p><b>VRSEC  FEE STRUCTURE:</b>2.6Lakhs</p>
             <p><b>VRSEC  COURSES:</b>CSE, CE, ME, AEROSPACE, AUTOMOBILE, ECE, EEE, RE, CHEMICAL, BIOMEDICAL, and MARINE ENGINEERING </p>
             <p><b>VRSEC  LOCATION: </b> Vijayawada Machilipatnam, Highway, Chalasani Nagar, Kanuru, Vijayawada, Andhra Pradesh 520007. </p>
             <p><b>VRSEC  PLACEMENT:</b>  AIRTEL, AT&T, AXIS BANK, CAPGEMINI, GENPACT, and GLOBAL EDGE .</p>
             <a class="read_more" href="https://www.vrsiddhartha.ac.in/"> Read More</a>
    </div>
</div>

<div class="col">
    <div class="card-h-100">
        <h1 class="card-title ">4. ANDHRA LOYOLA INSTITUTE OF ENGINEERING AND TECHNOLOGY</h1>
        <img src="./assets/images/andhra layola.jpg" width="50%" height="350px" class="card-img-top" alt="..."/>
        <div class="card-body">
            <p class="card-text">ANDHRA LOYOLA INSTITUTE OF ENGINEERING AND TECHNOLOGY  located in krishna district,machilipatnam and affililated with JNTU Kakinada</p>
             <p><b>ALIET  ESTABLISHED:</b>2008</p>
             <p><b>ALIET  ACCEREDIATION:</b>NACC</p>
             <p><b>ALIET  AFFILIATED:</b>JNTUK</p>
             <p><b>ALIET  ELIGIBILITY:</b>10+2 with45%+APEAMCET</p>
             <p><b>ALIET  FEE STRUCTURE:</b>2.1Lakhs</p>
             <p><b>ALIET  COURSES:</b>CSE, CE, ME, AEROSPACE, AUTOMOBILE, ECE, EEE, RE, CHEMICAL, BIOMEDICAL, and MARINE ENGINEERING </p>
             <p><b>ALIET  LOCATION: </b> ITI Road, Beside Ramesh Hospital, Jayaprakash Nagar, Vijayawada, Andhra Pradesh 520008 </p>
             <p><b>ALIET  PLACEMENT:</b> GENPACT, GOOGLE, HDFC BANK, IBM, TCS, SYNTEL, NOVACOM, and DIGITRONICS  </p>
             <a class="read_more" href="https://www.aliet.ac.in/"> Read More</a>
    </div>
</div>
