<div class="col">
    <div class="card-h-100">
        <h1 class="card-title ">1.Sri Balaji PG College</h1>
        <img src="./assets/images/sri balaji.jpg" width="50%" height="350px" class="card-img-top" alt="..."/>
        <div class="card-body">
            <p class="card-text">Sri Balaji PG College is located in Anantapur, Andhrapradesh,</p>
             <p><b>SBLJ ESTABLISHED:</b>2001</p>
             <p><b>SBLJ ACCEREDIATION:</b>AICTE</p>
             <p><b>SBLJ AFFILIATED:</b>JNTUA</p>
             <p><b>SBLJ ELIGIBILITY:</b>Graduation with45%+ APICET</p>
             <p><b>SBLJ FEE STRUCTURE:</b>1.8Lakh</p>
             <p><b>SBLJ COURSES:</b>marketing, finance, human resource, systems</p>
             <p><b>SBLJ LOCATION: </b> Rudrampet, Alamur, Anantapur, Andhra Pradesh 515002</p>
             <p><b>SBLJ PLACEMENT:</b>TCS, Wipro, IBM </p>
             <a class="read_more" href="https://www.icbse.com/colleges/sri-balaji-pg-college-mba-zekn2e">Read More</a>
    </div>
</div>


<div class="col">
    <div class="card-h-100">
        <h1 class="card-title ">2.Sree Vyshnavi MBA College</h1>
        <img src="./assets/images/vyshnavi.jpg" width="50%" height="350px" class="card-img-top" alt="..."/>
        <div class="card-body">
            <p class="card-text">Sree Vyshnavi MBA College is located in Anantapur, Andhrapradesh,</p>
             <p><b>SVMC ESTABLISHED:</b>2010</p>
             <p><b>SVMC ACCEREDIATION:</b>AICTE</p>
             <p><b>SVMC AFFILIATED:</b>SKU</p>
             <p><b>SVMC ELIGIBILITY:</b>Graduation with45%+ APICET</p>
             <p><b>SVMC FEE STRUCTURE:</b>1.8Lakh</p>
             <p><b>SVMC COURSES:</b> Systems Management, HR, Corporate Social Responsibility, Safety Management, Energy and Environment.</p>
             <p><b>SVMC LOCATION: </b> D.No 1-564, Janda Street, Anantapur, Gooty, Andhra Pradesh 515401</p>
             <p><b>SVMC PLACEMENT:</b>Tech Mahindra, HCL, CTS </p>
             <a class="read_more" href="https://www.svmbac.org/">Read More</a>
    </div>
</div>

<div class="col">
    <div class="card-h-100">
        <h1 class="card-title ">3.Ananthalakshmi Institute of Technology and Sciences</h1>
        <img src="./assets/images/anantha.jpg" width="50%" height="350px" class="card-img-top" alt="..."/>
        <div class="card-body">
            <p class="card-text">Ananthalakshmi Institute of Technology and Sciences, is located in Anantapur,Andhrapradesh</p>
             <p><b>ALITS ESTABLISHED:</b>2008</p>
             <p><b>ALITS ACCEREDIATION:</b>AICTE</p>
             <p><b>ALITS AFFILIATED:</b>JNTUA</p>
             <p><b>ALITS ELIGIBILITY:</b>Graduation with45%+ APICET</p>
             <p><b>ALITS FEE STRUCTURE:</b>80K</p>
             <p><b>ALITS COURSES:</b> Systems Management, HR, Corporate Social Responsibility, Safety Management, Energy and Environment.</p>
             <p><b>ALITS LOCATION: </b>Near S.K. University, Anantpur, Anantapur – Tirupati Hwy, Itikalapalli, Andhra Pradesh 515721 </p>
             <p><b>ALITS PLACEMENT:</b>TCS, INFOSYS, HCL </p>
             <a class="read_more" href="http://alits.ac.in/">Read More</a>
    </div>
</div>


<div class="col">
    <div class="card-h-100">
        <h1 class="card-title ">4.Raghavendra Institute of Management Sciences</h1>
        <img src="./assets/images/ragavendra.jpg" width="50%" height="350px" class="card-img-top" alt="..."/>
        <div class="card-body">
            <p class="card-text">Raghavendra Institute of Management Sciences, is located in Anantapur,Andhrapradesh</p>
             <p><b>RIMS ESTABLISHED:</b>2015</p>
             <p><b>RIMS ACCEREDIATION:</b>AICTE</p>
             <p><b>RIMS AFFILIATED:</b>JNTUA</p>
             <p><b>RIMS ELIGIBILITY:</b>Graduation with45%+ APICET</p>
             <p><b>RIMS FEE STRUCTURE:</b>1.8Lakh</p>
             <p><b>RIMS COURSES:</b> Systems Management, HR.</p>
             <p><b>RIMS LOCATION: </b> Krishnamreddy Palli Cross, Chiyyedu Post, Anantapur Rural, Anantapur District – 515 721, Andhra Pradesh.</p>
             <p><b>RIMS PLACEMENT:</b> Mphasis, Kelly technologies, LLABZ technology, Broadridge financial sol, ISSL CPG, HDFC bank, BSCPL infrastructure ltd </p>
             <a class="read_more" href="http://www.rimsatp.org/">Read More</a>
    </div>
</div>

