
<div class="col">
    <div class="card-h-100">
        <h1 class="card-title ">1.JAWAHARLAL NEHRU TENCHNOLOGY UNIVERSITY KAKINADA</h1>
        <img src="./assets/images/jntuk.jpeg" width="50%" height="350px" class="card-img-top" alt="..."/>
        <div class="card-body">
            <p class="card-text">Jawaharlal nehru technology university Kakinada is located in kakinada,Andhrapradesh,Eastgodavari district,</p>
             <p><b>JNTUK ESTABLISHED:</b>1972</p>
             <p><b>JNTUK ACCEREDIATION:</b>NACC</p>
             <p><b>JNTUK AFFILIATED:</b>State University</p>
             <p><b>JNTUK ELIGIBILITY:</b>10+2 with45%+APEAMCET</p>
             <p><b>JNTUK FEE STRUCTURE:</b>10K</p>
             <p><b>JNTUK COURSES:</b>CSE,ECE,EEE,ME,CE</p>
             <p><b>JNTUK LOCATION: </b>Jawaharlal Nehru Technological University, Kakinada, Andhra Pradesh 533003.</p>
             <p><b>JNTUK PLACEMENT:</b>CSIR india,Infosys,Wipro,ITC,TCS,Honeywell,Cognizant,CTS.</p>
             <a class="read_more" href="http://www.jntucek.org/"> Read More</a>
    </div>
</div>

<div class="col">
    <div class="card-h-100">
        <h1 class="card-title ">2.ADITHYA ENGINEERING COLLEGE </h1>
        <img src="./assets/images/adithya.jpg" width="50%" height="350px" class="card-img-top" alt="..."/>
        <div class="card-body">
            <p class="card-text">Adithya engineering college is located in Surampalem ,Andhrapradesh,Eastgodavari district,</p>
             <p><b>ADITHYA ESTABLISHED:</b>2001</p>
             <p><b>ADITHYA ACCEREDIATION:</b>NACC</p>
             <p><b>ADITHYA AFFILIATED:</b>JNTUK</p>
             <p><b>ADITHYA ELIGIBILITY:</b>10+2 with45%+APEAMCET</p>
             <p><b>ADITHYA FEE STRUCTURE:</b>1.5Lakh</p>
             <p><b>ADITHYA COURSES:</b>CSE,ECE,EEE,ME,CE</p>
             <p><b>ADITHYA LOCATION: </b>Aditya Nagar, ADB Road, Surampalem – Pin:533437 East-Godavari District, Andhra Pradesh,</p>
             <p><b>ADITHYA PLACEMENT:</b>Tech Mahindra,Wipro,Hexaware,Cognizant,Infosys,Woosu Automotive,Inftq.</p>
             <a class="read_more" href="https://www.aec.edu.in/">Read More</a>
    </div>
</div>


<div class="col">
    <div class="card-h-100">
        <h1 class="card-title ">3.GODAVARI INSTITUTE OF ENGINEERING AND TECHNOLOGY</h1>
        <img src="./assets/images/giet.jpg" width="50%" height="350px" class="card-img-top" alt="..."/>
        <div class="card-body">
            <p class="card-text">Godavari institute of engineering and technology is located in Andhrapradesh,Eastgodavari district,</p>
             <p><b>GIET ESTABLISHED:</b>1998</p>
             <p><b>GIET ACCEREDIATION:</b>NACC</p>
             <p><b>GIET AFFILIATED:</b>JNTUK</p>
             <p><b>GIET ELIGIBILITY:</b>10+2 with45%+APEAMCET</p>
             <p><b>GIET FEE STRUCTURE:</b>45K</p>
             <p><b>GIET COURSES:</b>CSE,ECE,EEE,ME,CE</p>
             <p><b>GIET LOCATION: </b>NH – 16, Chaitanya Knowledge City, Rajahmundry – 533296 Andhra Pradesh, India.</p>
             <p><b>GIET PLACEMENT:</b>TCS,Virtusa,Wipro,HCL,Capgemini,Genpact,Oracle,IBM,L&T,Honeywell,Infosys.</p>
             <a class="read_more" href="http://www.giet.ac.in/">Read More</a>
    </div>
</div>


<div class="col">
    <div class="card-h-100">
        <h1 class="card-title ">4.KAKINADA INSTITUTE OF ENGINEERING AND TECHNOLOGY</h1>
        <img src="./assets/images/kiet.1.bmp" width="50%" height="350px" class="card-img-top" alt="..."/>
        <div class="card-body">
            <p class="card-text">KAKINADA institute of engineering and technology is located in Andhrapradesh,Eastgodavari district,</p>
             <p><b>KIET ESTABLISHED:</b>2001</p>
             <p><b>KIET ACCEREDIATION:</b>NACC</p>
             <p><b>KIET AFFILIATED:</b>JNTUK</p>
             <p><b>KIET ELIGIBILITY:</b>10+2 with45%+APEAMCET</p>
             <p><b>KIET FEE STRUCTURE:</b>45K</p>
             <p><b>KIET COURSES:</b>CSE,ECE,EEE,ME,CE</p>
             <p><b>KIET LOCATION: </b>KKD-Yanam Rd Corangi, Andhra Pradesh-533461.</p>
             <p><b>KIET PLACEMENT:</b>TCS, IBM, Infosys, App labs, HCl, Wipro, Mahendra Satyam, Genpact, Syntel, Sify, CSS, Opus, Shoppers stop.</p>
             <a class="read_more" href="http://kietgroup.com/">Read More</a>
    </div>
</div>


