<div class="col">
    <div class="card-h-100">
        <h1 class="card-title ">1. ANDHRA LOYOLA INSTITUTE OF ENGINEERING AND TECHNOLOGY</h1>
        <img src="./assets/images/andhra layola.1.jpg" width="50%" height="350px" class="card-img-top" alt="..."/>
        <div class="card-body">
            <p class="card-text">ANDHRA LOYOLA INSTITUTE OF ENGINEERING AND TECHNOLOGY  located in krishna district,machilipatnam and affililated with JNTU Kakinada</p>
             <p><b>ALIET  ESTABLISHED:</b>1998</p>
             <p><b>ALIET  ACCEREDIATION:</b>NACC</p>
             <p><b>ALIET  AFFILIATED:</b>KU</p>
             <p><b>ALIET  ELIGIBILITY:</b>50% +GAT/ CMAT/ CAT/ ICET </p>
             <p><b>ALIET  FEE STRUCTURE:</b>1.1Lakhs</p>
             <p><b>ALIET  COURSES:</b> Business & Management Studies, MBA in HR (Human Resource), MBA in Finance, MBA in IT & Systems, NGO Management, MBA in Sales & Marketing, Agriculture & Food Business, MBA in Operations, 
                MBA in finance, Supply Chain, Digital Marketing </p>
             <p><b>ALIET  LOCATION: </b> ITI Road, Beside Ramesh Hospital, Jayaprakash Nagar, Vijayawada, Andhra Pradesh 520008 </p>
             <p><b>ALIET  PLACEMENT:</b> GENPACT, GOOGLE, HDFC BANK, IBM, TCS, SYNTEL, NOVACOM, and DIGITRONICS  </p>
             <a class="read_more" href="https://www.aliet.ac.in/"> Read More</a>
    </div>
</div>

<div class="col">
    <div class="card-h-100">
        <h1 class="card-title ">2. GUDLAVALLERU ENGINEERING COLLEGE </h1>
        <img src="./assets/images/gudlavalleru.1.jpg" width="50%" height="350px" class="card-img-top" alt="..."/>
        <div class="card-body">
            <p class="card-text">GUDLAVALLERU ENGINEERING COLLEGE is located in krishna district ,vijayawada and affililated with JNTU Kakinada</p>
             <p><b>GEC ESTABLISHED:</b>1998</p>
             <p><b>GEC ACCEREDIATION:</b>NACC</p>
             <p><b>GEC AFFILIATED:</b>JNTUK</p>
             <p><b>GEC ELIGIBILITY:</b>50%+APICET</p>
             <p><b>GEC FEE STRUCTURE:</b>1.7Lakhs</p>
             <p><b>GEC COURSES:</b>Business & Management Studies, MBA in HR (Human Resource), MBA in Finance, MBA in IT & Systems, NGO Management, MBA in Sales & Marketing, Agriculture & Food Business, MBA in Operations, 
                MBA in finance, Supply Chain, Digital Marketing</p>
             <p><b>GEC LOCATION: </b>Sheshadri Rao Knowledge Village, Gudlavalleru, Vijayawada, Andhra Pradesh 521356</p>
             <p><b>GEC PLACEMENT:</b>CSSCROP, HCL, INFOSYS, SUTHERLAND, TCS and WIPRO.</p>
             <a class="read_more" href="https://gecgudlavalleru.ac.in/"> Read More</a>
    </div>
</div>

<div class="col">
    <div class="card-h-100">
        <h1 class="card-title ">3. PRASAD V.POTLURI SIDDHARTHA INSTITUTE OF TECHNOLOGY </h1>
        <img src="./assets/images/prasad.jpg" width="50%" height="350px" class="card-img-top" alt="..."/>
        <div class="card-body">
            <p class="card-text">PRASAD V.POTLURI SIDDHARTHA INSTITUTE OF TECHNOLOGYkrishna district ,vijayawada and affililated with JNTU Kakinada</p>
             <p><b>PVPSIT  ESTABLISHED:</b>1998</p>
             <p><b>PVPSIT  ACCEREDIATION:</b>NACC</p>
             <p><b>PVPSIT  AFFILIATED:</b>JNTUK</p>
             <p><b>PVPSIT  ELIGIBILITY:</b>50%+APICET</p>
             <p><b>PVPSIT  FEE STRUCTURE:</b>1.48Lakhs</p>
             <p><b>PVPSIT  COURSES:</b>Business & Management Studies, MBA in HR (Human Resource), MBA in Finance, MBA in IT & Systems, NGO Management, MBA in Sales & Marketing, Agriculture & Food Business, MBA in Operations, 
                                   MBA in finance, Supply Chain, Digital Marketing</p>
             <p><b>PVPSIT  LOCATION: </b>Chalasani Nagar, Kanuru, Vijayawada, Andhra Pradesh 520007</p>
             <p><b>PVPSIT  PLACEMENT:</b>AMAZON, FLIPKART, HDFC BANK, and RELIANCE.</p>
             <a class="read_more" href="http://www.pvpsiddhartha.ac.in/"> Read More</a>
    </div>
</div>

<div class="col">
    <div class="card-h-100">
        <h1 class="card-title ">4. LAKKIREDDY BALI REDDY COLLEGE OF ENGINEERING</h1>
        <img src="./assets/images/lakki bali.jpg" width="50%" height="350px" class="card-img-top" alt="..."/>
        <div class="card-body">
            <p class="card-text">LAKKIREDDY BALI REDDY COLLEGE OF ENGINEERING krishna district ,vijayawada and affililated with JNTU Kakinada</p>
             <p><b>LBRCE  ESTABLISHED:</b>1998</p>
             <p><b>LBRCE  ACCEREDIATION:</b>NACC</p>
             <p><b>LBRCE  AFFILIATED:</b>JNTUK</p>
             <p><b>LBRCE  ELIGIBILITY:</b>50%+APICET</p>
             <p><b>LBRCE  FEE STRUCTURE:</b>1.21Lakhs</p>
             <p><b>LBRCE  COURSES:</b>Business & Management Studies, MBA in HR (Human Resource), MBA in Finance, MBA in IT & Systems, NGO Management, MBA in Sales & Marketing, Agriculture & Food Business, MBA in Operations, 
                                   MBA in finance, Supply Chain, Digital Marketing</p>
             <p><b>LBRCE  LOCATION: </b> L.B. Reddy Nagar, Krishna District, Mylavaram, Andhra Pradesh 521230</p>
             <p><b>LBRCE  PLACEMENT:</b>TCS, MIRACLE, SYNTEL, HYUNDAI, CSSCROP, GLOBAL,SUTHERLAND and OSMOSYS</p>
             <a class="read_more" href="https://lbrce.ac.in/">Read More</a>
    </div>
</div>
