<div class="col">
    <div class="card-h-100">
        <h1 class="card-title ">1. SRI VENKATESWARA COLLEGE OF ENGINEERING AND TECHNOLOGY</h1>
        <img src="../../assets/images/sri venky.jpg" width="50%" height="350px" class="card-img-top" alt="..."/>
        <div class="card-body">
            <p class="card-text">SRI VENKATESWARA COLLEGE OF ENGINEERING AND TECHNOLOGY is located in chittoor,Andhrapradesh</p>
             <p><b>SVCET ESTABLISHED:</b>2007</p>
             <p><b>SVCET ACCEREDIATION:</b>NACC</p>
             <p><b>SVCET AFFILIATED:</b>JNTUA</p>
             <p><b>SVCET ELIGIBILITY:</b>10+2 with45%+APEAMCET</p>
             <p><b>SVCET FEE STRUCTURE:</b>3.5Lakhs</p>
             <p><b>SVCET COURSES:</b> CSE, ECE, ME, EE, IT, ECE, PE, VLSI DESIGN</p>
             <p><b>SVCET LOCATION: </b> R.V.S. Nagar, Tirupati Road, Chittoor, Andhra Pradesh 517127</p>
             <p><b>SVCET PLACEMENT:</b>COGNIZANT, E4E, GENPACT, HCL, SYNTEL, and TECH MAHINDRA</p>
             <a class="read_more" href="https://www.sriventech.ac.in/"> Read More</a>
    </div>
</div>

<div class="col">
    <div class="card-h-100">
        <h1 class="card-title ">2. MJR COLLEGE OF ENGINEERING AND TECHNOLOGY</h1>
        <img src="../../assets/images/mjr.jpg" width="50%" height="350px" class="card-img-top" alt="..."/>
        <div class="card-body">
            <p class="card-text">MJR COLLEGE OF ENGINEERING AND TECHNOLOGY</p>
             <p><b>MJRCET ESTABLISHED:</b>2007</p>
             <p><b>MJRCET ACCEREDIATION:</b>NACC</p>
             <p><b>MJRCET AFFILIATED:</b>JNTUA</p>
             <p><b>MJRCET ELIGIBILITY:</b>10+2 with45%+APEAMCET</p>
             <p><b>MJRCET FEE STRUCTURE:</b>2Lakhs</p>
             <p><b>MJRCET COURSES:</b> CE, CSE, EEE, ECE, ME, EE</p>
             <p><b>MJRCET LOCATION: </b>Chittoor Road, near Agraharam, Piler, Andhra Pradesh 517214</p>
             <p><b>MJRCET PLACEMENT:</b> ACCENTURE, COGNIZANT, TECH MAHINDRA, INFOSYS, and IBM</p>
             <a class="read_more" href="https://www.mjrcet.com/"> Read More</a>
    </div>
</div>

<div class="col">
    <div class="card-h-100">
        <h1 class="card-title ">3. INDIAN INSTITUTE OF TECHNOLOGY</h1>
        <img src="../../assets/images/iit.jpeg" width="50%" height="350px" class="card-img-top" alt="..."/>
        <div class="card-body">
            <p class="card-text">INDIAN INSTITUTE OF TECHNOLOGY</p>
             <p><b>IIT ESTABLISHED:</b>2015</p>
             <p><b>IIT ACCEREDIATION:</b>NACC</p>
             <p><b>IIT ELIGIBILITY:</b>10+2  with 75% +JEE</p>
             <p><b>IIT FEE STRUCTURE:</b>4.5Lakhs</p>
             <p><b>IIT COURSES:</b> EE, CSE, ME, CE, ENV ENG, MAT ENG, SE, TE</p>
             <p><b>IIT LOCATION: </b>Tirupati – Renigunta Road, Post, Settipalli, Tirupati, Andhra Pradesh 517506</p>
             <p><b>IIT PLACEMENT:</b> MICROSOFT, APPLE, INFOSYS, TCS, GENPACT, WIPRO, etc.., </p>
             <a class="read_more" href="http://www.iiits.ac.in/"> Read More</a>
    </div>
</div>

<div class="col">
    <div class="card-h-100">
        <h1 class="card-title ">4. SREENIVASA INSTITUTE OF TECHNOLOGY AND MANAGEMENT </h1>
        <img src="../../assets/images/sreenivasa.png" width="50%" height="350px" class="card-img-top" alt="..."/>
        <div class="card-body">
            <p class="card-text">SREENIVASA INSTITUTE OF TECHNOLOGY AND MANAGEMENT is located in chittoor,Andhrapradesh</p>
             <p><b>SITMS ESTABLISHED:</b>1998</p>
             <p><b>SITMS ACCEREDIATION:</b>NBA</p>
             <p><b>SITMS AFFILIATED:</b>JNTUA</p>
             <p><b>SITMS ELIGIBILITY:</b>10+2 with45%+APEAMCET</p>
             <p><b>SITMS FEE STRUCTURE:</b>2.3Lakhs</p>
             <p><b>SITMS COURSES:</b> CSE, ECE, ME, EE, IT, ECE, PE, VLSI DESIGN</p>
             <p><b>SITMS LOCATION: </b> Dr. Visweswariah Road, Bangalore-Tirupathi Bye-pass Road, Murukambattu, Andhra Pradesh 517127</p>
             <p><b>SITMS PLACEMENT:</b> ACCENTURE, IBM, INFOSYS, ORACLE, TCS, WIPRO, and COGNIZANT</p>
             <a class="read_more" href="http://www.sitams.org/"> Read More</a>
    </div>
</div>

<div class="col">
    <div class="card-h-100">
        <h1 class="card-title ">5. KUPPAM ENGINEERING COLLEGE</h1>
        <img src="../../assets/images/kuppam.jpeg" width="50%" height="350px" class="card-img-top" alt="..."/>
        <div class="card-body">
            <p class="card-text">KUPPAM ENGINEERING COLLEGE is located in chittoor,Andhrapradesh</p>
             <p><b>KUPPAM ESTABLISHED:</b>2001</p>
             <p><b>KUPPAM ACCEREDIATION:</b>NACC</p>
             <p><b>KUPPAM AFFILIATED:</b>JNTUA</p>
             <p><b>KUPPAM ELIGIBILITY:</b>10+2 with45%+TSEAMCET</p>
             <p><b>KUPPAM FEE STRUCTURE:</b>2.3Lakhs</p>
             <p><b>KUPPAM COURSES:</b> CSE, ECE, ME, EE, IT, ECE, PE, VLSI DESIGN</p>
             <p><b>KUPPAM LOCATION: </b>Chinna Boggupalle, Andhra Pradesh 517425</p>
             <p><b>KUPPAM PLACEMENT:</b>ACCENTURE, CAPGEMINI, COGNIZANT, HCL, IBM, TCS, WIPRO, INFOSYS, and ORACLE </p>
             <a class="read_more" href="https://www.kec.ac.in/"> Read More</a>
    </div>
</div>