<div class="col">
    <div class="card-h-100">
        <h1 class="card-title ">1.Lendi Institute of Engineering & Technology</h1>
        <img src="../../assets/images/lendi.jpg" width="50%" height="350px" class="card-img-top" alt="..."/>
        <div class="card-body">
            <p class="card-text">Lendi Institute of Engineering & Technology  is located in Vizianagaram</p>
             <p><b>LENDI ESTABLISHED:</b>2008</p>
             <p><b>LENDI ACCEREDIATION:</b>NACC</p>
             <p><b>LENDI AFFILIATED:</b>JNTUK</p>
             <p><b>LENDI ELIGIBILITY:</b>10+2 with APEAMCET</p>
             <p><b>LENDI FEE STRUCTURE:</b>2.41Lakhs</p>
             <p><b>LENDI COURSES:</b>CSE,ECE,ME,CE,IT.EEE</p>
             <p><b>LENDI LOCATION: </b>Vizag-Viziangaram Road-NH-43,Denkada, Jonnada, Andhra Pradesh 535005</p>
             <p><b>LENDI PLACEMENT:</b>Zenq,Wipro,Virtusa,Mindtree,Syntel,Infosys,TCS,Cognizant </p>
             <a class="read_more" href="https://www.lendi.org/"> Read More</a>
    </div>
</div>


<div class="col">
    <div class="card-h-100">
        <h1 class="card-title ">2.University of Engineering</h1>
        <img src="../../assets/images/university.jpg" width="50%" height="350px" class="card-img-top" alt="..."/>
        <div class="card-body">
            <p class="card-text">University of Engineering  is located in Vizianagaram</p>
             <p><b>UNIVERSITY ESTABLISHED:</b>2007</p>
             <p><b>UNIVERSITY ACCEREDIATION:</b>AICTE</p>
             <p><b>UNIVERSITY AFFILIATED:</b>JNTUK</p>
             <p><b>UNIVERSITY ELIGIBILITY:</b>10+2 with APEAMCET</p>
             <p><b>UNIVERSITY FEE STRUCTURE:</b>1.2Lakhs</p>
             <p><b>UNIVERSITY COURSES:</b>CSE,ECE,ME,CE,IT,EEE,PE,SE,</p>
             <p><b>UNIVERSITY LOCATION: </b>jntu vizianagaramVillage :, Dwarapudi, Andhra Pradesh 535003</p>
             <p><b>UNIVERSITY PLACEMENT:</b>Apps Associate,Hyundai,Miracle,TCS, </p>
             <a class="read_more" href="https://jntukucev.ac.in/"> Read More</a>
    </div>
</div>


<div class="col">
    <div class="card-h-100">
        <h1 class="card-title ">3.Coastal Institute of Technology and Management</h1>
        <img src="../../assets/images/coastal.jpg" width="50%" height="350px" class="card-img-top" alt="..."/>
        <div class="card-body">
            <p class="card-text">Coastal Institute of Technology and Management  is located in Vizianagaram</p>
             <p><b>CITM ESTABLISHED:</b>2008</p>
             <p><b>CITM ACCEREDIATION:</b>AICTE</p>
             <p><b>CITM AFFILIATED:</b>JNTUK</p>
             <p><b>CITM ELIGIBILITY:</b>10+2 with APEAMCET</p>
             <p><b>CITM FEE STRUCTURE:</b>1.6Lakhs</p>
             <p><b>CITM COURSES:</b>CSE,ECE,ME,CE</p>
             <p><b>CITM LOCATION: </b>Narapam, Veerabhadrapuram (P), Kothavalasa M, Vizianagaram, Andhra Pradesh 535183</p>
             <p><b>CITM PLACEMENT:</b>Infosys,Tech Mahindra,HCL </p>
             <a class="read_more" href="http://www.citm.ac.in/"> Read More</a>
    </div>
</div>

<div class="col">
    <div class="card-h-100">
        <h1 class="card-title ">4.Maharaj Vijayaram Gajapathi Raj College of Engineering </h1>
        <img src="../../assets/images/maharaja.jpg" width="50%" height="350px" class="card-img-top" alt="..."/>
        <div class="card-body">
            <p class="card-text">Maharaj Vijayaram Gajapathi Raj College of Engineering   is located in Vizianagaram</p>
             <p><b>MAHARAJA ESTABLISHED:</b>1879</p>
             <p><b>MAHARAJA ACCEREDIATION:</b>NACC</p>
             <p><b>MAHARAJA AFFILIATED:</b>JNTUK</p>
             <p><b>MAHARAJA ELIGIBILITY:</b>10+2 with APEAMCET</p>
             <p><b>MAHARAJA FEE STRUCTURE:</b>3.6Lakhs</p>
             <p><b>MAHARAJA COURSES:</b>CSE,ECE,ME,CE</p>
             <p><b>MAHARAJA LOCATION: </b>Tupakula Street, Kaspa West, Vizianagaram, Andhra Pradesh 535001</p>
             <p><b>MAHARAJA PLACEMENT:</b>Infosys,Tech Mahindra,HCL,Deloitte,Amazon,Samsung </p>
             <a class="read_more" href=" http://www.mracollegevzm.com/"> Read More</a>
    </div>
</div>
