<div class="col">
    <div class="card-h-100">
        <h1 class="card-title ">1.ABR College of Engineering and Technology </h1>
        <img src="../../assets/images/abr.jpg" width="50%" height="350px" class="card-img-top" alt="..."/>
        <div class="card-body">
            <p class="card-text">ABR College of Engineering and Technology  is located in Prakasam and affililated with JNTU Kakinada</p>
             <p><b>ABR  ESTABLISHED:</b>2008</p>
             <p><b>ABR  ACCEREDIATION:</b>AICTE</p>
             <p><b>ABR  AFFILIATED:</b>JNTUK</p>
             <p><b>ABR  ELIGIBILITY:</b>Graduation+ APICET/CAT/XAT</p>
             <p><b>ABR  FEE STRUCTURE:</b>1.5Lakh</p>
             <p><b>ABR  COURSES:</b>MBA</p>
             <p><b>ABR  LOCATION: </b>ABR Nagar, Chinairlapadu Village, Kanigiri – Kandukur Rd, Kanigiri, Andhra Pradesh 523254</p>
             <p><b>ABR  PLACEMENT:</b>TCS, CTS, Infosys, and Beta Bulls.</p>
             <a class="read_more" href="https://www.facebook.com/AbrCollegeOFEngineeringTechnology/"> Read More</a>
    </div>
</div>

<div class="col">
    <div class="card-h-100">
        <h1 class="card-title ">2. Dr. Samuel George Institute of Engineering & Technology </h1>
        <img src="../../assets/images/sagi.jpg" width="50%" height="350px" class="card-img-top" alt="..."/>
        <div class="card-body">
            <p class="card-text">Dr. Samuel George Institute of Engineering & Technology  is located in Prakasam and affililated with JNTU Kakinada</p>
             <p><b>SGIT  ESTABLISHED:</b>1997</p>
             <p><b>SGIT  ACCEREDIATION:</b>AICTE</p>
             <p><b>SGIT  AFFILIATED:</b>JNTUK</p>
             <p><b>SGIT  ELIGIBILITY:</b>Graduation+ APICET/CAT/XAT</p>
             <p><b>SGIT  FEE STRUCTURE:</b>1.2-2Lakh</p>
             <p><b>SGIT  COURSES:</b>MBA</p>
             <p><b>SGIT  LOCATION: </b>Darimadugu Village, Markapur, Prakasam, Andhra Pradesh 523316</p>
             <p><b>SGIT  PLACEMENT:</b>HP</p>
             <a class="read_more" href="https://drsgiet.ac.in/"> Read More</a>
    </div>
</div>

<div class="col">
    <div class="card-h-100">
        <h1 class="card-title "> 3. PACE Institute of Technology & Sciences </h1>
        <img src="../../assets/images/pace.jpeg" width="50%" height="350px" class="card-img-top" alt="..."/>
        <div class="card-body">
            <p class="card-text">PACE Institute of Technology & Sciences  is located in Prakasam and affililated with JNTU Kakinada</p>
             <p><b>PACE  ESTABLISHED:</b>2007</p>
             <p><b>PACE  ACCEREDIATION:</b>AICTE</p>
             <p><b>PACE  AFFILIATED:</b>JNTUK</p>
             <p><b>PACE  ELIGIBILITY:</b>Graduation +APICET</p>
             <p><b>PACE  FEE STRUCTURE:</b>1.5Lakh</p>
             <p><b>PACE  COURSES:</b>MBA</p>
             <p><b>PACE  LOCATION: </b>NH-5, near Valluramma Temple, Ongole, Andhra Pradesh 523272</p>
             <p><b>PACE  PLACEMENT:</b> DeltaX, Worksbot Applications, InfytQ, Syrma Technologies, Mindtree, Pivox Labs, Snovasys, Wipro</p>
             <a class="read_more" href="http://www.pace.ac.in/"> Read More</a>
    </div>
</div>

<div class="col">
    <div class="card-h-100">
        <h1 class="card-title "> 4. QIS College of Engineering and Technology </h1>
        <img src="../../assets/images/qiscet.jpg" width="50%" height="350px" class="card-img-top" alt="..."/>
        <div class="card-body">
            <p class="card-text"> QIS College of Engineering and Technology  is located in Prakasam and affililated with JNTU Kakinada</p>
             <p><b>QIS CET  ESTABLISHED:</b>1998</p>
             <p><b>QIS CET  ACCEREDIATION:</b>AICTE</p>
             <p><b>QIS CET  AFFILIATED:</b>JNTUK</p>
             <p><b>QIS CET  ELIGIBILITY:</b>Graduation +APICET</p>
             <p><b>QIS CET  FEE STRUCTURE:</b>1.5Lakh</p>
             <p><b>QIS CET  COURSES:</b>MARKETING MANAGEMENT, FINANCIAL MANAGEMENT, HUMAN RESOURCE MANAGEMENT, SYSTEMS MANAGEMENT, OPERATIONS, AND LOGISTICS MANAGEMENT, BUSINESS ENTREPRENEURSHIP</p>
             <p><b>QIS CET  LOCATION: </b>Ongole, Vegamukkapalem, Andhra Pradesh 523272</p>
             <p><b>QIS CET  PLACEMENT:</b>Wipro, Infosys, Nichehands Technologies, Cognizant, Genpact, Eidiko Systems, IBM, TechMahindra, etc</p>
             <a class="read_more" href="https://qiscet.edu.in/qiscet/"> Read More</a>
    </div>
</div>
