<div class="col">
    <div class="card-h-100">
        <h1 class="card-title ">1.SIR C R REDDY COLLEGE OF ENGINEERING</h1>
        <img src="./assets/images/cr reddy.1.jpg" width="50%" height="350px" class="card-img-top" alt="..."/>
        <div class="card-body">
            <p class="card-text">Sir c r reddy college of engineering is located in Eluru,Andhrapradesh,WestGodavari district,permanently affiliated with JNTU Kakinada </p>
             <p><b>C R REDDY ESTABLISHED:</b>1989</p>
             <p><b>C R REDDY ACCEREDIATION:</b>NACC</p>
             <p><b>C R REDDY AFFILIATED:</b>JNTUK</p>
             <p><b>C R REDDY ELIGIBILITY:</b>Graduation with45%+APICET</p>
             <p><b>C R REDDY FEE STRRUCTURE:</b>40K</p>
             <p><b>C R REDDY COURSES:</b>MBA,PGDM-F,PGDM-M,PGDM-HR </p>
             <p><b>C R REDDY Location: </b>Eluru 534007,Andhrapradesh</p>
             <p><b>C R REDDY Placement:</b>Surtherland Global Solution,Capgemini,Accenture,Tcs,Amazon,Wipro,TechMahindra,Cognizant,Infosys</p>
             <a class="read_more" href="https://www.sircrrengg.ac.in/index.php?option=com_content&view=article&id=40&Itemid=539">Read more</a>
            </div>
</div>

<div class="col">
    <div class="card-h-100">
        <h1 class="card-title justify-content-center">2.SASI INSTITUTE OF TECHNOLOGY & ENGINEERING</h1>
        <img src="./assets/images/sasi.jpg" width="50%" height="350px" class="card-img-top" alt="..."/>
        <div class="card-body">
            <p class="card-text">Sasi institute of technology & engineering is located in Tadepalligudem,Andhrapradesh,WestGodavari district </p>
             <p><b>SRKR ESTABLISHED:</b>2002</p>
             <p><b>SRKR ACCEREDIATION:</b>NACC</p>
             <p><b>SRKR AFFILIATED:</b>JNTUK</p>
             <p><b>SRKR ELIGIBILITY:</b>Graduation with45%+APICET</p>
             <p><b>SRKR FEE STRUCTURE:</b>68K</p>
             <p><b>SRKR COURSES:</b></p>
             <p><b>SRKR Location: </b> Near Aerodrome, Tadepalligudem- 534101West Godavari District, Andhra Pradesh.</p>
             <p><b>SRKR Placement:</b>Tata Consultancy Services,Infosys,Mindtree,Genpact,Syntel,CTS,HCL,Wipro.</p>
             <a class="read_more" href="http://sasi.ac.in/departments/mba.html">Read more</a>
    </div>
</div>


<div class="col">
    <div class="card-h-100">
        <h1 class="card-title">3.SRI VASAVI ENGINEERING COLLEGE</h1>
        <img src="./assets/images/sri vasavi.1.png" width="50%" height="350px" class="card-img-top" alt="..."/>
        <div class="card-body">              
            <p class="card-text">Sri vasavi engineering college is located in pedatadepalli, Andhrapradesh,WestGodavari district and affiliatedwith JNTU Kakinada </p>
             <p><b>VASAVI ESTABLISHED:</b>2001</p>
             <p><b>VASAVI ACCEREDIATION:</b>NACC</p>
             <p><b>VASAVI AFFILIATED:</b>JNTUK</p>
             <p><b>VASAVI ELIGIBILITY:</b>Graduation with45%+APICET</p>
             <p><b>VASAVI FEE STRUCTURE:</b>30K</p>
             <p><b>VASAVI COURSES:</b></p>
             <p><b>VASAVI Location: </b>pedatadepalli.tedepalligudem ,Andhrapradesh 534101</p>
             <p><b>VASAVI Placement:</b>NTT DATA,Flipkart,L&T,NALsoft,Technovert,Tcs,VEM Technologies,HCL</p>
             <a class="read_more" href="https://www.srivasavi.ac.in/departments/self-finance/business-management">Read more</a>
    </div>
</div>


<div class="col">
    <div class="card-h-100">
        <h1 class="card-title ">4.VISHNU INSTITUTE OF TECHNOLOGY</h1>
        <img src="../../assets/images/vishnu.1.jpg" width="50%" height="350px" class="card-img-top" alt="..."/>
        <div class="card-body">
            <p class="card-text"> Vishnu institute of technology is located in Bhimavaram,Andhrapradesh,Westgodavari district,permanently affiliated wth JNTU Kakinada</p>
             <p><b>VISHNU ESTABLISHED:</b>2008</p>
             <p><b>VISHNU ACCEREDIATION:</b>NACC</p>
             <p><b>VISHNU AFFILIATED:</b>JNTUK</p>
             <p><b>VISHNU ELIGIBILITY:</b>Graduation with45%+APEMCET</p>
             <p><b>VISHNU FEE STRUCTURE:</b>44K</p>
             <p><b>VISHNU COURSES:</b></p>
             <p><b>VISHNU LOCATION: </b>Vishnupur,Bhimavaram 534202,Andhrapradesh</p>
             <p><b>VISHNU PLACEMENT:</b>Capgemini,Accenture,Tcs,Amazon,Wipro,TechMahindra,Cognizant,L&T,Miracle Software</p>
             <a class="read_more" href="http://vishnu.edu.in/BussinessAdministration.php?id=0e29c7451f488b9f6f7261e78672dc1683e44a2bd8b79d3960c35fcbaeb068f0"> Read More</a>
            
    </div>
</div>

<div class="col">
    <div class="card h-100">
        <h1 class="card-title">5.RAMACHANDRA COLLEGE OF ENGINEERING</h1>
        <img src="../../assets/images/rama.jpg" width="50%" height="350px" class="card-img-top" alt="..."/>
        <div class="card-body">
            <p class="card-text">Ramachandra college of engineering is located in Eluru,Andhrapradesh,Westgodavari district and affiliated with JNTU Kakinada</p>
            <p><b>RAMACHANDRA ESTABLISHED:</b>2008</p>
            <p><b>RAMACHANDRA ACCEREDIATION:</b>AICTE</p>
            <p><b>RAMACHANDRA AFFILIATED:</b>JNTUK</p>
            <p><b>RAMACHANDRA ELIGIBILITY:</b>Graduation with 45%+APICET</p>
            <p><b>RAMACHANDRA FEE STRUCTURE:</b>27K</p>
            <p><b>RAMACHANDRA COURSES:</b>MBA,PGDM-F,PGDM-M,PGDM-HR</p>
            <p><b>RAMACHANDRA LOCATION:</b>NH-16 Bypass Road, Vatluru (V, Eluru, Andhra Pradesh 534007</p>
            <p><b>RAMACHANDRA PLACEMENT:</b>Hinduja Global Solution,Virtusa,Tech Mahindra,Surtherland,Just dial,LEAAP.</p>
            <a class="read_more" href="https://www.rcee.ac.in/">Read more</a>
        </div>
    </div>
</div>
