<div class="col">
    <div class="card-h-100">
        <h1 class="card-title ">1. MADANAPALLE INSTITUTE OF TECHNOLOGY AND SCIENCE</h1>
        <img src="./assets/images/mits.jpg" width="50%" height="350px" class="card-img-top" alt="..."/>
        <div class="card-body">
            <p class="card-text">MADANAPALLE INSTITUTE OF TECHNOLOGY AND SCIENCE is located in Chittoor, Andhrapradesh,</p>
             <p><b>MITS ESTABLISHED:</b>1998</p>
             <p><b>MITS ACCEREDIATION:</b>AICTE</p>
             <p><b>MITS AFFILIATED:</b>JNTUA</p>
             <p><b>MITS ELIGIBILITY:</b>Graduation with45%+ APICET</p>
             <p><b>MITS FEE STRUCTURE:</b>1.5Lakh</p>
             <p><b>MITS COURSES:</b>Business & Management Studies, MBA in HR (Human Resource), MBA in Finance, MBA in IT & Systems, NGO Management, MBA in Sales & Marketing, 
                Agriculture & Food Business, MBA in Operations, MBA in finance, Supply Chain, Digital Marketing</p>
             <p><b>MITS LOCATION: </b> Kadiri Road. Angallu (V), Madanapalle-517325. Chittoor District, Andhra Pradesh, India.</p>
             <p><b>MITS PLACEMENT:</b>INFOSYS, WIPRO</p>
             <a class="read_more" href="https://www.mits.ac.in/">Read More</a>
    </div>
</div>

<div class="col">
    <div class="card-h-100">
        <h1 class="card-title "> 2. SRI VENKATESWARA COLLEGE OF ENGINEERING AND TECHNOLOGY</h1>
        <img src="./assets/images/sri venky.1.jpg" width="50%" height="350px" class="card-img-top" alt="..."/>
        <div class="card-body">
            <p class="card-text"> SRI VENKATESWARA COLLEGE OF ENGINEERING AND TECHNOLOGY located in Chittoor, Andhrapradesh,</p>
             <p><b>SVCET ESTABLISHED:</b>2007</p>
             <p><b>SVCET ACCEREDIATION:</b>AICTE</p>
             <p><b>SVCET AFFILIATED:</b>JNTUA</p>
             <p><b>SVCET ELIGIBILITY:</b>Graduation with45%+ APICET</p>
             <p><b>SVCET FEE STRUCTURE:</b>70K</p>
             <p><b>SVCET COURSES:</b>Business & Management Studies, MBA in HR (Human Resource), MBA in Finance, MBA in IT & Systems, NGO Management, MBA in Sales & Marketing, 
                Agriculture & Food Business, MBA in Operations, MBA in finance, Supply Chain, Digital Marketing</p>
             <p><b>SVCET LOCATION: </b> R.V.S. Nagar, Tirupati Road, Chittoor, Andhra Pradesh 517127</p>
             <p><b>SVCET PLACEMENT:</b>CSE, COGNIZANT, E4E, GENPACT, HCL, TECH MAHINDRA, and SYNTEL</p>
             <a class="read_more" href="https://svcetedu.org/">Read More</a>
    </div>
</div>

<div class="col">
    <div class="card-h-100">
        <h1 class="card-title ">3. VEMU INSTITUTE OF TECHNOLOGY </h1>
        <img src="./assets/images/vemu.jpeg" width="50%" height="350px" class="card-img-top" alt="..."/>
        <div class="card-body">
            <p class="card-text">VEMU INSTITUTE OF TECHNOLOGY is located in Chittoor, Andhrapradesh,</p>
             <p><b>VIT ESTABLISHED:</b>2008</p>
             <p><b>VIT ACCEREDIATION:</b>AICTE</p>
             <p><b>VIT AFFILIATED:</b>JNTUA</p>
             <p><b>VIT ELIGIBILITY:</b>Graduation with45%+ APICET</p>
             <p><b>VIT FEE STRUCTURE:</b>1Lakh</p>
             <p><b>VIT COURSES:</b>Business & Management Studies, MBA in HR (Human Resource), MBA in Finance, MBA in IT & Systems, NGO Management, MBA in Sales & Marketing, 
                Agriculture & Food Business, MBA in Operations, MBA in finance, Supply Chain, Digital Marketing</p>
             <p><b>VIT LOCATION: </b> P. Kothakota Post, near Pakala, Chittoor, Andhra Pradesh 517112</p>
             <p><b>VIT PLACEMENT:</b>TCS, CTS, WIPRO, IBM, TECH MAHINDRA, COGNIZANT, and INFOSYS</p>
             <a class="read_more" href="http://www.vemu.org/">Read More</a>
    </div>
</div>

<div class="col">
    <div class="card-h-100">
        <h1 class="card-title ">4. SREENIVASA INSTITUTE OF TECHNOLOGY AND MANAGEMENT STUDIES </h1>
        <img src="./assets/images/sreenivasa.1.jpg" width="50%" height="350px" class="card-img-top" alt="..."/>
        <div class="card-body">
            <p class="card-text">SREENIVASA INSTITUTE OF TECHNOLOGY AND MANAGEMENT STUDIES is located in Chittoor, Andhrapradesh,</p>
             <p><b>SITMS ESTABLISHED:</b>1998</p>
             <p><b>SITMS ACCEREDIATION:</b>NACC</p>
             <p><b>SITMS AFFILIATED:</b>JNTUA</p>
             <p><b>SITMS ELIGIBILITY:</b>Graduation with45%+ APICET</p>
             <p><b>SITMS FEE STRUCTURE:</b>1.85Lakhs</p>
             <p><b>SITMS COURSES:</b> MBA, MBA IN MARKETING, HRM, MBA IN SYSTEMS, FINANCE </p>
             <p><b>SITMS LOCATION: </b> Dr. Visweswariah Road, Bangalore-Tirupathi Bye-pass Road, Murukambattu, Andhra Pradesh 517127</p>
             <p><b>SITMS PLACEMENT:</b>WIPRO, TCS, INFOSYS, SAMSUNG, CTS, ACCENTURE, and VIRTUSA</p>
             <a class="read_more" href="http://www.sitams.org/">Read More</a>
    </div>
</div>

<div class="col">
    <div class="card-h-100">
        <h1 class="card-title "> 5. INSTITUTE FOR FINANCIAL MANAGEMENT AND RESEARCH</h1>
        <img src="./assets/images/ifmr.jpg" width="50%" height="350px" class="card-img-top" alt="..."/>
        <div class="card-body">
            <p class="card-text">INSTITUTE FOR FINANCIAL MANAGEMENT AND RESEARCH is located in Chittoor, Andhrapradesh,</p>
             <p><b>IFMR  ESTABLISHED:</b>1970</p>
             <p><b>IFMR  ACCEREDIATION:</b>AICTE</p>
             <p><b>IFMR  AFFILIATED:</b>JNTUA</p>
             <p><b>IFMR  ELIGIBILITY:</b>Graduation with45%+ APICET, XAT, CMAT, CAT</p>
             <p><b>IFMR  FEE STRUCTURE:</b>8Lakhs</p>
             <p><b>IFMR  COURSES:</b>FINANCE, HRM, IT&SYSTEM, OPERATION, SALES&MARKETING, BUSINESS ANALYTICS </p>
             <p><b>IFMR  LOCATION: </b> 5655, Central Expy, Sri City, Andhra Pradesh 517646</p>
             <p><b>IFMR  PLACEMENT:</b>ACCENTURE, BAJAJ FINSERV, COGNIZANT, HSBC, MARICO, KOTAK MAHINDRA BANK, and MORGAN STANLEY</p>
             <a class="read_more" href="https://krea.edu.in/ifmrgsb/">Read More</a>
    </div>
</div>