<div class="col">
    <div class="card-h-100">
        <h1 class="card-title ">1. SUN INTERNATIONAL INSTITUTE FOR TOURISM AND MANAGEMENT</h1>
        <img src="../../assets/images/sun.jpg" width="50%" height="350px" class="card-img-top" alt="..."/>
        <div class="card-body">
            <p class="card-text"> SUN INTERNATIONAL INSTITUTE FOR TOURISM AND MANAGEMENT is located in Vishakapatnam</p>
             <p><b>SIITAM ESTABLISHED:</b>2004</p>
             <p><b>SIITAM ACCEREDIATION:</b>AICTE</p>
             <p><b>SIITAM AFFILIATED:</b>JNTUK</p>
             <p><b>SIITAM ELIGIBILITY:</b>Graduation with APICET</p>
             <p><b>SIITAM FEE STRUCTURE:</b>1.5Lakhs</p>
             <p><b>SIITAM COURSES:</b>Business & Management Studies, MBA in HR (Human Resource), MBA in Finance, MBA in IT & Systems, NGO Management, MBA in Sales & Marketing, Agriculture & Food Business, MBA in Operations, MBA in finance, Supply Chain, Digital Marketing</p>
             <p><b>SIITAM LOCATION: </b>47-14-5, Dwarakanagar Rd, beside SBI, Dwaraka Nagar, Visakhapatnam, Andhra Pradesh 530016</p>
             <p><b>SIITAM PLACEMENT:</b>  Wipro, IBM, Accenture, TAJ, Le Meridian, and R </p>
             <a class="read_more" href="https://www.sun.edu.in/"> Read More</a>
    </div>
</div>

<div class="col">
    <div class="card-h-100">
        <h1 class="card-title ">2.GANDHI INSTITUTE OF TECHNOLOGY AND MANAGEMENT UNIVERSITY</h1>
        <img src="../../assets/images/gitam.1.webp" width="50%" height="350px" class="card-img-top" alt="..."/>
        <div class="card-body">
            <p class="card-text">GANDHI INSTITUTE OF TECHNOLOGY AND MANAGEMENT UNIVERSITY is located in Vishakapatnam</p>
             <p><b>GITAM ESTABLISHED:</b>1988</p>
             <p><b>GITAM ACCEREDIATION:</b>NACC</p>
             <p><b>GITAM AFFILIATED:</b>AU</p>
             <p><b>GITAM ELIGIBILITY:</b>Graduation 50% + GAT/CAT/XAT</p>
             <p><b>GITAM FEE STRUCTURE:</b>3.6Lakhs</p>
             <p><b>GITAM COURSES:</b>Sales & Marketing, Finance, HRM, International Business, IT & Systems, Marketing, Operations, Hospital & Health Care Management, Transport Logistics, Chatte.</p>
             <p><b>GITAM LOCATION: </b>Gandhi Nagar Campus, Rushikonda, Visakhapatnam-530045, Andhra Pradesh</p>
             <p><b>GITAM PLACEMENT:</b>IBM, Accenture, Capgemini, TCS, Wipro, Infosys, and Cognizant </p>
             <a class="read_more" href="https://www.gitam.edu/"> Read More</a>
    </div>
</div>

<div class="col">
    <div class="card-h-100">
        <h1 class="card-title ">3.ANDHRA UNIVERSITY COLLEGE OF ENGINEERING</h1>
        <img src="../../assets/images/au.1.jpg" width="50%" height="350px" class="card-img-top" alt="..."/>
        <div class="card-body">
            <p class="card-text">ANDHRA UNIVERSITY COLLEGE OF ENGINEERING is located in Vishakapatnam</p>
             <p><b>AU ESTABLISHED:</b>1926</p>
             <p><b>AU ACCEREDIATION:</b>NACC</p>
             <p><b>AU AFFILIATED:</b>AIU</p>
             <p><b>AU ELIGIBILITY:</b>Graduation 45% + APICET, AUCET</p>
             <p><b>AU FEE STRUCTURE:</b>3Lakhs</p>
             <p><b>AU COURSES:</b>Sales & Marketing, Finance, HRM, International Business, IT & Systems, Marketing, Operations, Hospital & Health Care Management, Transport Logistics, Chatte</p>
             <p><b>AU LOCATION: </b>Junction, AU North Campus, Andhra University North Campus, Andhra University, Visakhapatnam, Andhra Pradesh 530003</p>
             <p><b>AU PLACEMENT:</b> HCL, Accenture, Mahindra, Wipro, Tech Mahindra, IBM, Infosys, Steel Plant. </p>
             <a class="read_more" href="https://www.andhrauniversity.edu.in/"> Read More</a>
    </div>
</div>

<div class="col">
    <div class="card-h-100">
        <h1 class="card-title ">4. GAYATRI VIDYA PARISHAD COLLEGE OF ENGINEERING (GVP)</h1>
        <img src="../../assets/images/gayathri.1.jpg" width="50%" height="350px" class="card-img-top" alt="..."/>
        <div class="card-body">
            <p class="card-text">GAYATRI VIDYA PARISHAD COLLEGE OF ENGINEERING  is located in Vishakapatnam</p>
             <p><b>GVP ESTABLISHED:</b>1996</p>
             <p><b>GVP ACCEREDIATION:</b>NACC</p>
             <p><b>GVP AFFILIATED:</b>AU</p>
             <p><b>GVP ELIGIBILITY:</b>Graduation with APICET</p>
             <p><b>GVP FEE STRUCTURE:</b>1.3Lakhs</p>
             <p><b>GVP COURSES:</b>Business & Management Studies, MBA in HR (Human Resource), MBA in Finance, MBA in IT & Systems, NGO Management, 
                MBA in Sales & Marketing, Agriculture & Food Business, MBA in Operations, MBA in finance, Supply Chain, Digital Marketing</p>
             <p><b>GVP LOCATION: </b>Gandhi Nagar, Madhurawada, Visakhapatnam, Andhra Pradesh 530048</p>
             <p><b>GVP PLACEMENT:</b>GENPACT, WIPRO, TCS, KIMS, AIRTEL, SBI-LIFE, FLIPKART </p>
             <a class="read_more" href="http://www.gvpce.ac.in/"> Read More</a>
    </div>
</div>