<div class="col">
    <div class="card-h-100">
        <h1 class="card-title ">1. MITHRA INSTITUTE OF MANAGEMENT</h1>
        <img src="../../assets/images/mims.jpg" width="50%" height="350px" class="card-img-top" alt="..."/>
        <div class="card-body">
            <p class="card-text"> MITHRA INSTITUTE OF MANAGEMENT is located in Srikakulam, Andhrapradesh,</p>
             <p><b>MIMS ESTABLISHED:</b>2004</p>
             <p><b>MIMS ACCEREDIATION:</b>AICTE</p>
             <p><b>MIMS AFFILIATED:</b>JNTUK</p>
             <p><b>MIMS ELIGIBILITY:</b>Graduation with45%+ APICET</p>
             <p><b>MIMS FEE STRUCTURE:</b>1.8Lakh</p>
             <p><b>MIMS COURSES:</b>FINANCE, MARKETING, HRM, IT, MBA</p>
             <p><b>MIMS LOCATION: </b> Etcherla, Srikakulam Andhra Pradesh, PIN-532410</p>
             <p><b>MIMS PLACEMENT:</b></p>
             <a class="read_more" href="http://www.mimscareer.com/">Read More</a>
    </div>
</div>

<div class="col">
    <div class="card-h-100">
        <h1 class="card-title ">2. SRI SIVANI COLLEGE OF ENGINEERING</h1>
        <img src="../../assets/images/sivani.1.jpg" width="50%" height="350px" class="card-img-top" alt="..."/>
        <div class="card-body">
            <p class="card-text">SRI SIVANI COLLEGE OF ENGINEERING is located in Srikakulam, Andhrapradesh,</p>
             <p><b>SIVANI ESTABLISHED:</b>2006</p>
             <p><b>SIVANI ACCEREDIATION:</b>NACC</p>
             <p><b>SIVANI AFFILIATED:</b>JNTUK</p>
             <p><b>SIVANI ELIGIBILITY:</b>Graduation with45%+ APICET</p>
             <p><b>SIVANI FEE STRUCTURE:</b>1.21Lakh</p>
             <p><b>SIVANI COURSES:</b>Business & Management Studies, MBA in HR (Human Resource), MBA in Finance, MBA in IT & Systems, NGO Management, MBA in Sales & Marketing, 
                Agriculture & Food Business, MBA in Operations, MBA in finance, Supply Chain, Digital Marketing </p>
             <p><b>SIVANI LOCATION: </b> Etcherla, Srikakulam Andhra Pradesh, PIN-532402 </p>
             <p><b>SIVANI PLACEMENT:</b>ACCENTURE, GENPACT, HCL, and TECH MAHINDRA</p>
             <a class="read_more" href="http://www.srisivani.com/examcell.html">Read More</a>
    </div>
</div>

<div class="col">
    <div class="card-h-100">
        <h1 class="card-title ">3. SARADA INSTITUTE OF SCIENCE TECHNOLOGY AND MANAGEMENT </h1>
        <img src="../../assets/images/sistm.jpg" width="50%" height="350px" class="card-img-top" alt="..."/>
        <div class="card-body">
            <p class="card-text">SARADA INSTITUTE OF SCIENCE TECHNOLOGY AND MANAGEMENT  is located in Srikakulam, Andhrapradesh,</p>
             <p><b>SISTAM ESTABLISHED:</b>1998</p>
             <p><b>SISTAM ACCEREDIATION:</b>AICTE</p>
             <p><b>SISTAM AFFILIATED:</b>JNTUK</p>
             <p><b>SISTAM ELIGIBILITY:</b>Graduation with45%+ APICET</p>
             <p><b>SISTAM FEE STRUCTURE:</b>1Lakh</p>
             <p><b>SISTAM COURSES:</b>MBA </p>
             <p><b>SISTAM LOCATION: </b>Ampolu Road, Gara Mandal, Srikakulam, Andhra Pradesh 532404 </p>
             <p><b>SISTAM PLACEMENT:</b>TATA TECHNOLOGIES, WIPRO </p>
             <a class="read_more" href="http://www.sistam.in/">Read More</a>
    </div>
</div>

<div class="col">
    <div class="card-h-100">
        <h1 class="card-title ">4.DR. BR. AMBEDKAR UNIVERSITY </h1>
        <img src="../../assets/images/ambedkar.jpg" width="50%" height="350px" class="card-img-top" alt="..."/>
        <div class="card-body">
            <p class="card-text"> DR. BR. AMBEDKAR UNIVERSITY  is located in Srikakulam, Andhrapradesh,</p>
             <p><b>AMBEDKAR UNIVERSITY ESTABLISHED:</b>2008</p>
             <p><b>AMBEDKAR UNIVERSITY ACCEREDIATION:</b>AIU</p>
             <p><b>AMBEDKAR UNIVERSITY AFFILIATED:</b>UGC</p>
             <p><b>AMBEDKAR UNIVERSITY ELIGIBILITY:</b>Graduation with45%+ APICET</p>
             <p><b>AMBEDKAR UNIVERSITY FEE STRUCTURE:</b>50K</p>
             <p><b>AMBEDKAR UNIVERSITY COURSES:</b>MBA </p>
             <p><b>AMBEDKAR UNIVERSITY LOCATION: </b>Etcherla, Andhra Pradesh 532410</p>
             <p><b>AMBEDKAR UNIVERSITY PLACEMENT:</b>TATA TECHNOLOGIES, WIPRO </p>
             <a class="read_more" href="http://brau.edu.in/">Read More</a>
    </div>
</div>

