<div class="col">
    <div class="card-h-100">
        <h1 class="card-title ">1.VISHNU INSTITUTE OF TECHNOLOGY</h1>
        <img src="./assets/images/vishnu.jpg" width="50%" height="350px" class="card-img-top" alt="..."/>
        <div class="card-body">
            <p class="card-text"> Vishnu institute of technology is located in Bhimavaram,Andhrapradesh,Westgodavari district,permanently affiliated wth JNTU Kakinada</p>
             <p><b>VISHNU ESTABLISHED:</b>2008</p>
             <p><b>VISHNU ACCEREDIATION:</b>NACC</p>
             <p><b>VISHNU AFFILIATED:</b>JNTUK</p>
             <p><b>VISHNU ELIGIBILITY:</b>10+2 with45%+APEMCET</p>
             <p><b>VISHNU FEE STRUCTURE:</b>1Lakh</p>
             <p><b>VISHNU COURSES:</b>CSE,ECE,EEE,ME,CE</p>
             <p><b>VISHNU Location: </b>Vishnupur,Bhimavaram 534202,Andhrapradesh</p>
             <p><b>VISHNU Placement:</b>Capgemini,Accenture,Tcs,Amazon,Wipro,TechMahindra,Cognizant,L&T,Miracle Software</p>
             <a class="read_more" href="http://www.vishnu.edu.in/"> Read More</a>
    </div>
</div>


<div class="col">
    <div class="card-h-100">
        <h1 class="card-title ">2.SIR C R REDDY COLLEGE OF ENGINEERING</h1>
        <img src="./assets/images/cr reddy.jpg" width="50%" height="350px" class="card-img-top" alt="..."/>
        <div class="card-body">
            <p class="card-text">Sir c r reddy college of engineering is located in Eluru,Andhrapradesh,WestGodavari district,permanently affiliated with JNTU Kakinada </p>
             <p><b>C R REDDY ESTABLISHED:</b>1989</p>
             <p><b>C R REDDY ACCEREDIATION:</b>NACC</p>
             <p><b>C R REDDY AFFILIATED:</b>JNTUK</p>
             <p><b>C R REDDY ELIGIBILITY:</b>10+2 with45%+APEMCET</p>
             <p><b>C R REDDY FEE STRRUCTURE:</b>60K</p>
             <p><b>C R REDDY COURSES:</b>CSE,ECE,EEE,ME,CE</p>
             <p><b>C R REDDY Location: </b>Eluru 534007,Andhrapradesh</p>
             <p><b>C R REDDY Placement:</b>Capgemini,Accenture,Tcs,Amazon,Wipro,TechMahindra,Cognizant,Infosys</p>
             <a class="read_more" href="https://www.sircrrengg.ac.in/">Read more</a>
            </div>
</div>


<div class="col">
    <div class="card-h-100">
        <h1 class="card-title justify-content-center">3.SAGI RAMAKRISHNAM RAJU ENGINEERING COLLEGE</h1>
        <img src="./assets/images/srkr.jpg" width="50%" height="350px" class="card-img-top" alt="..."/>
        <div class="card-body">
            <p class="card-text">Srkr engineering college is located in Bhimavaram,Andhrapradesh,WestGodavari district </p>
             <p><b>SRKR ESTABLISHED:</b>1980</p>
             <p><b>SRKR ACCEREDIATION:</b>NACC</p>
             <p><b>SRKR AFFILIATED:</b>Autonomous</p>
             <p><b>SRKR ELIGIBILITY:</b>10+2 with45%+APEMCET</p>
             <p><b>SRKR FEE STRUCTURE:</b>45K</p>
             <p><b>SRKR COURSES:</b>CSE,ECE,EEE,ME,CE</p>
             <p><b>SRKR Location: </b>Chinna Amiram,Bhimavaram Andhrapradesh 534204</p>
             <p><b>SRKR Placement:</b>Accenture,Tcs,Amazon,Wipro,NTT Data,TechMahindra,Virtusa,Cognizant,Infosys</p>
             <a class="read_more" href="http://srkrec.edu.in/">Read more</a>
    </div>
</div>


<div class="col">
    <div class="card-h-100">
        <h1 class="card-title">4.SRI VASAVI ENGINEERING COLLEGE</h1>
        <img src="./assets/images/sri vasavi.jpg" width="50%" height="350px" class="card-img-top" alt="..."/>
        <div class="card-body">              
            <p class="card-text">Sri vasavi engineering college is located in pedatadepalli, Andhrapradesh,WestGodavari district and affiliatedwith JNTU Kakinada </p>
             <p><b>VASAVI ESTABLISHED:</b>2001</p>
             <p><b>VASAVI ACCEREDIATION:</b>NACC</p>
             <p><b>VASAVI AFFILIATED:</b>JNTUK</p>
             <p><b>VASAVI ELIGIBILITY:</b>10+2 with45%+APEMCET</p>
             <p><b>VASAVI FEE STRUCTURE:</b>70K</p>
             <p><b>VASAVI COURSES:</b>CSE,ECE,EEE,ME,CE</p>
             <p><b>VASAVI Location: </b>pedatadepalli.tedepalligudem ,Andhrapradesh 534101</p>
             <p><b>VASAVI Placement:</b>NTT DATA,Flipkart,L&T,NALsoft,Technovert,Tcs,VEM Technologies,HCL</p>
             <a class="read_more" href="http://srivasaviengg.ac.in/">Read more</a>
    </div>
</div>