<div class="col">
    <div class="card-h-100">
        <h1 class="card-title ">1.Jawaharlal Nehru Technological University </h1>
        <img src="./assets/images/jntua.jpg" width="50%" height="350px" class="card-img-top" alt="..."/>
        <div class="card-body">
            <p class="card-text">Jawaharlal Nehru Technological University  is located in Ananthapur,Andhrapradesh</p>
             <p><b>JNTUA ESTABLISHED:</b>1965</p>
             <p><b>JNTUA ACCEREDIATION:</b>NACC</p>
             <p><b>JNTUA AFFILIATED:</b>JNTUA</p>
             <p><b>JNTUA ELIGIBILITY:</b>10+2 with45%+APEAMCET</p>
             <p><b>JNTUA FEE STRUCTURE:</b>4Lakhs</p>
             <p><b>JNTUA COURSES:</b>  CE, ME, ECE, EEE, IT, CSE, AE, BT, CHEM ENG, IT </p>
             <p><b>JNTUA LOCATION: </b>Sir Mokshagundam Visvesvaraya Rd, JNTU College Of Engineering, Sharada Nagar, Anantapur, Andhra Pradesh 515002</p>
             <p><b>JNTUA PLACEMENT:</b>TCS, INFOSYS, WIPRO, SYNTEL, HCS, INFOTECH, SATYAM, ACCENTURE, COGNIZANT </p>
             <a class="read_more" href="https://www.jntua.ac.in/"> Read More</a>
    </div>
</div>

<div class="col">
    <div class="card-h-100">
        <h1 class="card-title ">2.GATES Institute of Technology </h1>
        <img src="./assets/images/gates.jpg" width="50%" height="350px" class="card-img-top" alt="..."/>
        <div class="card-body">
            <p class="card-text">GATES Institute of Technology  is located in Ananthapur,Andhrapradesh</p>
             <p><b>GATES  ESTABLISHED:</b>2001</p>
             <p><b>GATES  ACCEREDIATION:</b>NACC</p>
             <p><b>GATES  AFFILIATED:</b>JNTUA</p>
             <p><b>GATES  ELIGIBILITY:</b>10+2 with45%+APEAMCET</p>
             <p><b>GATES  FEE STRUCTURE:</b>2Lakhs</p>
             <p><b>GATES  COURSES:</b> CE, ME, ECE, EEE, CSE </p>
             <p><b>GATES  LOCATION: </b>N.H.44, Gootyanantapuram Village, Peddavadugur Mandal, Gooty Railway Station, Anantapuramu District, Gooty, Andhra Pradesh 515401</p>
             <p><b>GATES  PLACEMENT:</b>Wipro, Infosys, and HDFC Bank. </p>
             <a class="read_more" href="http://gatesit.ac.in/"> Read More</a>
    </div>
</div>

<div class="col">
    <div class="card-h-100">
        <h1 class="card-title ">3.Srinivasa Ramanujan Institute of Technology </h1>
        <img src="./assets/images/srit.jpg" width="50%" height="350px" class="card-img-top" alt="..."/>
        <div class="card-body">
            <p class="card-text">Srinivasa Ramanujan Institute of Technology  is located in Ananthapur,Andhrapradesh</p>
             <p><b>SRIT  ESTABLISHED:</b>2001</p>
             <p><b>SRIT  ACCEREDIATION:</b>AICTE</p>
             <p><b>SRIT  AFFILIATED:</b>JNTUA</p>
             <p><b>SRIT  ELIGIBILITY:</b>10+2 with45%+APEAMCET</p>
             <p><b>SRIT  FEE STRUCTURE:</b>1.4Lakhs</p>
             <p><b>SRIT  COURSES:</b> CE, ME, ECE, EEE, CSE </p>
             <p><b>SRIT  LOCATION: </b> Rotarypuram Village, B K Samudram Mandal, Anantapur, Andhra Pradesh 515701</p>
             <p><b>SRIT  PLACEMENT:</b> ACCENTURE, WIPRO, AMAZON, Atos, CAPGEMINI, COGNIZANT, TCS, INFOSYS, HCL</p>
             <a class="read_more" href="https://www.srit.ac.in/"> Read More</a>
    </div>
</div>

<div class="col">
    <div class="card-h-100">
        <h1 class="card-title ">4.Sri Krishnadevaraya University </h1>
        <img src="./assets/images/sku.png" width="50%" height="350px" class="card-img-top" alt="..."/>
        <div class="card-body">
            <p class="card-text">Sri Krishnadevaraya University  is located in Ananthapur,Andhrapradesh</p>
             <p><b>SKU  ESTABLISHED:</b>1981</p>
             <p><b>SKU  ACCEREDIATION:</b>NACC</p>
             <p><b>SKU  AFFILIATED:</b>JNTUA</p>
             <p><b>SKU  ELIGIBILITY:</b>10+2 with45%+APEAMCET</p>
             <p><b>SKU  FEE STRUCTURE:</b>1.4Lakhs</p>
             <p><b>SKU  COURSES:</b> CE, ME, ECE, EEE, CSE </p>
             <p><b>SKU  LOCATION: </b>  Near S.K. University, Anantpur, Anantapur – Tirupati Hwy, Itikalapalli, Andhra Pradesh 515721</p>
             <p><b>SKU  PLACEMENT:</b>TCS,Capgemini,wipro,Hexaware and Infosys</p>
             <a class="read_more" href="http://skuniversity.ac.in/"> Read More</a>
    </div>
</div>