<div class="col">
    <div class="card-h-100">
        <h1 class="card-title ">1.DR. K. V SUBBA REDDY INSTITUTE OF TECHNOLOGY, KURNOOL</h1>
        <img src="./assets/images/subba reddy.jpg" width="50%" height="350px" class="card-img-top" alt="..."/>
        <div class="card-body">
            <p class="card-text">1.DR. K. V SUBBA REDDY INSTITUTE OF TECHNOLOGY is located in  KURNOOL district, Andhrapradesh</p>
             <p><b>KVSRIT ESTABLISHED:</b>2008</p>
             <p><b>KVSRIT ACCEREDIATION:</b>NACC</p>
             <p><b>KVSRIT AFFILIATED:</b>JNTUA</p>
             <p><b>KVSRIT ELIGIBILITY:</b>Graduation with45%+APICET</p>
             <p><b>KVSRIT FEE STRUCTURE:</b>32K</p>
             <p><b>KVSRIT COURSES:</b>MBA/PGDM-F/PGDM-M/PGDM-HR</p>
             <p><b>KVSRIT LOCATION: </b>Opp: Dupadu Railway Station, Lakshmipuram Post, Kurnool, Andhra Pradesh, India – 518218</p>
             <p><b>KVSRIT PLACEMENT:</b>Wipro Infrastructure ltd, PayTm /Altruist Pvt Ltd, Efftronics, Face Academy, Finn Telecom/Wecred, Repherrals Pvt Ltd, MovingDneedle, Perfect Gears, Vee Technologies, TechMahindra</p>
             <a class="read_more" href="http://drkvsrit.ac.in/">Read More</a>
    </div>
</div>


<div class="col">
    <div class="card-h-100">
        <h1 class="card-title ">2.RAJEEV GANDHI MEMORIAL COLLEGE OF ENGINEERING AND TECHNOLOGY NANDYAL KURNOOL</h1>
        <img src="./assets/images/kurnool.1.jpg" width="50%" height="350px" class="card-img-top" alt="..."/>
        <div class="card-body">
            <p class="card-text">RAJEEV GANDHI MEMORIAL COLLEGE OF ENGINEERING AND TECHNOLOGY NANDYAL is located KURNOOL,Andhrapradesh,kurnool district</p>
             <p><b>RGMCET ESTABLISHED:</b>1995</p>
             <p><b>RGMCET ACCEREDIATION:</b>NACC</p>
             <p><b>RGMCET AFFILIATED:</b>JNTUA</p>
             <p><b>RGMCET ELIGIBILITY:</b>Graduation with 50%+APEAMCET</p>
             <p><b>RGMCET FEE STRUCTURE:</b>1.10Lakh</p>
             <p><b>RGMCET COURSES:</b>MBA/PGDM-F/PGDM-M/PGDM-HR </p>
             <p><b>RGMCET LOCATION: </b> Nerawada X Roads Nandyal-518501 Andhra Pradesh India</p>
             <p><b>RGMCET PLACEMENT:</b>Virtusa,Code mantra,Byjus,CMS,TCS,Wipro,Ggk tech,caddy code,Danfoss.</p>
             <a class="read_more" href="http://www.rgmcet.edu.in/"> Read More</a>
    </div>
</div>


<div class="col">
    <div class="card-h-100">
        <h1 class="card-title ">3.G. PULLAIAH COLLEGE OF ENGINEERING AND TECHNOLOGY  KURNOOL</h1>
        <img src="./assets/images/pullaiah.jpg" width="50%" height="350px" class="card-img-top" alt="..."/>
        <div class="card-body">
            <p class="card-text"> G. PULLAIAH COLLEGE OF ENGINEERING AND TECHNOLOGY  KURNOOLis located KURNOOL,Andhrapradesh,kurnool district</p>
             <p><b>GPCET  ESTABLISHED:</b>2007</p>
             <p><b>GPCET  ACCEREDIATION:</b>NACC</p>
             <p><b>GPCET  AFFILIATED:</b>JNTUA</p>
             <p><b>GPCET  ELIGIBILITY:</b>Graduation with 50%+APEAMCET</p>
             <p><b>GPCET  FEE STRUCTURE:</b>32K</p>
             <p><b>GPCET  COURSES:</b>MBA/PGDM-F/PGDM-M/PGDM-HR </p>
             <p><b>GPCET  LOCATION: </b> Near Venkayapalle, Pasupula Village, Nandikotkur Road, Kurnool – 518002 Andhra Pradesh – India.</p>
             <p><b>GPCET  PLACEMENT:</b>Epam Systems, Tcs, Infosys-hackwithinfy, Infosys, Ggk, Mphasis, Apps Associates, Value Labs, Maq Software, Cognizant, Seleation, Mindtree, Tcs Infra, Wipro,infosys.</p>
             <a class="read_more" href="http://www.gpcet.ac.in/"> Read More</a>
    </div>
</div>


<div class="col">
    <div class="card-h-100">
        <h1 class="card-title ">4.RAYALASEEMA UNIVERSITY, KURNOOL</h1>
        <img src="../../assets/images/rayalaseema.jpg" width="50%" height="350px" class="card-img-top" alt="..."/>
        <div class="card-body">
            <p class="card-text"> RAYALASEEMA UNIVERSITY, KURNOOL,Andhrapradesh,kurnool district</p>
             <p><b>RU  ESTABLISHED:</b>2007</p>
             <p><b>RU  ACCEREDIATION:</b>NACC</p>
             <p><b>RU  AFFILIATED:</b>JNTUA</p>
             <p><b>RU  ELIGIBILITY:</b>Graduation with 50%+APEAMCET</p>
             <p><b>RU  FEE STRUCTURE:</b>25K</p>
             <p><b>RU  COURSES:</b>MBA/PGDM-F/PGDM-M/PGDM-HR </p>
             <p><b>RU  LOCATION: </b>  Nandyala Road, Kurnool, Andhra Pradesh 518002</p>
             <p><b>RU  PLACEMENT:</b>IVRCL Infrastructures & Projects Ltd,  Coromandel Fertilizers Ltd,  ICICI Bank,  HDFC Bank,   Kotak Mahindra Bank,   Sree Rayalaseema Green Energy Ltd, Nandi (SPY Reddy) Group, Dr Reddys Foundation, Kurnool Water Health India Ltd.,  Tata Consultancy Services,   Wipro,  Tech Mahindra,  </p>
             <a class="read_more" href="http://www.ruk.ac.in/"> Read More</a>
    </div>
</div>