<div class="col">
    <div class="card-h-100">
        <h1 class="card-title ">1.ANDHRA UNIVERSITY COLLEGE OF ENGINEERING</h1>
        <img src="./assets/images/au.jpg" width="50%" height="350px" class="card-img-top" alt="..."/>
        <div class="card-body">
            <p class="card-text">ANDHRA UNIVERSITY COLLEGE OF ENGINEERING is located in Vishakapatnam</p>
             <p><b>AU ESTABLISHED:</b>1926</p>
             <p><b>AU ACCEREDIATION:</b>NACC</p>
             <p><b>AU AFFILIATED:</b>AIU</p>
             <p><b>AU ELIGIBILITY:</b>10+2 with APEAMCET</p>
             <p><b>AU FEE STRUCTURE:</b>3.8Lakhs</p>
             <p><b>AU COURSES:</b>CSE,ECE,ME,CE,IT</p>
             <p><b>AU LOCATION: </b>Junction, AU North Campus, Andhra University North Campus, Andhra University, Visakhapatnam, Andhra Pradesh 530003</p>
             <p><b>AU PLACEMENT:</b> TCS, Capgemini, Wipro, Hcl, and Infosys. </p>
             <a class="read_more" href="https://www.andhrauniversity.edu.in/"> Read More</a>
    </div>
</div>

<div class="col">
    <div class="card-h-100">
        <h1 class="card-title ">2.GANDHI INSTITUTE OF TECHNOLOGY AND MANAGEMENT UNIVERSITY</h1>
        <img src="./assets/images/gitam.webp" width="50%" height="350px" class="card-img-top" alt="..."/>
        <div class="card-body">
            <p class="card-text">GANDHI INSTITUTE OF TECHNOLOGY AND MANAGEMENT UNIVERSITY is located in Vishakapatnam</p>
             <p><b>GITAM ESTABLISHED:</b>1980</p>
             <p><b>GITAM ACCEREDIATION:</b>NACC</p>
             <p><b>GITAM ELIGIBILITY:</b>10+2 with 60%+ GAT, APEAMCET</p>
             <p><b>GITAM FEE STRUCTURE:</b>6Lakhs</p>
             <p><b>GITAM COURSES:</b>Aerospace, Biotech, Civil, EEE, ECE, Mech, CSE, CSBS Engineering</p>
             <p><b>GITAM LOCATION: </b>Gandhi Nagar Campus, Rushikonda, Visakhapatnam-530045, Andhra Pradesh</p>
             <p><b>GITAM PLACEMENT:</b>IBM, Accenture, Capgemini, TCS, Wipro, Infosys, and Cognizant </p>
             <a class="read_more" href="https://www.gitam.edu/"> Read More</a>
    </div>
</div>

<div class="col">
    <div class="card-h-100">
        <h1 class="card-title ">3. GAYATRI VIDYA PARISHAD COLLEGE OF ENGINEERING (GVP)</h1>
        <img src="./assets/images/gayathri.jpg" width="50%" height="350px" class="card-img-top" alt="..."/>
        <div class="card-body">
            <p class="card-text">GAYATRI VIDYA PARISHAD COLLEGE OF ENGINEERING  is located in Vishakapatnam</p>
             <p><b>GVP ESTABLISHED:</b>1996</p>
             <p><b>GVP ACCEREDIATION:</b>NACC</p>
             <p><b>GVP AFFILIATED:</b>JNTUK</p>
             <p><b>GVP ELIGIBILITY:</b>10+2 with APEAMCET</p>
             <p><b>GVP FEE STRUCTURE:</b>2.41Lakhs</p>
             <p><b>GVP COURSES:</b>CSE,ECE,ME,CE,IT.EEE</p>
             <p><b>GVP LOCATION: </b>Gandhi Nagar, Madhurawada, Visakhapatnam, Andhra Pradesh 530048</p>
             <p><b>GVP PLACEMENT:</b>TCS, L&T, Hyundai, Wipro, and Amazon are the top recruiting Companies  </p>
             <a class="read_more" href="http://www.gvpce.ac.in/"> Read More</a>
    </div>
</div>

<div class="col">
    <div class="card-h-100">
        <h1 class="card-title ">4. VIGNAN’S INSTITUTE OF INFORMATION TECHNOLOGY</h1>
        <img src="./assets/images/vignan.jpg" width="50%" height="350px" class="card-img-top" alt="..."/>
        <div class="card-body">
            <p class="card-text">4. VIGNAN’S INSTITUTE OF INFORMATION TECHNOLOGY  is located in Vishakapatnam</p>
             <p><b>VIIT ESTABLISHED:</b>2002</p>
             <p><b>VIIT ACCEREDIATION:</b>NACC</p>
             <p><b>VIIT AFFILIATED:</b>JNTUK</p>
             <p><b>VIIT ELIGIBILITY:</b>10+2 with 50% APEAMCET</p>
             <p><b>VIIT FEE STRUCTURE:</b>2.5Lakhs</p>
             <p><b>VIIT COURSES:</b>CSE,ECE,ME,CE,IT,EEE,TE</p>
             <p><b>VIIT LOCATION: </b>Besides VSEZ Vadlapudi Duvvada, Gajuwaka, Visakhapatnam, Andhra Pradesh 530049</p>
             <p><b>VIIT PLACEMENT:</b>Amazon, Infosys, HCL, Micro-Soft, Accenture, Capgemini, and Wipro .</p>
             <a class="read_more" href="https://vignanits.ac.in//"> Read More</a>
    </div>
</div>