<!DOCTYPE html>
<html>
  <head>
    <title>Myapp</title>
  </head>
  <body>
 <div class="container-fluid text-black " style="background-color:rgb(53, 201, 48); ">


<nav class="navbar navbar-expand-md navbar-dark bg-info sticky-top">
   <!-- Container wrapper -->
  <div class="container-fluid" style="background-color: rgb(92,99,92);">
  <!--Toggle button-->
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-mdb-target="#navbarCenteredExample" aria-controls="navbarCenteredExample" aria-expanded="false" aria-label="Toggle navigation">

  </button>
     <!-- Collapsible wrapper -->
     <div class="collapse navbar-collapse flex-column " id="navbar">

        <ul class="navbar-nav mb-2 mb-lg-0">
    <li class="nav-item">
      <a class="btn btn-secondary m-1 " aria-current="page" href="home" style="border-top-left-radius: 25px; border-bottom-right-radius: 25px;"><i class="fa fa-home"></i>Home</a>
    </li>
    <div class=" nav-item dropdown">
      <button class=" btn btn-secondary m-1 dropdown-toggle"  type="button" id="dropdownMenuButton" data-toggle="dropdown"  style="border-top-left-radius: 25px; border-bottom-right-radius: 25px;">
        WestGodavari</button>
      <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
        <a class="dropdown-item" href="#" routerLink="westgodavari/engineering" >Engineering</a>
        <a class="dropdown-item" href="#" routerLink="westgodavari/mba">Mba</a>
      </div>
    </div>
  

    <div class="dropdown">
    <button class="btn btn-secondary m-1 dropdown-toggle " type="button" id="dropdownMenuButton" data-toggle="dropdown" style="border-top-left-radius: 25px; border-bottom-right-radius: 25px;"  >
     EastGodavari
    </button>
    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
      <a class="dropdown-item" href="#" routerLink="eastgodavari/engineering" >Engineering</a>
      <a class="dropdown-item" href="#" routerLink="eastgodavari/mba" >Mba</a>
    </div>
  </div>

  <div class="dropdown">
    <button class="btn btn-secondary m-1 dropdown-toggle " type="button" id="dropdownMenuButton" data-toggle="dropdown" style="border-top-left-radius: 25px; border-bottom-right-radius: 25px;"  >
    Kurnool
    </button>
    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
      <a class="dropdown-item" href="#" routerLink="kurnool/engineering" >Engineering</a>
      <a class="dropdown-item" href="#" routerLink="kurnool/mba" >Mba</a>
    </div>
  </div>

  <div class="dropdown">
    <button class="btn btn-secondary m-1 dropdown-toggle " type="button" id="dropdownMenuButton" data-toggle="dropdown" style="border-top-left-radius: 25px; border-bottom-right-radius: 25px;"  >
    Krishna
    </button>
    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
      <a class="dropdown-item" href="#"routerLink="krishna/engineering">Engineering</a>
      <a class="dropdown-item" href="#" routerLink="krishna/mba" >Mba</a>
    </div>
  </div>

  <div class="dropdown">
    <button class="btn btn-secondary m-1 dropdown-toggle " type="button" id="dropdownMenuButton" data-toggle="dropdown" style="border-top-left-radius: 25px; border-bottom-right-radius: 25px;"  >
   Nellore
    </button>
    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
      <a class="dropdown-item" href="#" routerLink="nellore/engineering">Engineering</a>
      <a class="dropdown-item" href="#" routerLink="nellore/mba">Mba</a>
    </div>
  </div>
  <div class="dropdown">
    <button class="btn btn-secondary m-1 dropdown-toggle " type="button" id="dropdownMenuButton" data-toggle="dropdown" style="border-top-left-radius: 25px; border-bottom-right-radius: 25px;"  >
   Guntur
    </button>
    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
      <a class="dropdown-item" href="#" routerLink="guntur/engineering">Engineering</a>
      <a class="dropdown-item" href="#" routerLink="guntur/mba">Mba</a>
    </div>
  </div>


  <div class="dropdown">
    <button class="btn btn-secondary m-1 dropdown-toggle " type="button" id="dropdownMenuButton" data-toggle="dropdown" style="border-top-left-radius: 25px; border-bottom-right-radius: 25px;"  >
   Vizag
    </button>
    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
      <a class="dropdown-item" href="#" routerLink="vizag/engineering">Engineering</a>
      <a class="dropdown-item" href="#" routerLink="vizag/mba">Mba</a>
    </div>
  </div>

  
 

    <!-- Navbar dropdown -->
    
  </ul>
  
  <!-- Left links -->
</div>

<!-- Collapsible wrapper -->
</div>
<!-- Container wrapper -->
</nav>

<h1 style="text-align: center; " >
  <i>TOP 4 ENGINEERING & MBA COLLEGES IN ANDHRAPRADESH</i></h1>


<nav class="navbar sticky-top navbar-expand-sm navbar-dark bg-info sticky-top">
  <div class="container-fluid" style="background-color: rgb(92,99,92);">
  <button class="navbar-toggler sticky-top" type="button" data-toggle="collapse" data-mdb-target="#navbarCenteredExample" aria-controls="navbarCenteredExample" aria-expanded="false" aria-label="Toggle navigation">
    <i class="fas fa-bars"></i>
  </button>
 <div class="collapse navbar-collapse justify-content-center  " id="navbarCenteredExample">
   <ul class="navbar-nav mb-2 mb-lg-0">

    <div class="dropdown">
      <button class="btn btn-secondary m-1 dropdown-toggle " type="button" id="dropdownMenuButton" data-toggle="dropdown" style="border-top-left-radius: 25px; border-bottom-right-radius: 25px;"  >
     SriKakulam
      </button>
      <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
        <a class="dropdown-item" href="#" routerLink="srikakulam/engineering">Engineering</a>
        <a class="dropdown-item" href="#" routerLink="srikakulam/mba">Mba</a>
      </div>
    </div>


 <div class="dropdown">
   <button class="btn btn-secondary m-1 dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" style="border-top-left-radius: 25px; border-bottom-right-radius: 25px;"  >
  Chittoor
   </button>
   <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
     <a class="dropdown-item" href="#" routerLink="chittoor/engineering">Engineering</a>
     <a class="dropdown-item" href="#" routerLink="chittoor/mba">Mba</a>
   </div>
 </div>

 <div class="dropdown">
  <button class="btn btn-secondary m-1 dropdown-toggle " type="button" id="dropdownMenuButton" data-toggle="dropdown" style="border-top-left-radius: 25px; border-bottom-right-radius: 25px;"  >
 Kadapa
  </button>
  <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
    <a class="dropdown-item" href="#" routerLink="kadapa/engineering">Engineering</a>
    <a class="dropdown-item" href="#" routerLink="kadapa/mba">Mba</a>
  </div>
</div>

<div class="dropdown">
  <button class="btn btn-secondary m-1 dropdown-toggle " type="button" id="dropdownMenuButton" data-toggle="dropdown" style="border-top-left-radius: 25px; border-bottom-right-radius: 25px;"  >
 Prakasam
  </button>
  <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
    <a class="dropdown-item" href="#" routerLink="prakasam/engineering">Engineering</a>
    <a class="dropdown-item" href="#" routerLink="prakasam/mba">Mba</a>
  </div>
</div>

<div class="dropdown">
  <button class="btn btn-secondary m-1 dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" style="border-top-left-radius: 25px; border-bottom-right-radius: 25px;"  >
 Ananthapur
  </button>
  <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
    <a class="dropdown-item" href="#" routerLink="ananthapur/engineering">Engineering</a>
    <a class="dropdown-item" href="#" routerLink="ananthapur/mba">Mba</a>
  </div>
</div>

<div class="dropdown">
  <button class="btn btn-secondary m-1 dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" style="border-top-left-radius: 25px; border-bottom-right-radius: 25px;"  >
  Vizianagaram
  </button>
  <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
    <a class="dropdown-item" href="#" routerLink="vizianagaram/engineering">Engineering</a>
    <a class="dropdown-item" href="#" routerLink="vizianagaram/mba">Mba</a>
  </div>
</div>
 
   <button class="btn btn-secondary m-1" data-target="#signin" data-toggle="modal" style="border-top-left-radius: 25px;
   border-bottom-right-radius: 25px;" routerLink="signup">Sign Up</button>

<button class="btn btn-secondary m-1" data-target="#signin" data-toggle="modal" style="border-top-left-radius: 25px;
border-bottom-right-radius: 25px;" routerLink="contactus">ContactUs</button>
   
   
   
   </ul>
   </div>
   </div>
   </nav>
   </div>
  

  
  
 </body>
</html>
<router-outlet></router-outlet>











