<div class="col">
    <div class="card-h-100">
        <h1 class="card-title ">1.INDIAN INSTITUTE OF TOURISM AND TRAVEL MANAGEMENT </h1>
        <img src="./assets/images/iittm.jpeg" width="50%" height="350px" class="card-img-top" alt="..."/>
        <div class="card-body">
            <p class="card-text">INDIAN INSTITUTE OF TOURISM AND TRAVEL MANAGEMENT is located in Nellore and affililated with JNTU Ananthapur</p>
             <p><b>IITTM  ESTABLISHED:</b>1983</p>
             <p><b>IITTM  ACCEREDIATION:</b>AICTE</p>
             <p><b>IITTM  AFFILIATED:</b>JNTUA</p>
             <p><b>IITTM  ELIGIBILITY:</b>Graduation 50% with APICET</p>
             <p><b>IITTM  FEE STRUCTURE:</b>2Lakh</p>
             <p><b>IITTM  COURSES:</b>TRAVEL&TOURISM, MBA</p>
             <p><b>IITTM  LOCATION: </b>near Venkaiah Swamy Temple, Saraswathi Nagar, Golagamudi, Andhra Pradesh 524321</p>
             <p><b>IITTM  PLACEMENT:</b>IRCTC, JET, AIRWAY, NYK LOGISTICS, and PARRY TRAVELS </p>
             <a class="read_more" href="https://www.iittm.ac.in/ "> Read More</a>
    </div>
</div>

<div class="col">
    <div class="card-h-100">
        <h1 class="card-title ">2. NARAYANA ENGINEERING COLLEGE </h1>
        <img src="./assets/images/narayana.jpg" width="50%" height="350px" class="card-img-top" alt="..."/>
        <div class="card-body">
            <p class="card-text"> NARAYANA ENGINEERING COLLEGE  is located in Nellore and affililated with JNTU Ananthapur</p>
             <p><b>NARAYANA ESTABLISHED:</b>2007</p>
             <p><b>NARAYANA ACCEREDIATION:</b>AICTE</p>
             <p><b>NARAYANA AFFILIATED:</b>JNTUA</p>
             <p><b>NARAYANA ELIGIBILITY:</b>Graduation APICET</p>
             <p><b>NARAYANA FEE STRUCTURE:</b>1.45Lakh</p>
             <p><b>NARAYANA COURSES:</b>Business & Management Studies, MBA in HR (Human Resource), MBA in Finance, MBA in IT & Systems, NGO Management, MBA in Sales & Marketing, Agriculture & Food Business,
                 MBA in Operations, MBA in finance, Supply Chain, Digital Marketing</p>
             <p><b>NARAYANA LOCATION: </b>Off NH-5, Muthukur Road, near Apollo Specialty Hospital, A.K. Nagar, Nellore, Andhra Pradesh 524004</p>
             <p><b>NARAYANA PLACEMENT:</b>AXIS SECURITIES, HINDUJA GLOBAL S SERVICES, ICICI, RELIANCE, TATA BUSINESS, VEE TECH, and JUST-DIAL .</p>
             <a class="read_more" href="http://www.necn.ac.in "> Read More</a>
    </div>
</div>


<div class="col">
    <div class="card-h-100">
        <h1 class="card-title ">3. GOKULA KRISHNA COLLEGE OF ENGINEERING  </h1>
        <img src="./assets/images/gokula.jpg" width="50%" height="350px" class="card-img-top" alt="..."/>
        <div class="card-body">
            <p class="card-text">GOKULA KRISHNA COLLEGE OF ENGINEERING  is located in Nellore and affililated with JNTU Hyderabad</p>
             <p><b>GKCE ESTABLISHED:</b>2007</p>
             <p><b>GKCE ACCEREDIATION:</b>AICTE</p>
             <p><b>GKCE AFFILIATED:</b>JNTUH</p>
             <p><b>GKCE ELIGIBILITY:</b>Graduation APICET</p>
             <p><b>GKCE FEE STRUCTURE:</b>1.2Lakh</p>
             <p><b>GKCE COURSES:</b>Business & Management Studies, MBA in HR (Human Resource), MBA in Finance, MBA in IT & Systems, NGO Management, MBA in Sales & Marketing, Agriculture & Food Business,
                 MBA in Operations, MBA in finance, Supply Chain, Digital Marketing</p>
             <p><b>GKCE LOCATION: </b>Krishnareddi Thagelu, Andhra Pradesh 524121</p>
             <p><b>GKCE PLACEMENT:</b>AMAZON, COGNIZANT, HDFC BANK, HUAWEI, INFOSYS, ORACLE, and HP.</p>
             <a class="read_more" href="http://www.gkcesp.com/ "> Read More</a>
    </div>
</div>

<div class="col">
    <div class="card-h-100">
        <h1 class="card-title ">4. AUDISANKAR COLLEGE OF ENGINEERING AND TECHNOLOGY   </h1>
        <img src="./assets/images/audisankara.jpg" width="50%" height="350px" class="card-img-top" alt="..."/>
        <div class="card-body">
            <p class="card-text"> AUDISANKAR COLLEGE OF ENGINEERING AND TECHNOLOGY   is located in Nellore and affililated with JNTU Hyderabad</p>
             <p><b>GKCE ESTABLISHED:</b>2001</p>
             <p><b>GKCE ACCEREDIATION:</b>AICTE</p>
             <p><b>GKCE AFFILIATED:</b>JNTUA</p>
             <p><b>GKCE ELIGIBILITY:</b>Graduation APICET</p>
             <p><b>GKCE FEE STRUCTURE:</b>1.2Lakh</p>
             <p><b>GKCE COURSES:</b>Business & Management Studies, MBA in HR (Human Resource), MBA in Finance, MBA in IT & Systems, NGO Management, MBA in Sales & Marketing, Agriculture & Food Business,
                 MBA in Operations, MBA in finance, Supply Chain, Digital Marketing</p>
             <p><b>GKCE LOCATION: </b>NH – 5, Bypass Road, Aravinda Nagar, near Hanuman Temple, Gudur, Andhra Pradesh 524101.</p>
             <p><b>GKCE PLACEMENT:</b> AMAZON, CSS CROP, EDUCAMP, GENPACT, and IBM .</p>
             <a class="read_more" href="https://www.audisankara.ac.in/"> Read More</a>
    </div>
</div>
