
<div class="col">
    <div class="card-h-100">
        <h1 class="card-title ">1.G. PULLA REDDY ENGINEERING COLLEGE KURNOOL</h1>
        <img src="./assets/images/pulla reddy.jpg" width="50%" height="350px" class="card-img-top" alt="..."/>
        <div class="card-body">
            <p class="card-text">G. PULLA REDDY ENGINEERING COLLEGE KURNOOL is located in kurnool,Andhrapradesh,kurnool district</p>
             <p><b>GPREC ESTABLISHED:</b>1985</p>
             <p><b>GPREC ACCEREDIATION:</b>NACC</p>
             <p><b>GPREC AFFILIATED:</b>JNTUA</p>
             <p><b>GPREC ELIGIBILITY:</b>10+2 with45%+APEAMCET</p>
             <p><b>GPREC FEE STRUCTURE:</b>80K</p>
             <p><b>GPREC COURSES:</b>CSE,ECE,EEE,ME,CE</p>
             <p><b>GPREC LOCATION: </b> G.PULLA REDDY ENGINEERING COLLEGE (Autonomous) G.Pulla Reddy Nagar, Nandyal Road, KURNOOL – 518 007, AP, India.</p>
             <p><b>GPREC PLACEMENT:</b>TCS,Cognizant,IBM,Wipro,DXC,Syntel,Capgemini,Tech Mahindra,HCL,Virtusa,Amazon,Mintree.</p>
             <a class="read_more" href="https://www.gprec.ac.in/"> Read More</a>
    </div>
</div>

<div class="col">
    <div class="card-h-100">
        <h1 class="card-title ">2.INDIAN INSTITUTE OF INFORMATION TECHNOLOGY DESIGN AND MANUFACTURING  KURNOOL</h1>
        <img src="./assets/images/iiitdm.jpeg" width="50%" height="350px" class="card-img-top" alt="..."/>
        <div class="card-body">
            <p class="card-text">INDIAN INSTITUTE OF INFORMATION TECHNOLOGY DESIGN AND MANUFACTURING  is located in kurnool,Andhrapradesh,kurnool district</p>
             <p><b>IIITDM ESTABLISHED:</b>2015>
             <p><b>IIITDM ACCEREDIATION:</b>MHRD</p>
             <p><b>IIITDM AFFILIATED:</b>Autonomous university</p>
             <p><b>IIITDM ELIGIBILITY:</b>candidates securing qualify marks in Entrance exam with intermediate 45% will be eligible.</p>
             <p><b>IIITDM FEE STRUCTURE:</b>1.2Lakh</p>
             <p><b>IIITDM COURSES:</b>CSE,ECE,EEE,ME,CE</p>
             <p><b>IIITDM LOCATION: </b> Jagannathagattu Hill, Kurnool-518 007 Andhra Pradesh, India.</p>
             <p><b>IIITDM PLACEMENT:</b>Virtusa, NAVIS, GAVS TECH, WABCO, IBM, Shriram Value, KRISAM, WIPRO, L & T, Viasat, PPO ENTRAYN, PayPal-Intern, Cyber Security.</p>
             <a class="read_more" href="https://iiitk.ac.in/"> Read More</a>
    </div>
</div>

<div class="col">
    <div class="card-h-100">
        <h1 class="card-title ">3.RAJEEV GANDHI MEMORIAL COLLEGE OF ENGINEERING AND TECHNOLOGY NANDYAL KURNOOL</h1>
        <img src="./assets/images/kurnool.jpg" width="50%" height="350px" class="card-img-top" alt="..."/>
        <div class="card-body">
            <p class="card-text">RAJEEV GANDHI MEMORIAL COLLEGE OF ENGINEERING AND TECHNOLOGY NANDYAL is located KURNOOL,Andhrapradesh,kurnool district</p>
             <p><b>RGMCET ESTABLISHED:</b>1995</p>
             <p><b>RGMCET ACCEREDIATION:</b>NACC</p>
             <p><b>RGMCET AFFILIATED:</b>JNTUA</p>
             <p><b>RGMCET ELIGIBILITY:</b>10+2 with 50%+APEAMCET</p>
             <p><b>RGMCET FEE STRUCTURE:</b>90K</p>
             <p><b>RGMCET COURSES:</b>CSE,ECE,EEE,ME,CE</p>
             <p><b>RGMCET LOCATION: </b> Nerawada X Roads Nandyal-518501 Andhra Pradesh India</p>
             <p><b>RGMCET PLACEMENT:</b>Virtusa,Code mantra,Byjus,CMS,TCS,Wipro,Ggk tech,caddy code,Danfoss.</p>
             <a class="read_more" href="http://www.rgmcet.edu.in/"> Read More</a>
    </div>
</div>

<div class="col">
    <div class="card-h-100">
        <h1 class="card-title ">4.BRINDAVAN INSTITUTE OF TECHNOLOGY AND SCIENCE KURNOOL</h1>
        <img src="./assets/images/brindavan.jpg" width="50%" height="350px" class="card-img-top" alt="..."/>
        <div class="card-body">
            <p class="card-text">BRINDAVAN INSTITUTE OF TECHNOLOGY AND SCIENCE  is located in KURNOOL,Andhrapradesh,kurnool district</p>
             <p><b>BITS ESTABLISHED:</b>2008</p>
             <p><b>BITS ACCEREDIATION:</b>AICTE</p>
             <p><b>BITS AFFILIATED:</b>JNTUA</p>
             <p><b>BITS ELIGIBILITY:</b>10+2 with 50%+APEAMCET</p>
             <p><b>BITS FEE STRUCTURE:</b>53K</p>
             <p><b>BITS COURSES:</b>CSE,ECE,EEE,ME,CE</p>
             <p><b>BITS LOCATION: </b> NH-7, Bangalore – Hyderabad Highway, Pedda Tekur, Andhra Pradesh 518218.</p>
             <p><b>BITS PLACEMENT:</b>Tech Mahindra,Amazon,Infotech,Infosys,Karvy,CMS IT Services,Surya tech solutions.</p>
             <a class="read_more" href="https://bitskurnool.edu.in/"> Read More</a>
    </div>
</div>

