<div class="col">
    <div class="card-h-100">
        <h1 class="card-title ">1. YOGIVEMANA MANAGEMENT OF COLLEGE </h1>
        <img src="../../assets/images/yogi.jpg" width="50%" height="350px" class="card-img-top" alt="..."/>
        <div class="card-body">
            <p class="card-text">YOGIVEMANA MANAGEMENT OF COLLEGE is located in  Kadapa district and affililated with JNTU Kakinada</p>
             <p><b>YOGIVEMANA ESTABLISHED:</b>2006</p>
             <p><b>YOGIVEMANA ACCEREDIATION:</b>NACC</p>
             <p><b>YOGIVEMANA AFFILIATED:</b>UGC</p>
             <p><b>YOGIVEMANA ELIGIBILITY:</b>Graduation 50%+YVUCET</p>
             <p><b>YOGIVEMANA FEE STRUCTURE:</b>50K</p>
             <p><b>YOGIVEMANA COURSES:</b>HRM, GM, MBA</p>
             <p><b>YOGIVEMANA LOCATION: </b>Kadapa-Pulivendula Road, Kadapa–516 005</p>
             <p><b>YOGIVEMANA PLACEMENT:</b> STEEL PLANT, RINL, WIPRO and INFOSYS</p>
             <a class="read_more" href="http://www.yogivemanauniversity.ac.in/colleges/ms_bm.php"> Read More</a>
    </div>
</div>

<div class="col">
    <div class="card-h-100">
        <h1 class="card-title ">2. KANDULA SREENIVASA REDDY MEMORIAL COLLEGE OF ENGINEERING</h1>
        <img src="../../assets/images/kandula.png" width="50%" height="350px" class="card-img-top" alt="..."/>
        <div class="card-body">
            <p class="card-text">KANDULA SREENIVASA REDDY MEMORIAL COLLEGE OF ENGINEERING is located in  Kadapa district and affililated with JNTU Kakinada</p>
             <p><b>KSRMCE ESTABLISHED:</b>1995</p>
             <p><b>KSRMCE ACCEREDIATION:</b>NACC</p>
             <p><b>KSRMCE AFFILIATED:</b>JNTUA</p>
             <p><b>KSRMCE ELIGIBILITY:</b>Graduation 50%+YVUCET</p>
             <p><b>KSRMCE FEE STRUCTURE:</b>50K</p>
             <p><b>KSRMCE COURSES:</b>MBA</p>
             <p><b>KSRMCE LOCATION: </b>Tadigotla Village, Chintakommadinne Mandal, Pulivendula Road, KSRM Hostel Rd, Andhra Pradesh 516003</p>
             <p><b>KSRMCE PLACEMENT:</b> L&T, HCL, INFOSYS, WIPRO and TECH MAHINDRA</p>
             <a class="read_more" href="https://www.ksrmce.ac.in/"> Read More</a>
    </div>
</div>

<div class="col">
    <div class="card-h-100">
        <h1 class="card-title ">3.VAAGDEVI INSTITUTE OF TECHNOLOGY AND SCEINCE</h1>
        <img src="../../assets/images/vaagdevi.jpg" width="50%" height="350px" class="card-img-top" alt="..."/>
        <div class="card-body">
            <p class="card-text">VAAGDEVI INSTITUTE OF TECHNOLOGY AND SCEINCE is located in  Kadapa district and affililated with JNTU Kakinada</p>
             <p><b>VITS ESTABLISHED:</b>2002</p>
             <p><b>VITS ACCEREDIATION:</b>AICTE</p>
             <p><b>VITS AFFILIATED:</b>JNTUA</p>
             <p><b>VITS ELIGIBILITY:</b>Graduation 50%+YVUCET</p>
             <p><b>VITS FEE STRUCTURE:</b>70K</p>
             <p><b>VITS COURSES:</b> HRM, GM, MBA, FM, IT and MM</p>
             <p><b>VITS LOCATION: </b> Peddasettipalli, Proddatur, Andhra Pradesh 516360</p>
             <p><b>VITS PLACEMENT:</b> IBM, TCS, CTS, CAPGEMINI and INFOSYS.</p>
             <a class="read_more" href="http://www.vitspdtr.ac.in/"> Read More</a>
    </div>
</div>

<div class="col">
    <div class="card-h-100">
        <h1 class="card-title ">4. ANNAMACHARYA INSTITUTE OF TECHNOLOGY AND SCIENCES</h1>
        <img src="../../assets/images/aits.1.jpg" width="50%" height="350px" class="card-img-top" alt="..."/>
        <div class="card-body">
            <p class="card-text">ANNAMACHARYA INSTITUTE OF TECHNOLOGY AND SCIENCES is located in  Kadapa district and affililated with JNTU Kakinada</p>
             <p><b>AITS ESTABLISHED:</b>1997</p>
             <p><b>AITS ACCEREDIATION:</b>NACC</p>
             <p><b>AITS AFFILIATED:</b>JNTUA</p>
             <p><b>AITS ELIGIBILITY:</b>Graduation 50%+YVUCET</p>
             <p><b>AITS FEE STRUCTURE:</b>1Lakh</p>
             <p><b>AITS COURSES:</b> Business & Management Studies, MBA in HR (Human Resource), MBA in Finance, MBA in IT & Systems, NGO Management, MBA in Sales & Marketing, 
                Agriculture & Food Business, MBA in Operations, MBA in finance, Supply Chain, Digital Marketing </p>
             <p><b>AITS LOCATION: </b> Utukur (Post), Chintakomma Dinne (V&M), Kadapa, YSR (Distt.) Andhra Pradesh – 516 003.</p>
             <p><b>AITS PLACEMENT:</b>: EUREKA FORBES, HINDUJA GLOBAL SERVICES </p>
             <a class="read_more" href="https://aits-tpt.edu.in/"> Read More</a>
    </div>
</div>