<div class="col">
    <div class="card-h-100">
        <h1 class="card-title ">1.KL University</h1>
        <img src="./assets/images/klu.jpg" width="50%" height="350px" class="card-img-top" alt="..."/>
        <div class="card-body">
            <p class="card-text">KL University is located in Guntur,Andhrapradesh</p>
             <p><b>KLU ESTABLISHED:</b>1980</p>
             <p><b>KLU ACCEREDIATION:</b>NACC</p>
             <p><b>KLU AFFILIATED:</b>AIU</p>
             <p><b>KLU ELIGIBILITY:</b>10+2 with45%+APEAMCET/KLEEE/ JEE MAINS</p>
             <p><b>KLU FEE STRUCTURE:</b>7-9.5Lakhs</p>
             <p><b>KLU COURSES:</b>AI & DS, CSE, ME, EEE, ECE, ECS, PE </p>
             <p><b>KLU LOCATION: </b>Green Fields, Vaddeswaram, Andhra Pradesh 522502.</p>
             <p><b>KLU PLACEMENT:</b>AMAZON, BAJAJ CAPITAL, CISCO SYSTEM, COCO-COLA, COGNIZANT, and CTS.</p>
             <a class="read_more" href="https://www.kluniversity.in/"> Read More</a>
    </div>
</div>

<div class="col">
    <div class="card-h-100">
        <h1 class="card-title "> 2.Rayapati Venkata Rangarao & Jagarlamudi Chandramouli</h1>
        <img src="./assets/images/rayapati.jpg" width="50%" height="350px" class="card-img-top" alt="..."/>
        <div class="card-body">
            <p class="card-text">Rayapati Venkata Rangarao & Jagarlamudi Chandramouli is located in Guntur,Andhrapradesh</p>
             <p><b>RVR&JC  ESTABLISHED:</b>1985</p>
             <p><b>RVR&JC  ACCEREDIATION:</b>AICTE</p>
             <p><b>RVR&JC  AFFILIATED:</b>ANU</p>
             <p><b>RVR&JC  ELIGIBILITY:</b>10+2 with45%+APEAMCET</p>
             <p><b>RVR&JC  FEE STRUCTURE:</b>2.7-3.4Lakhs</p>
             <p><b>RVR&JC  COURSES:</b>CSE,EE,ECE,ME,CHEMICAL,CE,IT </p>
             <p><b>RVR&JC  LOCATION: </b>Chowdavaram, GUNTUR, Andhra Pradesh 522019</p>
             <p><b>RVR&JC  PLACEMENT:</b>ADP,WIPRO,TCS,HCL,INFOSYS,MIRACLE,VEE-TECHNOLOGIES and NTT DATA</p>
             <a class="read_more" href="https://www.university.youth4work.com/rvrjcce_rayapati-venkata-rangarao-and-jagarlamudi-chandramouli-college-of-engineering"> Read More</a>
    </div>
</div>

<div class="col">
    <div class="card-h-100">
        <h1 class="card-title "> 3.Vignan’s Foundation For Science And Technology</h1>
        <img src="./assets/images/vignang.jpg" width="50%" height="350px" class="card-img-top" alt="..."/>
        <div class="card-body">
            <p class="card-text">Vignan’s Foundation For Science And Technology is located in Guntur,Andhrapradesh</p>
             <p><b>RVR&JC  ESTABLISHED:</b>2009</p>
             <p><b>RVR&JC  ACCEREDIATION:</b>NACC</p>
             <p><b>RVR&JC  AFFILIATED:</b>UGC</p>
             <p><b>RVR&JC  ELIGIBILITY:</b>10+2 with45%+APEAMCET</p>
             <p><b>RVR&JC  FEE STRUCTURE:</b>2.5Lakhs</p>
             <p><b>RVR&JC  COURSES:</b>ECE,EEE,CE,CSE,CHEM,BIO,IT,PETROLEUM ENG,AGR ENG,AUTOMOBILE </p>
             <p><b>RVR&JC  LOCATION: </b>Guntur -Tenali Rd, Vadlamudi, Andhra Pradesh 522213</p>
             <p><b>RVR&JC  PLACEMENT:</b>COGNIZANT, IBM, GENPACT, WIPRO, HCL, CAPGEMINI, MIND TREE, TECH MAHINDRA, and NTT DATA.    </p>
             <a class="read_more" href="https://www.vignan.ac.in/"> Read More</a>
    </div>
</div>

<div class="col">
    <div class="card-h-100">
        <h1 class="card-title "> 4.Vellore Institute Of Technology</h1>
        <img src="./assets/images/vit.jpg" width="50%" height="350px" class="card-img-top" alt="..."/>
        <div class="card-body">
            <p class="card-text">Vellore Institute Of Technology is located in Guntur,Andhrapradesh</p>
             <p><b>VIT  ESTABLISHED:</b>2016</p>
             <p><b>VIT  ACCEREDIATION:</b>NACC</p>
             <p><b>VIT  AFFILIATED:</b>Deemed University</p>
             <p><b>VIT ELIGIBILITY:</b>10+2 with50%+VITEEE/JEE MAINS</p>
             <p><b>VIT  FEE STRUCTURE:</b>2Lakhs</p>
             <p><b>VIT  COURSES:</b>ROBOTICS,VLSI DESIGN,ARTIFICIALINTELLEGENCE,EMBEDED SYSTEM&IOT,NETWORKING SECURITY,ME,CSE,ECE </p>
             <p><b>VIT  LOCATION: </b> VIT-AP University, G-30, Inavolu, Beside AP Secretariat Amaravati, Andhra Pradesh 522237</p>
             <p><b>VIT  PLACEMENT:</b>AMAZON,INFOSYS,COGNIZANT,IBM,DELL,GOOGLE,MICROSOFT,SAMSUNG,DELOITTE,WIPRO,POLARIS and CISCO </p>
             <a class="read_more" href="https://vit.ac.in/"> Read More</a>
    </div>
</div>