<div class="col">
    <div class="card-h-100">
        <h1 class="card-title ">1. NARAYANA ENGINEERING COLLEGE </h1>
        <img src="./assets/images/narayana.jpg" width="50%" height="350px" class="card-img-top" alt="..."/>
        <div class="card-body">
            <p class="card-text"> NARAYANA ENGINEERING COLLEGE  is located in Nellore and affililated with JNTU Ananthapur</p>
             <p><b>NARAYANA ESTABLISHED:</b>1998</p>
             <p><b>NARAYANA ACCEREDIATION:</b>NACC</p>
             <p><b>NARAYANA AFFILIATED:</b>JNTUA</p>
             <p><b>NARAYANA ELIGIBILITY:</b>10+2 with APEAMCET</p>
             <p><b>NARAYANA FEE STRUCTURE:</b>2.4Lakhs</p>
             <p><b>NARAYANA COURSES:</b>CSE,ECE,EEE,ME,CE</p>
             <p><b>NARAYANA LOCATION: </b>Off NH-5, Muthukur Road, near Apollo Specialty Hospital, A.K. Nagar, Nellore, Andhra Pradesh 524004</p>
             <p><b>NARAYANA PLACEMENT:</b>HINDUJA GLOBAL SERVICES, TATA, AXIS SECURITIES, JUST DAIL, RELIANCE, and VEE TECHNOLOGIE. </p>
             <a class="read_more" href="http://www.necn.ac.in "> Read More</a>
    </div>
</div>

<div class="col">
    <div class="card-h-100">
        <h1 class="card-title ">2. MERAKAPATI RAJA MOHAN REDDY INSTITUTE OF TECHNOLOGY AND SCIENCE  </h1>
        <img src="./assets/images/mekapati.jpg" width="50%" height="350px" class="card-img-top" alt="..."/>
        <div class="card-body">
            <p class="card-text">MERAKAPATI RAJA MOHAN REDDY INSTITUTE OF TECHNOLOGY AND SCIENCE  is located in Nellore and affililated with JNTU Ananthapur</p>
             <p><b>MRRITS ESTABLISHED:</b>2002</p>
             <p><b>MRRITS ACCEREDIATION:</b>AICTE</p>
             <p><b>MRRITS AFFILIATED:</b>JNTUA</p>
             <p><b>MRRITS ELIGIBILITY:</b>10+2 with APEAMCET</p>
             <p><b>MRRITS FEE STRUCTURE:</b>2Lakhs</p>
             <p><b>MRRITS COURSES:</b>CSE,ECE,EEE,ME,CE,IT</p>
             <p><b>MRRITS LOCATION: </b>Udayagiri Rd, Seetharampuram, Udayagiri, Andhra Pradesh 524226</p>
             <p><b>MRRITS PLACEMENT:</b>INFOSYS, WIPRO, HCL, TCS </p>
             <a class="read_more" href="http://www.meritstech.ac.in"> Read More</a>
    </div>
</div>

<div class="col">
    <div class="card-h-100">
        <h1 class="card-title ">3. GEETANJALI INSTITUTE OF SCIENCE AND TECHNOLOGY</h1>
        <img src="./assets/images/geetanjali.png" width="50%" height="350px" class="card-img-top" alt="..."/>
        <div class="card-body">
            <p class="card-text"> GEETANJALI INSTITUTE OF SCIENCE AND TECHNOLOGY is located in Nellore and affililated with JNTU Ananthapur</p>
             <p><b>GIST ESTABLISHED:</b>2005</p>
             <p><b>GIST ACCEREDIATION:</b>AICTE</p>
             <p><b>GIST AFFILIATED:</b>JNTUA</p>
             <p><b>GIST ELIGIBILITY:</b>10+2 with APEAMCET</p>
             <p><b>GIST FEE STRUCTURE:</b>2Lakhs</p>
             <p><b>GIST COURSES:</b>CSE,ECE,EEE,ME,CE</p>
             <p><b>GIST LOCATION: </b>S.P.S. R, 3rd Mile, Nellore-Bombay Highway, Gangavaram (V), Kovur, Nellore, Andhra Pradesh 524137  </p>
             <p><b>GIST PLACEMENT:</b> LG, INFOSYS, WIPRO, MIND TREE, COGNIZANT, TCS, ATOS, and CTRLS </p>
             <a class="read_more" href="https://gist.edu.in/gist/gist-home/ "> Read More</a>
    </div>
</div>


<div class="col">
    <div class="card-h-100">
        <h1 class="card-title ">4. N.B.K. R INSTITUTE OF SCIENCE AND TECHNOLOGY </h1>
        <img src="./assets/images/nbkr.jpg" width="50%" height="350px" class="card-img-top" alt="..."/>
        <div class="card-body">
            <p class="card-text"> N.B.K. R INSTITUTE OF SCIENCE AND TECHNOLOGY  is located in Nellore and affililated with JNTU Ananthapur</p>
             <p><b>GIST ESTABLISHED:</b>2005</p>
             <p><b>GIST ACCEREDIATION:</b>NACC</p>
             <p><b>GIST AFFILIATED:</b>JNTUA</p>
             <p><b>GIST ELIGIBILITY:</b>10+2 with APEAMCET</p>
             <p><b>GIST FEE STRUCTURE:</b>2.8Lakhs</p>
             <p><b>GIST COURSES:</b>CSE,ECE,EEE,ME,CE</p>
             <p><b>GIST LOCATION: </b> Vidyanagar Kota, S.P.S.R, Andhra Pradesh 524413 </p>
             <p><b>GIST PLACEMENT:</b>INFOSYS, TCS, HCL, COGNIZANT, and GREEN TEC </p>
             <a class="read_more" href=" http://www.nbkrist.co.in/index.php"> Read More</a>
    </div>
</div>
