<div class="col">
    <div class="card-h-100">
        <h1 class="card-title ">1. ANNAMACHARYA INSTITUTE OF TECHNOLOGY AND SCIENCESENT</h1>
        <img src="../../assets/images/aits.jpg" width="50%" height="350px" class="card-img-top" alt="..."/>
        <div class="card-body">
            <p class="card-text">ANNAMACHARYA INSTITUTE OF TECHNOLOGY AND SCIENCES is located in Kadapa and affililated with JNTU Kakinada</p>
             <p><b>AITS  ESTABLISHED:</b>1997</p>
             <p><b>AITS  ACCEREDIATION:</b>NACC</p>
             <p><b>AITS  AFFILIATED:</b>JNTUA</p>
             <p><b>AITS  ELIGIBILITY:</b>10+2 45% with APEAMCET</p>
             <p><b>AITS  FEE STRUCTURE:</b>3.5Lakhs</p>
             <p><b>AITS  COURSES:</b>CSE, ECE, EE, ME, CE, EE, FINANCE, HUMAN RESOURCE, SALES MARKETING, STRUCTURAL, VLSI DESIGN ENGINEERING</p>
             <p><b>AITS  LOCATION: </b> Utukur (Post), Chintakomma Dinne (V&M), Kadapa, YSR (Distt.) Andhra Pradesh – 516 003.</p>
             <p><b>AITS  PLACEMENT:</b>INFOSYS, WIPRO, TCS, IBM, EDICO are the top recruiting companies</p>
             <a class="read_more" href="https://aits-tpt.edu.in/"> Read More</a>
    </div>
</div>

<div class="col">
    <div class="card-h-100">
        <h1 class="card-title ">2. KANDULA SREENIVASA REDDY MEMORIAL COLLEGE OF ENGINEERING</h1>
        <img src="../../assets/images/kandula.png" width="50%" height="350px" class="card-img-top" alt="..."/>
        <div class="card-body">
            <p class="card-text">KANDULA SREENIVASA REDDY MEMORIAL COLLEGE OF ENGINEERING is located in Kadapa and affililated with JNTU Kakinada</p>
             <p><b>KSRMCE  ESTABLISHED:</b>1979</p>
             <p><b>KSRMCE  ACCEREDIATION:</b>NACC</p>
             <p><b>KSRMCE  AFFILIATED:</b>JNTUA</p>
             <p><b>KSRMCE  ELIGIBILITY:</b>10+2 45% with APEAMCET</p>
             <p><b>KSRMCE  FEE STRUCTURE:</b>2.6Lakhs</p>
             <p><b>KSRMCE  COURSES:</b> CE, ME, CSE, EEE, ECE</p>
             <p><b>KSRMCE  LOCATION: </b>Yerramasupalli, C.K. Dinne, Kadapa, Andhra Pradesh 516003 </p>
             <p><b>KSRMCE  PLACEMENT:</b> INFOSYS, WIPRO, HCL, L&T, TECH MAHINDRA and SATYAM are the top companies</p>
             <a class="read_more" href="https://www.ksrmce.ac.in/"> Read More</a>
    </div>
</div>

<div class="col">
    <div class="card-h-100">
        <h1 class="card-title ">3. RAJIV GANDHI UNIVERSITY OF KNOWLEDGE TECHNOLOGIES </h1>
        <img src="../../assets/images/rajiv.jpg" width="50%" height="350px" class="card-img-top" alt="..."/>
        <div class="card-body">
            <p class="card-text">RAJIV GANDHI UNIVERSITY OF KNOWLEDGE TECHNOLOGIES  is located in Kadapa and affililated with JNTU Kakinada</p>
             <p><b>RGUKT  ESTABLISHED:</b>2007</p>
             <p><b>RGUKT  ACCEREDIATION:</b>UGC</p>
             <p><b>RGUKT  AFFILIATED:</b>JNTUA</p>
             <p><b>RGUKT  ELIGIBILITY:</b>10+2 45% with APEAMCET</p>
             <p><b>RGUKT  FEE STRUCTURE:</b>2.1Lakhs</p>
             <p><b>RGUKT  COURSES:</b>ME, CIVIL, CE, CSE, MATERIAL SCIENCE AND METALLURGICAL Engineering</p>
             <p><b>RGUKT  LOCATION: </b>IIIT-RK Valley Campus, Academic Block – 1, Ground Floor, Idupulapaya, Vempalli, Andhra Pradesh 516330 </p>
             <p><b>RGUKT  PLACEMENT:</b> TECH MAHINDRA, INFOSYS, WIPRO, TCS, AMAZON and CAPGEMINI are the top companies</p>
             <a class="read_more" href="http://www.rgukt.in/"> Read More</a>
    </div>
</div>

<div class="col">
    <div class="card-h-100">
        <h1 class="card-title ">4. MADINA ENGINEERING COLLEGE KADAPA </h1>
        <img src="../../assets/images/madina.png" width="50%" height="350px" class="card-img-top" alt="..."/>
        <div class="card-body">
            <p class="card-text"> MADINA ENGINEERING COLLEGE KADAPA  is located in Kadapa and affililated with JNTU Kakinada</p>
             <p><b>MEC  ESTABLISHED:</b>1987</p>
             <p><b>MEC  ACCEREDIATION:</b>AICTE</p>
             <p><b>MEC  AFFILIATED:</b>JNTUA</p>
             <p><b>MEC  ELIGIBILITY:</b>10+2 45% with APEAMCET</p>
             <p><b>MEC  FEE STRUCTURE:</b>1.5Lakhs</p>
             <p><b>MEC  COURSES:</b>CIVIL, CSE, ME, EEE, ECE</p>
             <p><b>MEC  LOCATION: </b>Rayalapanthulapalle, Andhra Pradesh 516162</p>
             <p><b>MEC  PLACEMENT:</b> IBM, INFOSYS, TCS, HONEY WELL and NOKIA are the companies</p>
             <a class="read_more" href="https://www.collegesearch.in/colleges/madina-engineering-college-kadapa"> Read More</a>
    </div>
</div>
