<div class="col">
    <div class="card-h-100">
        <h1 class="card-title ">1. GMR INSTITUTE OF TECHNOLOGY SRIKAKULAM</h1>
        <img src="../../assets/images/gmr.jpg" width="50%" height="350px" class="card-img-top" alt="..."/>
        <div class="card-body">
            <p class="card-text">GMR INSTITUTE OF TECHNOLOGY SRIKAKULAM is located in SriKakulam and affililated with JNTU Kakinada</p>
             <p><b>GMRIT ESTABLISHED:</b>1997</p>
             <p><b>GMRIT ACCEREDIATION:</b>NACC</p>
             <p><b>GMRIT AFFILIATED:</b>JNTUK</p>
             <p><b>GMRIT ELIGIBILITY:</b>10+2 45% with APEAMCET</p>
             <p><b>GMRIT FEE STRUCTURE:</b>2.4Lakhs</p>
             <p><b>GMRIT COURSES:</b>EEE, ME, CHE, IT, PE, EE, VLSI DESIGN, CIVIL, ECE, CSE, CYBERSECURITY</p>
             <p><b>GMRIT LOCATION: </b> GMR Nagar, Rajam-532 127, Srikakulam Dist., Andhra Pradesh</p>
             <p><b>GMRIT PLACEMENT:</b>TCS, HCL, WIPRO, INFOSYS, CAPGEMINI, TECH MAHINDRA, and L&T </p>
             <a class="read_more" href="http://www.gmrit.org/"> Read More</a>
    </div>
</div>


<div class="col">
    <div class="card-h-100">
        <h1 class="card-title ">2. ADITYA INSTITUTE OF TECHNOLOGY AND MANAGEMENT</h1>
        <img src="../../assets/images/aitam.png" width="50%" height="350px" class="card-img-top" alt="..."/>
        <div class="card-body">
            <p class="card-text">ADITYA INSTITUTE OF TECHNOLOGY AND MANAGEMENT is located in SriKakulam and affililated with JNTU Kakinada</p>
             <p><b>AITAM  ESTABLISHED:</b>2001</p>
             <p><b>AITAM  ACCEREDIATION:</b>NACC</p>
             <p><b>AITAM  AFFILIATED:</b>JNTUK</p>
             <p><b>AITAM  ELIGIBILITY:</b>10+2 45% with APEAMCET</p>
             <p><b>AITAM  FEE STRUCTURE:</b>2.5Lakhs</p>
             <p><b>AITAM  COURSES:</b>EEE, ME, CHE, IT, PE, EE, VLSI DESIGN, CIVIL, ECE, CSE, CYBERSECURITY</p>
             <p><b>AITAM  LOCATION: </b>Tekkali, K Kotturu, Andhra Pradesh 532201 </p>
             <p><b>AITAM  PLACEMENT:</b>TECH MAHINDRA, MIND TREE, VIRTUSA, HCL and COGNIZANT</p>
             <a class="read_more" href="https://www.adityatekkali.edu.in/"> Read More</a>
    </div>
</div>

<div class="col">
    <div class="card-h-100">
        <h1 class="card-title ">3. SRI SIVANI COLLEGE OF ENGINEERING</h1>
        <img src="../../assets/images/sivani.jpg" width="50%" height="350px" class="card-img-top" alt="..."/>
        <div class="card-body">
            <p class="card-text">SRI SIVANI COLLEGE OF ENGINEERING is located in SriKakulam and affililated with JNTU Kakinada</p>
             <p><b>SIVANI  ESTABLISHED:</b>2006</p>
             <p><b>SIVANI  ACCEREDIATION:</b>NACC</p>
             <p><b>SIVANI  AFFILIATED:</b>JNTUK</p>
             <p><b>SIVANI  ELIGIBILITY:</b>10+2 45% with APEAMCET</p>
             <p><b>SIVANI  FEE STRUCTURE:</b>1.5Lakhs</p>
             <p><b>SIVANI  COURSES:</b>EE, CSE, ME, CE, ECE</p>
             <p><b>SIVANI  LOCATION: </b>Etcherla, Chilakapalem, Andhra Pradesh 532402</p>
             <p><b>SIVANI  PLACEMENT:</b>ACCENTURE, GENPACT, HCL, and TECH MAHINDRA</p>
             <a class="read_more" href="http://www.srisivani.com/"> Read More</a>
    </div>
</div>

<div class="col">
    <div class="card-h-100">
        <h1 class="card-title ">4. PRAJNA INSTITUTE OF TECHNOLOGY AND MANAGEMENT</h1>
        <img src="../../assets/images/prajna.jpg" width="50%" height="350px" class="card-img-top" alt="..."/>
        <div class="card-body">
            <p class="card-text">PRAJNA INSTITUTE OF TECHNOLOGY AND MANAGEMENT is located in SriKakulam and affililated with JNTU Kakinada</p>
             <p><b>PITAM  ESTABLISHED:</b>2007</p>
             <p><b>PITAM  ACCEREDIATION:</b>AICTE</p>
             <p><b>PITAM  AFFILIATED:</b>JNTUK</p>
             <p><b>PITAM  ELIGIBILITY:</b>10+2 45% with APEAMCET</p>
             <p><b>PITAM  FEE STRUCTURE:</b>1.5Lakhs</p>
             <p><b>PITAM  COURSES:</b>CE, CSE, EEE, ECE, IT, ME</p>
             <p><b>PITAM  LOCATION: </b>NH16, Ramakrishnapuram, Palasa, Andhra Pradesh 532243</p>
             <p><b>PITAM  PLACEMENT:</b>HCL and TECH MAHINDRA</p>
             <a class="read_more" href="https://www.university.youth4work.com/pitm_prajna-institute-of-technology-and-management"> Read More</a>
    </div>
</div>