<div class="container p-4 my-4 bg-danger">
  <marquee direction="right"><h1>ANY QUERIES PLEASE CONTACT THANUJA.THOTA</h1></marquee></div>
  
  
  <div class="container">
    
  <div class="card-deck">
    <div class="card bg-success">
      <div class="card-body text-center">
        <p class="card-text"><b>THANUJA THOTA</b></p>
      </div>
    </div>
    <div class="card bg-primary">
      <div class="card-body text-center">
        <p class="card-text"><b>Contact Me:9550320869</b></p>
      </div>
    </div>  
    <div class="card bg-warning">
      <div class="card-body text-md-left">
        <p class="card-text"><b>Email Id: thanujathota66@gmail.com</b></p>
      </div>
    </div>
  </div>
  </div> 
  
