<div class="col">
    <div class="card-h-100">
        <h1 class="card-title ">1.Maharaj Vijayaram Gajapathi Raj College of Engineering </h1>
        <img src="./assets/images/maharaja.jpg" width="50%" height="350px" class="card-img-top" alt="..."/>
        <div class="card-body">
            <p class="card-text">Maharaj Vijayaram Gajapathi Raj College of Engineering   is located in Vizianagaram</p>
             <p><b>MAHARAJA ESTABLISHED:</b>1879</p>
             <p><b>MAHARAJA ACCEREDIATION:</b>NACC</p>
             <p><b>MAHARAJA AFFILIATED:</b>JNTUH</p>
             <p><b>MAHARAJA ELIGIBILITY:</b>Graduation with45%+  APICET</p>
             <p><b>MAHARAJA FEE STRUCTURE:</b>1Lakh</p>
             <p><b>MAHARAJA COURSES:</b>MBA</p>
             <p><b>MAHARAJA LOCATION: </b>Tupakula Street, Kaspa West, Vizianagaram, Andhra Pradesh 535001</p>
             <p><b>MAHARAJA PLACEMENT:</b>BAJAJ Allianz , Berger Paints , bnp paribas , Face Academy for Career Enhancement , Factset , Future Generali , Genpact , HP , HSBC </p>
             <a class="read_more" href=" http://www.mracollegevzm.com/"> Read More</a>
    </div>
</div>


<div class="col">
    <div class="card-h-100">
        <h1 class="card-title ">2.Miracle Educational Society Group of Institutions  </h1>
        <img src="./assets/images/miracle.webp" width="50%" height="350px" class="card-img-top" alt="..."/>
        <div class="card-body">
            <p class="card-text">Miracle Educational Society Group of Institutions    is located in Vizianagaram</p>
             <p><b>MIRACLE ESTABLISHED:</b>2009</p>
             <p><b>MIRACLE ACCEREDIATION:</b>AICTE</p>
             <p><b>MIRACLE AFFILIATED:</b>JNTUK</p>
             <p><b>MIRACLE ELIGIBILITY:</b>Graduation with45%+  APICET</p>
             <p><b>MIRACLE FEE STRUCTURE:</b>60K</p>
             <p><b>MIRACLE COURSES:</b>Finance,Sales & Marketing,Human Resource Management</p>
             <p><b>MIRACLE LOCATION: </b>Miracle City, Munjeru Village, Bhogapuram Mandal, Vizianagaram, Andhra Pradesh 535216</p>
             <p><b>MIRACLE PLACEMENT:</b>Miracle,Omega,Sutherland,TCS </p>
             <a class="read_more" href="https://collegedunia.com/college/3002-miracle-educational-society-group-of-institutions-vizianagaram"> Read More</a>
    </div>
</div>


<div class="col">
    <div class="card-h-100">
        <h1 class="card-title ">3.GOKUL INSTITUTE OF TECHNOLOGY AND SCIENCES   </h1>
        <img src="./assets/images/gokul.jpg" width="50%" height="350px" class="card-img-top" alt="..."/>
        <div class="card-body">
            <p class="card-text">GOKUL INSTITUTE OF TECHNOLOGY AND SCIENCES  is located in Vizianagaram</p>
             <p><b>GITAS ESTABLISHED:</b>2001</p>
             <p><b>GITAS ACCEREDIATION:</b>AICTE</p>
             <p><b>GITAS AFFILIATED:</b>JNTUK</p>
             <p><b>GITAS ELIGIBILITY:</b>Graduation with45%+  APICET</p>
             <p><b>GITAS FEE STRUCTURE:</b>80K</p>
             <p><b>GITAS COURSES:</b>MBA</p>
             <p><b>GITAS LOCATION: </b>Gokul Theater Compound, 8-3-166/A/1, Erragadda, Hyderabad, Telangana 500018</p>
             <p><b>GITAS PLACEMENT:</b>IBM,Wipro,HCL,Tech Mahindra,L&T</p>
             <a class="read_more" href="http://www.gokulcollege.com/"> Read More</a>
    </div>
</div>

<div class="col">
    <div class="card-h-100">
        <h1 class="card-title ">4.AVANTHI INSTITUTE OF ENGINEERING & TECHNOLOGY  </h1>
        <img src="./assets/images/avanthi.jpg" width="50%" height="350px" class="card-img-top" alt="..."/>
        <div class="card-body">
            <p class="card-text">AVANTHI INSTITUTE OF ENGINEERING & TECHNOLOGY  is located in Vizianagaram</p>
             <p><b>AIETESTABLISHED:</b>2005</p>
             <p><b>AIET ACCEREDIATION:</b>NACC</p>
             <p><b>AIET AFFILIATED:</b>JNTUK</p>
             <p><b>AIET ELIGIBILITY:</b>Graduation with45%+  APICET</p>
             <p><b>AIET FEE STRUCTURE:</b>60K</p>
             <p><b>AIET COURSES:</b>Banking ,Finance ,Human Resource Management,Marketing</p>
             <p><b>AIET LOCATION: </b>Cherukupalli(V), Near Tagarapuvalsa Bridge, Vizianagaram, Andhra Pradesh 531162</p>
             <p><b>AIET PLACEMENT:</b>IBM,Genpact,Syntel,Amazon,Deloitte,Infosys</p>
             <a class="read_more" href="https://avanthienggcollege.ac.in/"> Read More</a>
    </div>
</div>
