<div class="col">
    <div class="card-h-100">
        <h1 class="card-title ">1.Tellakula Jalayya Polisetty Somasundaram</h1>
        <img src="./assets/images/tellakula.jpg" width="50%" height="350px" class="card-img-top" alt="..."/>
        <div class="card-body">
            <p class="card-text">Tellakula Jalayya Polisetty Somasundaram is located in Guntur, Andhrapradesh</p>
             <p><b>TJPSC ESTABLISHED:</b>1971</p>
             <p><b>TJPSC ACCEREDIATION:</b>NACC</p>
             <p><b>TJPSC AFFILIATED:</b>ANU</p>
             <p><b>TJPSC ELIGIBILITY:</b>Graduation with45%+ APICET/GMAT/CAT</p>
             <p><b>TJPSC FEE STRUCTURE:</b>1.4Lakh</p>
             <p><b>TJPSC COURSES:</b>MBA</p>
             <p><b>TJPSC LOCATION: </b>Pattabhipuram Road, opposite Jute Mill, Rajarajeswaripuram, Pattabhipuram, Guntur, Andhra Pradesh 522006</p>
             <p><b>TJPSC PLACEMENT:</b>AMAZON,FLIPKART,HDFC,HGS and WIPRO</p>
             <a class="read_more" href="https://tjpscollege.ac.in/">Read More</a>
    </div>
</div>


<div class="col">
    <div class="card-h-100">
        <h1 class="card-title ">2. KKR&KSR Institute Of Technology And Science</h1>
        <img src="./assets/images/kkr.jpg" width="50%" height="350px" class="card-img-top" alt="..."/>
        <div class="card-body">
            <p class="card-text"> KKR&KSR Institute Of Technology And Science is located in Guntur, Andhrapradesh,</p>
             <p><b>KITS ESTABLISHED:</b>2008</p>
             <p><b>KITS ACCEREDIATION:</b>NACC</p>
             <p><b>KITS AFFILIATED:</b>JNTUK</p>
             <p><b>KITS ELIGIBILITY:</b>Graduation with45%+ APICET/GMAT/CAT</p>
             <p><b>KITS FEE STRUCTURE:</b>1.3Lakh</p>
             <p><b>KITS COURSES:</b>MBA</p>
             <p><b>KITS LOCATION: </b>Vinjanampadu, Vatticherukuru Mandal, Guntur, Andhra Pradesh 522017</p>
             <p><b>KITS PLACEMENT:</b>IBM,INFOSYS,CAPGEMINI,TECH MAHINDRA,TCS,HCL and CSSCROP</p>
             <a class="read_more" href="https://kitsguntur.ac.in/site/kitsgnt.php">Read More</a>
    </div>
</div>


<div class="col">
    <div class="card-h-100">
        <h1 class="card-title ">3.Guntur Engineering College</h1>
        <img src="./assets/images/gec.jpg" width="50%" height="350px" class="card-img-top" alt="..."/>
        <div class="card-body">
            <p class="card-text">Guntur Engineering Collegeis located in Guntur, Andhrapradesh,</p>
             <p><b>GEC ESTABLISHED:</b>2008</p>
             <p><b>GEC ACCEREDIATION:</b>AICTE</p>
             <p><b>GEC AFFILIATED:</b>JNTUK</p>
             <p><b>GEC ELIGIBILITY:</b>Graduation with45%+ APICET</p>
             <p><b>GEC FEE STRUCTURE:</b>1.5Lakh</p>
             <p><b>GEC COURSES:</b>MBA</p>
             <p><b>GEC LOCATION: </b>NH 5, Opp. Katuri Medical College, Yanamadala, Andhra Pradesh 522019</p>
             <p><b>GEC PLACEMENT:</b>AMAZON,COGNIZANT,GENPACT,POLARIS,SYNTEL,TECH MAHINDRA, MIRACLE, TCS, HCL and HDFC</p>
             <a class="read_more" href="https://gecg.in/">Read More</a>
    </div>
</div>

<div class="col">
    <div class="card-h-100">
        <h1 class="card-title ">4. Vignan’s Foundation for Science, Technology & Research </h1>
        <img src="./assets/images/vignan.1.jpg" width="50%" height="350px" class="card-img-top" alt="..."/>
        <div class="card-body">
            <p class="card-text">Vignan’s Foundation for Science, Technology & Research  is located in Guntur, Andhrapradesh,</p>
             <p><b>VIGNAN ESTABLISHED:</b>2009</p>
             <p><b>VIGNAN ACCEREDIATION:</b>NACC</p>
             <p><b>VIGNAN AFFILIATED:</b>UGC</p>
             <p><b>VIGNAN ELIGIBILITY:</b>Graduation with45%+ APICET</p>
             <p><b>VIGNAN FEE STRUCTURE:</b>1.6Lakh</p>
             <p><b>VIGNAN COURSES:</b>MBA</p>
             <p><b>VIGNAN LOCATION: </b>Guntur -Tenali Rd, Vadlamudi, Andhra Pradesh 522213</p>
             <p><b>VIGNAN PLACEMENT:</b>COGNIZANT, IBM, GENPACT, WIPRO, HCL, CAPGEMINI, MIND TREE, TECH MAHINDRA, and NTT DATA</p>
             <a class="read_more" href="https://www.vignan.ac.in/">Read More</a>
    </div>
</div>
