
<div class="row row-cols-1 row-cols-md-3 g-4">
  <div class="col">
    <div class="card h-100">
      <img src="./assets/images/vishnu.jpg" width="50%" height="150px" class="card-img-top"  alt="..."/>
      <div class="card-body">
        <h5 class="card-title" style="background-color:pink">Vishnu college</h5>
        <p class="card-text"> vishnu institute of engineering college is located in Bhimavaram </p>
      </div>
      <div class="card-footer" style="background-color:pink;">
        <a href="Bhimavaram" style="color:black"><b> Vishnu institute of engineering college in Bhimavaram</b></a>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card h-100">
      <img src="./assets/images/cr reddy.jpg" width="50%" height="150px" class="card-img-top" alt="..."/>
      <div class="card-body">
        <h5 class="card-title" style="background-color: pink;">C R reddy college</h5>
        <p class="card-text"> C R reddy engineering college in eluru 
        </p>
      </div>
      <div class="card-footer" style="background-color: pink;">
        <a href="Eluru" style="color: black;"><b>C R REDDY engineering college is located in Eluru</b></a>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card h-100">
      <img src="./assets/images/srkr.jpg" width="50%" height="150px" class="card-img-top"  alt="..."/>
    <div class="card-body">
      <h5 class="card-title" style="background-color: pink;">Srkr engineering college</h5>
      <p class="card-text">Srkr engineering college is located in Bhimavaram  </p>
    </div>
    <div class="card-footer" style="background-color: pink;">
      <a href="Bhimavaram" style="color: black;"><b>SRKR engineering college is located in vishnupur</b></a>
      </div>
    </div>
  </div>
</div>

<div class="row row-cols-1 row-cols-md-3 g-4">
  <div class="col">
    <div class="card h-100">
      <img src="./assets/images/sri vasavi.jpg" width="50%" height="150px" class="card-img-top" alt="..."/>
      <div class="card-body">
        <h5 class="card-title" style="background-color:pink;"> Srivasavi engineering college</h5>
        <p class="card-text">Sri Vasavi engineering college is located in pedatadepalli</p>
      </div>
      <div class="card-footer" style="background-color:pink;">
        <a href="Tadepalligudem" style="color: black;"><b>Srivasavi engineering college is located in Tadepalligudem</b></a>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card h-100">
      <img src="./assets/images/cr reddy.1.jpg" width="50%" height="150px" class="card-img-top" alt="..."/>
    <div class="card-body">
      <h5 class="card-title" style="background-color:pink;">C R REDDY college of mba </h5>
      <p class="card-text">
       cr reddy college is located in eluru</p>
    </div>
    <div class="card-footer" style="background-color:pink;">
      <a href="eluru" style="color: black;"><b>C R REDDY engineering college of mba is located in Eluru</b></a>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card h-100">
      <img src="./assets/images/sasi.jpg" width="50%" height="150px" class="card-img-top" alt="..."/>
    <div class="card-body">
      <h5 class="card-title" style="background-color:pink;">Sasi college of mba</h5>
      <p class="card-text">Sasi institute of engineering  </p>
    </div>
    <div class="card-footer" style="background-color:pink;">
      <a href="Tadepalligudem" style="color:black;"><b>Sasi institute of technology & engineering is located in Tadepalligudem</b></a>
      </div>
    </div>
  </div>
</div>

<div class="row row-cols-1 row-cols-md-3 g-4">
  <div class="col">
    <div class="card h-100">
      <img
        src="./assets/images/vishnu.1.jpg" width="50%" height="150px" class="card-img-top" alt="..."
      />
      <div class="card-body">
        <h5 class="card-title" style="background-color:pink;">Vishnu college of mba</h5>
        <p class="card-text">
           Vishnu college of institue in Bhimavaram</p>
      </div>
      <div class="card-footer" style="background-color:pink;">
        <a href="Bhimavaram" style="color:black"><b>Vishnu institute of mba is located in Bhimavaram</b></a>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card h-100">
      <img
      src="./assets/images/sri vasavi.1.png" width="50%" height="150px"
      class="card-img-top" alt="..." />
    <div class="card-body">
      <h5 class="card-title" style="background-color:pink;">Sri vasavi college of mba</h5>
      <p class="card-text">
       Sri vasavi college od mba 
        
      </p>
    </div>
    <div class="card-footer" style="background-color:pink;">
      <a href="pedatadepalli" style="color: black;"><b>Sri vasavi college of mba is located  in pedatadepalli</b></a>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card h-100">
      <img
        src="./assets/images/rama.jpg" width="50%" height="150px"
        class="card-img-top" alt="..."
      />
      <div class="card-body">
        <h5 class="card-title" style="background-color: pink;">Ramachandra college of mba</h5>
        <p class="card-text">
          Ramachandra college of mba
          
        </p>
      </div>
      <div class="card-footer" style="background-color: pink;">
        <a href="eluru" style="color: black;"><b>Ramachandra college of engineering and mba is located in Eluru</b></a>
      </div>
    </div>
  </div>
</div>
<div class="row row-cols-1 row-cols-md-3 g-4">
  <div class="col">
    <div class="card h-100">
      <img  src="./assets/images/jntuk.1.jpg"  width="50%" height="150px" class="card-img-top" alt="..."
    />
    <div class="card-body">
      <h5 class="card-title" style="background-color: pink;">Jawaharlal nehru technology university kakinada</h5>
      <p class="card-text">Jawaharlal nehru technology university kakinada
      
        
      </p>
    </div>
    <div class="card-footer" style="background-color: pink;">
      <a href="kakinada" style="color: black;"><b>Jawaharlal nehru technology university kakinada is located in kakinada</b></a>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card h-100">
      <img src="./assets/images/adithya.1.jpg" width="50%" height="150px" class="card-img-top" alt="..."
    />
    <div class="card-body">
      <h5 class="card-title" style="background-color: pink;">Adithya engineering &mba college</h5>
      <p class="card-text">Adithya engineering &mba college
      
        
      </p>
    </div>
    <div class="card-footer" style="background-color: pink;">
      <a href="Surampalem" style="color: black;"><b>Adithya engineering & mba college is located in Surampalem</b></a>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card h-100">
      <img
      src="./assets/images/kiet.1.bmp" width="50%" height="150px" class="card-img-top" alt="..."
    />
    <div class="card-body">
      <h5 class="card-title" style="background-color: pink;">Kakinada institute of engineering and technology</h5>
      <p class="card-text"> Kakinada institute of engineering and technology </p>
    </div>
    <div class="card-footer" style="background-color: pink;">
      <a href="Korangi" style="color: black;"><b>Kakinada institute of engineering and technology is located in Korangi</b></a>
      </div>
    </div>
  </div>
</div>

<div class="row row-cols-1 row-cols-md-3 g-4">
  <div class="col">
    <div class="card h-100">
      <img  src="./assets/images/giet.1.png"  width="40%" height="150px" class="card-img-top" alt="..."
    />
    <div class="card-body">
      <h5 class="card-title" style="background-color: pink;">Godavari institute of engineering and technology</h5>
      <p class="card-text">Godavari institute of engineering and technology
      
        
      </p>
    </div>
    <div class="card-footer" style="background-color: pink;">
      <a href="kakinada" style="color: black;"><b>Godavari institute of engineering and technology is located in Rajahmundry</b></a>

      </div>
    </div>
  </div>
  <div class="col">
    <div class="card h-100">
      <img src="./assets/images/pulla reddy.jpg" width="50%" height="150px" class="card-img-top" alt="..."
    />
    <div class="card-body">
      <h5 class="card-title" style="background-color: pink;">G.Pulla Reddy Engineering College </h5>
      <p class="card-text">Pulla Reddy Engineering College
      
        
      </p>
    </div>
    <div class="card-footer" style="background-color: pink;">
      <a href="Kurnool" style="color: black;"><b>G.Pulla Reddy Engineering College is located in Kurnool</b></a>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card h-100">
      <img
      src="./assets/images/iiitdm.jpeg" width="50%" height="150px" class="card-img-top" alt="..."
    />
    <div class="card-body">
      <h5 class="card-title" style="background-color: pink;">Indian institute of information technology design</h5>
      <p class="card-text"> Indian institute of information technology design </p>
    </div>
    <div class="card-footer" style="background-color: pink;">
      <a href="kurnool" style="color: black;"><b>Indian institute of information technology design and manufacture is located in kurnool</b></a>
      </div>
    </div>
  </div>
</div>

<div class="row row-cols-1 row-cols-md-3 g-4">
  <div class="col">
    <div class="card h-100">
      <img  src="./assets/images/kurnool.jpg"  width="40%" height="150px" class="card-img-top" alt="..."
    />
    <div class="card-body">
      <h5 class="card-title" style="background-color: pink;">Rajiv gandhi memorial college of engineering and technology</h5>
      <p class="card-text">Rajiv gandhi memorial college
      
        
      </p>
    </div>
    <div class="card-footer" style="background-color: pink;">
      <a href="Kurnool" style="color: black;"><b>Rajiv gandhi memorial college of engineering and technology in kurnool</b></a>

      </div>
    </div>
  </div>
  <div class="col">
    <div class="card h-100">
      <img src="./assets/images/brindavan.jpg" width="50%" height="150px" class="card-img-top" alt="..."
    />
    <div class="card-body">
      <h5 class="card-title" style="background-color: pink;">Brindavan institute of technology and science </h5>
      <p class="card-text">Brindavan institute of technology and science
      
        
      </p>
    </div>
    <div class="card-footer" style="background-color: pink;">
      <a href="Kurnool" style="color: black;"><b>Brindavan institute of technology and science is located iin kurnool</b></a>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card h-100">
      <img
      src="./assets/images/subba reddy.jpg" width="50%" height="150px" class="card-img-top" alt="..."
    />
    <div class="card-body">
      <h5 class="card-title" style="background-color: pink;">DR.K.V subba reddy institute of technology</h5>
      <p class="card-text"> DR.K.V subba reddy institute of technology </p>
    </div>
    <div class="card-footer" style="background-color: pink;">
      <a href="kurnool" style="color: black;"><b>DR.K.V subba reddy institute of technology is located in kurnool</b></a>
      </div>
    </div>
  </div>
</div>

<div class="row row-cols-1 row-cols-md-3 g-4">
  <div class="col">
    <div class="card h-100">
      <img  src="./assets/images/pullaiah.jpg"  width="40%" height="150px" class="card-img-top" alt="..."
    />
    <div class="card-body">
      <h5 class="card-title" style="background-color: pink;">G.Pullaiah college of engineering and technology</h5>
      <p class="card-text">Pullaiah college of engineering and technology
        
      </p>
    </div>
    <div class="card-footer" style="background-color: pink;">
      <a href="Kurnool" style="color: black;"><b>G.Pullaiah college of engineering and technology</b></a>

      </div>
    </div>
  </div>
  <div class="col">
    <div class="card h-100">
      <img src="./assets/images/rayalaseema.jpg" width="50%" height="150px" class="card-img-top" alt="..." />
    <div class="card-body">
      <h5 class="card-title" style="background-color: pink;">Rayalaseema university </h5>
      <p class="card-text">Rayalaseema university</p>
    </div>
    <div class="card-footer" style="background-color: pink;">
      <a href="Kurnool" style="color: black;"><b>Rayalaseema University is located in kurnool district</b></a>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card h-100">
      <img src="./assets/images/gudlavalleru.1.jpg" width="50%" height="150px" class="card-img-top" alt="..."/>
    <div class="card-body">
      <h5 class="card-title" style="background-color: pink;">Gudlavalleru engineering college in krishna</h5>
      <p class="card-text"> Gudlavalleru engineering colege </p>
    </div>
    <div class="card-footer" style="background-color: pink;">
      <a href="vijayawada" style="color: black;"><b>Gudlavalleru engineering college is located in Vijayawada</b></a>
      </div>
    </div>
  </div>
</div>

<div class="row row-cols-1 row-cols-md-3 g-4">
  <div class="col">
    <div class="card h-100">
      <img  src="./assets/images/prasad.jpg"  width="40%" height="150px" class="card-img-top" alt="..."   />
    <div class="card-body">
      <h5 class="card-title" style="background-color: pink;">PRASAD V.POTLURI SIDDHARTHA INSTITUTE OF TECHNOLOGY</h5>
      <p class="card-text">PRASAD V.POTLURI SIDDHARTHA INSTITUTE OF TECHNOLOGY</p>
    </div>
    <div class="card-footer" style="background-color: pink;">
      <a href="Kanuru" style="color: black;"><b></b>PRASAD V.POTLURI SIDDHARTHA INSTITUTE OF TECHNOLOGY is located in Kanuru</a>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card h-100">
      <img src="./assets/images/lakki bali.jpg" width="50%" height="150px" class="card-img-top" alt="..."/>
    <div class="card-body">
      <h5 class="card-title" style="background-color: pink;">LAKKIREDDY BALI REDDY COLLEGE OF ENGINEERING</h5>
      <p class="card-text">LAKKIREDDY BALI REDDY COLLEGE OF ENGINEERING</p>
    </div>
    <div class="card-footer" style="background-color: pink;">
      <a href="vijayawada" style="color: black;"><b>LAKKIREDDY BALI REDDY COLLEGE OF ENGINEERING is located in Vijayawada</b></a>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card h-100">
      <img src="./assets/images/andhra layola.1.jpg" width="50%" height="150px" class="card-img-top" alt="..."/>
    <div class="card-body">
      <h5 class="card-title" style="background-color: pink;">ANDHRA LOYOLA INSTITUTE OF ENGINEERING AND TECHNOLOGY</h5>
      <p class="card-text">ANDHRA LOYOLA INSTITUTE OF ENGINEERING AND TECHNOLOGY </p>
    </div>
    <div class="card-footer" style="background-color: pink;">
      <a href="vijayawada" style="color: black;"><b>ANDHRA loyola institute of engineering and technology is located in vijayawada</b></a>
      </div>
    </div>
  </div>
</div>

<div class="row row-cols-1 row-cols-md-3 g-4">
  <div class="col">
    <div class="card h-100">
      <img  src="./assets/images/sunflower.jpg"  width="40%" height="150px" class="card-img-top" alt="..."/>
    <div class="card-body">
      <h5 class="card-title" style="background-color: pink;">SRI SUNFLOWER college of engineering and technology</h5>
      <p class="card-text">SRI SUNFLOWER COLLEGE OF ENGINEERING AND TECHNOLOGY   </p>
    </div>
    <div class="card-footer" style="background-color: pink;">
      <a href="Lankapalli" style="color: black;"><b>SRI SUNFLOWER COLLEGE OF ENGINEERING AND TECHNOLOGY is located in Lankapalli</b></a>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card h-100">
      <img src="./assets/images/velagapudi.jpeg" width="50%" height="150px" class="card-img-top" alt="..."/>
    <div class="card-body">
      <h5 class="card-title" style="background-color: pink;">VELAGAPUDI RAMAKRISHNA SIDDHARTHA ENGINEERING COLLEGE </h5>
      <p class="card-text">VELAGAPUDI RAMAKRISHNA SIDDHARTHA ENGINEERING COLLEGE  
      </p>
    </div>
    <div class="card-footer" style="background-color: pink;">
      <a href="vijayawada" style="color: black;"><b>velagapudi ramakrishna Siddhartha engineering college is located in Vijayawada</b></a>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card h-100">
      <img
      src="./assets/images/narayana.jpg" width="50%" height="150px" class="card-img-top" alt="..."/>
    <div class="card-body">
      <h5 class="card-title" style="background-color: pink;">NARAYANA ENGINEERING COLLEGE in nellore</h5>
      <p class="card-text"> NARAYANA ENGINEERING COLLEGE</p>
    </div>
    <div class="card-footer" style="background-color: pink;">
      <a href="Nellore" style="color: black;"><b>NARAYANA ENGINEERING COLLEGE is located in Nellore</b></a>
      </div>
    </div>
  </div>
</div>

<div class="row row-cols-1 row-cols-md-3 g-4">
  <div class="col">
    <div class="card h-100">
      <img  src="./assets/images/mekapati.jpg"  width="40%" height="150px" class="card-img-top" alt="..." />
    <div class="card-body">
      <h5 class="card-title" style="background-color: pink;">MERAKAPATI RAJA MOHAN REDDY INSTITUTE OF TECHNOLOGY AND SCIENCE</h5>
      <p class="card-text">MERAKAPATI RAJA MOHAN REDDY INSTITUTE OF TECHNOLOGY AND SCIENCE</p>
    </div>
    <div class="card-footer" style="background-color: pink;">
      <a href="Nellore" style="color: black;"><b>MERAKAPATI RAJA MOHAN REDDY INSTITUTE OF TECHNOLOGY AND SCIENCE is located in Nellore</b></a>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card h-100">
      <img src="./assets/images/geetanjali.png" width="50%" height="150px" class="card-img-top" alt="..."/>
    <div class="card-body">
      <h5 class="card-title" style="background-color: pink;">GEETANJALI INSTITUTE OF SCIENCE AND TECHNOLOGY </h5>
      <p class="card-text">GEETANJALI INSTITUTE OF SCIENCE AND TECHNOLOGY
      </p>
    </div>
    <div class="card-footer" style="background-color: pink;">
      <a href="Nellore" style="color: black;"><b>GEETANJALI INSTITUTE OF SCIENCE AND TECHNOLOGY is located in Nellore</b></a>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card h-100">
      <img src="./assets/images/nbkr.jpg" width="50%" height="150px" class="card-img-top" alt="..."/>
    <div class="card-body">
      <h5 class="card-title" style="background-color: pink;">N.B.K. R INSTITUTE OF SCIENCE AND TECHNOLOGY </h5>
      <p class="card-text"> N.B.K. R INSTITUTE OF SCIENCE AND TECHNOLOGY  </p>
    </div>
    <div class="card-footer" style="background-color: pink;">
      <a href="Nellore" style="color: black;"><b>N.B.K. R INSTITUTE OF SCIENCE AND TECHNOLOGY is located in Nellore</b></a>
      </div>
    </div>
  </div>
</div>

<div class="row row-cols-1 row-cols-md-3 g-4">
  <div class="col">
    <div class="card h-100">
      <img  src="./assets/images/iittm.jpeg"  width="40%" height="150px" class="card-img-top" alt="..."/>
    <div class="card-body">
      <h5 class="card-title" style="background-color: pink;">INDIAN INSTITUTE OF TOURISM AND TRAVEL MANAGEMENT</h5>
      <p class="card-text">INDIAN INSTITUTE OF TOURISM AND TRAVEL MANAGEMENT </p>
    </div>
    <div class="card-footer" style="background-color: pink;">
      <a href="Nellore" style="color: black;"><b>INDIAN INSTITUTE OF TOURISM AND TRAVEL MANAGEMENTis located in Nellore</b></a>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card h-100">
      <img src="./assets/images/audisankara.jpg" width="50%" height="150px" class="card-img-top" alt="..." />
    <div class="card-body">
      <h5 class="card-title" style="background-color: pink;">AUDISANKAR COLLEGE OF ENGINEERING AND TECHNOLOGY
      </h5>
      <p class="card-text">AUDISANKAR COLLEGE OF ENGINEERING AND TECHNOLOGY</p>
    </div>
    <div class="card-footer" style="background-color: pink;">
      <a href="vijayawada" style="color: black;"><b>AUDISANKAR COLLEGE OF ENGINEERING AND TECHNOLOGY  is located in Nellore</b></a>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card h-100">
      <img src="./assets/images/gokula.jpg" width="50%" height="150px" class="card-img-top" alt="..." />
    <div class="card-body">
      <h5 class="card-title" style="background-color: pink;">GOKULA KRISHNA COLLEGE OF ENGINEERING</h5>
      <p class="card-text"> GOKULA KRISHNA COLLEGE OF ENGINEERING</p>
    </div>
    <div class="card-footer" style="background-color: pink;">
      <a href="Nellore" style="color: black;"><b>GOKULA KRISHNA COLLEGE OF ENGINEERING is located in Nellore</b></a>
      </div>
    </div>
  </div>
</div>

<div class="row row-cols-1 row-cols-md-3 g-4">
  <div class="col">
    <div class="card h-100">
      <img  src="./assets/images/vignan.jpg"  width="50%" height="150px" class="card-img-top" alt="..."/>
    <div class="card-body">
      <h5 class="card-title" style="background-color: pink;">VIGNAN’S INSTITUTE OF INFORMATION TECHNOLOGY </h5>
      <p class="card-text">VIGNAN’S INSTITUTE OF INFORMATION TECHNOLOGY   </p>
    </div>
    <div class="card-footer" style="background-color: pink;">
      <a href="Visakhapatnam" style="color: black;"><b>VIGNAN’S INSTITUTE OF INFORMATION TECHNOLOGY   is located in visakhapatnam,AndhraPradesh</b></a>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card h-100">
      <img src="./assets/images/gitam.webp" width="50%" height="150px" class="card-img-top" alt="..."/>
    <div class="card-body">
      <h5 class="card-title" style="background-color: pink;"> GANDHI INSTITUTE OF TECHNOLOGY AND MANAGEMENT UNIVERSITY
      </h5>
      <p class="card-text"> GANDHI INSTITUTE OF TECHNOLOGY AND MANAGEMENT UNIVERSITY</p>
    </div>
    <div class="card-footer" style="background-color: pink;">
      <a href="Visakhapatnam" style="color: black;"><b> GANDHI INSTITUTE OF TECHNOLOGY AND MANAGEMENT UNIVERSITY  is located in Visakhapatnam</b></a>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card h-100">
      <img src="./assets/images/gayathri.jpg" width="50%" height="150px" class="card-img-top" alt="..."/>
    <div class="card-body">
      <h5 class="card-title" style="background-color: pink;"> GAYATRI VIDYA PARISHAD COLLEGE OF ENGINEERING</h5>
      <p class="card-text">  GAYATRI VIDYA PARISHAD COLLEGE OF ENGINEERING</p>
    </div>
    <div class="card-footer" style="background-color: pink;">
      <a href="Visakhapatnam" style="color: black;"><b> GAYATRI VIDYA PARISHAD COLLEGE OF ENGINEERING is located in Visakhapatnam,AndhraPradesh</b></a>
      </div>
    </div>
  </div>
</div>

<div class="row row-cols-1 row-cols-md-3 g-4">
  <div class="col">
    <div class="card h-100">
      <img  src="./assets/images/au.jpg"  width="50%" height="150px" class="card-img-top" alt="..."  />
    <div class="card-body">
      <h5 class="card-title" style="background-color: pink;">ANDHRA UNIVERSITY IN VISAKHAPATNAM</h5>
      <p class="card-text">ANDHRA UNIVERSITY  </p>
    </div>
    <div class="card-footer" style="background-color: pink;">
      <a href="Visakhapatnam" style="color: black;"><b>ANDHRA UNIVERSITY ,AU North Campus is located in visakhapatnam district,AndhraPradesh</b></a>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card h-100">
      <img src="./assets/images/sun.jpg" width="50%" height="150px" class="card-img-top" alt="..."
    />
    <div class="card-body">
      <h5 class="card-title" style="background-color: pink;"> SUN INTERNATIONAL INSTITUTE FOR TOURISM AND MANAGEMENT
      </h5>
      <p class="card-text">  SUN INTERNATIONAL INSTITUTE FOR TOURISM AND MANAGEMENT</p>
    </div>
    <div class="card-footer" style="background-color: pink;">
      <a href="Visakhapatnam" style="color: black;"><b>  SUN INTERNATIONAL INSTITUTE FOR TOURISM AND MANAGEMENT  is located in Visakhapatnam</b></a>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card h-100">
      <img src="./assets/images/gayathri.jpg" width="50%" height="150px" class="card-img-top" alt="..." />
    <div class="card-body">
      <h5 class="card-title" style="background-color: pink;"> GAYATRI VIDYA PARISHAD COLLEGE OF ENGINEERING</h5>
      <p class="card-text">  GAYATRI VIDYA PARISHAD COLLEGE OF ENGINEERING</p>
    </div>
    <div class="card-footer" style="background-color: pink;">
      <a href="Visakhapatnam" style="color: black;"><b> GAYATRI VIDYA PARISHAD COLLEGE OF ENGINEERING is located in Visakhapatnam district</b></a>
      </div>
    </div>
  </div>
</div>

<div class="row row-cols-1 row-cols-md-3 g-4">
  <div class="col">
    <div class="card h-100">
      <img  src="./assets/images/klu.jpg"  width="50%" height="150px" class="card-img-top" alt="..."/>
    <div class="card-body">
      <h5 class="card-title" style="background-color: pink;">KL UNIVERSITY IN  Vaddeswaram GUNTUR </h5>
      <p class="card-text">KL UNIVERSITY    </p>
    </div>
    <div class="card-footer" style="background-color: pink;">
      <a href="Guntur" style="color: black;"><b>KL UNIVERSITY ,  is located in  Vaddeswaram,Guntur district,AndhraPradesh</b></a>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card h-100">
      <img src="./assets/images/rayapati.jpg" width="50%" height="150px" class="card-img-top" alt="..."/>
    <div class="card-body">
      <h5 class="card-title" style="background-color: pink;">Rayapati Venkata Rangarao & Jagarlamudi Chandramouli
      </h5>
      <p class="card-text">  Rayapati Venkata Rangarao & Jagarlamudi Chandramouli</p>
    </div>
    <div class="card-footer" style="background-color: pink;">
      <a href="Guntur" style="color: black;"><b> Rayapati Venkata Rangarao & Jagarlamudi Chandramouli  is located in Visakhapatnam</b></a>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card h-100">
      <img
      src="./assets/images/vignang.jpg" width="50%" height="150px" class="card-img-top" alt="..." />
    <div class="card-body">
      <h5 class="card-title" style="background-color: pink;">Vignan’s Foundation For Science And Technology</h5>
      <p class="card-text"> Vignan’s Foundation For Science And Technology</p>
    </div>
    <div class="card-footer" style="background-color: pink;">
      <a href="Guntur" style="color: black;"><b> Vignan’s Foundation For Science And Technology is located in Visakhapatnam district</b></a>
      </div>
    </div>
  </div>
</div>

<div class="row row-cols-1 row-cols-md-3 g-4">
  <div class="col">
    <div class="card h-100">
      <img  src="./assets/images/vit.jpg"  width="50%" height="150px" class="card-img-top" alt="..."/>
    <div class="card-body">
      <h5 class="card-title" style="background-color: pink;">Vellore Institute Of Technology VIT-AP University
      </h5>
      <p class="card-text">Vellore Institute Of Technology    </p>
    </div>
    <div class="card-footer" style="background-color: pink;">
      <a href="Guntur" style="color: black;"><b>Vellore Institute Of Technology is located in VIT-AP University Guntur district,AndhraPradesh</b></a>

      </div>
    </div>
  </div>
  <div class="col">
    <div class="card h-100">
      <img src="./assets/images/tellakula.jpg" width="50%" height="150px" class="card-img-top" alt="..." />
    <div class="card-body">
      <h5 class="card-title" style="background-color: pink;">Tellakula Jalayya Polisetty Somasundaram</h5>
      <p class="card-text"> Tellakula Jalayya Polisetty Somasundaram</p>
    </div>
    <div class="card-footer" style="background-color: pink;">
      <a href="Guntur" style="color: black;"><b> Tellakula Jalayya Polisetty Somasundaram is located in Visakhapatnam</b></a>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card h-100">
      <img src="./assets/images/kkr.jpg" width="50%" height="150px" class="card-img-top" alt="..."/>
    <div class="card-body">
      <h5 class="card-title" style="background-color: pink;">KKR&KSR Institute Of Technology And Science </h5>
      <p class="card-text"> KKR&KSR Institute Of Technology And Science  </p>
    </div>
    <div class="card-footer" style="background-color: pink;">
      <a href="Guntur" style="color: black;"><b>KKR&KSR Institute Of Technology And Science  is located in Visakhapatnam district</b></a>
      </div>
    </div>
  </div>
</div>

<div class="row row-cols-1 row-cols-md-3 g-4">
  <div class="col">
    <div class="card h-100">
      <img  src="./assets/images/gmr.jpg"  width="50%" height="150px" class="card-img-top" alt="..."/>
    <div class="card-body">
      <h5 class="card-title" style="background-color: pink;">GMR INSTITUTE OF TECHNOLOGY GMR NAGAR SRIKAKULAM
      </h5>
      <p class="card-text">GMR INSTITUTE OF TECHNOLOGY SRIKAKULAM    </p>
    </div>
    <div class="card-footer" style="background-color: pink;">
      <a href="Srikakulam" style="color: black;"><b>GMR INSTITUTE OF TECHNOLOGY SRIKAKULAM</b></a>

      </div>
    </div>
  </div>
  <div class="col">
    <div class="card h-100">
      <img src="./assets/images/aitam.png" width="50%" height="150px" class="card-img-top" alt="..."/>
    <div class="card-body">
      <h5 class="card-title" style="background-color: pink;"> ADITYA INSTITUTE OF TECHNOLOGY AND MANAGEMENT </h5>
      <p class="card-text">  ADITYA INSTITUTE OF TECHNOLOGY AND MANAGEMENT</p>
    </div>
    <div class="card-footer" style="background-color: pink;">
      <a href="Srikakulam" style="color: black;"><b>  ADITYA INSTITUTE OF TECHNOLOGY AND MANAGEMENT</b></a>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card h-100">
      <img src="./assets/images/sivani.jpg" width="50%" height="150px" class="card-img-top" alt="..."  />
    <div class="card-body">
      <h5 class="card-title" style="background-color: pink;">SRI SIVANI COLLEGE OF ENGINEERING </h5>
      <p class="card-text">SRI SIVANI COLLEGE OF ENGINEERING </p>
    </div>
    <div class="card-footer" style="background-color: pink;">
      <a href="Srikakulam" style="color: black;"><b>SRI SIVANI COLLEGE OF ENGINEERING is located in Srikakulam</b></a>
      </div>
    </div>
  </div>
</div>

<div class="row row-cols-1 row-cols-md-3 g-4">
  <div class="col">
    <div class="card h-100">
      <img  src="./assets/images/prajna.jpg"  width="50%" height="150px" class="card-img-top" alt="..." />
    <div class="card-body">
      <h5 class="card-title" style="background-color: pink;">PRAJNA INSTITUTE OF TECHNOLOGY AND MANAGEMENT
      </h5>
      <p class="card-text">PRAJNA INSTITUTE OF TECHNOLOGY AND MANAGEMENT
      </p>
    </div>
    <div class="card-footer" style="background-color: pink;">
      <a href="Srikakulam" style="color: black;"><b>PRAJNA INSTITUTE OF TECHNOLOGY AND MANAGEMENT</b></a>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card h-100">
      <img src="./assets/images/mims.jpg" width="50%" height="150px" class="card-img-top" alt="..."/>
    <div class="card-body">
      <h5 class="card-title" style="background-color: pink;"> MITHRA INSTITUTE OF MANAGEMENT Etcherla Srikakulam </h5>
      <p class="card-text"> MITHRA INSTITUTE OF MANAGEMENT</p>
    </div>
    <div class="card-footer" style="background-color: pink;">
      <a href="Srikakulam" style="color: black;"><b> MITHRA INSTITUTE OF MANAGEMENT Etcherla Srikakulam</b></a>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card h-100">
      <img src="./assets/images/sistm.jpg" width="50%" height="150px" class="card-img-top" alt="..." />
    <div class="card-body">
      <h5 class="card-title" style="background-color: pink;">SARADA INSTITUTE OF SCIENCE TECHNOLOGY AND MANAGEMENT</h5>
      <p class="card-text">SARADA INSTITUTE OF SCIENCE TECHNOLOGY AND MANAGEMENT </p>
    </div>
    <div class="card-footer" style="background-color: pink;">
      <a href="Srikakulam" style="color: black;"><b>SARADA INSTITUTE OF SCIENCE TECHNOLOGY AND MANAGEMENT</b></a>
      </div>
    </div>
  </div>
</div>

<div class="row row-cols-1 row-cols-md-3 g-4">
  <div class="col">
    <div class="card h-100">
      <img  src="./assets/images/ambedkar.jpg"  width="50%" height="150px" class="card-img-top" alt="..."/>
    <div class="card-body">
      <h5 class="card-title" style="background-color: pink;">DR. BR. AMBEDKAR UNIVERSITY Etcherla Srikakulam</h5>
      <p class="card-text">DR. BR. AMBEDKAR UNIVERSITY</p>
    </div>
    <div class="card-footer" style="background-color: pink;">
      <a href="Srikakulam" style="color: black;"><b>DR. BR. AMBEDKAR UNIVERSITY Etcherla Srikakulam</b></a>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card h-100">
      <img src="./assets/images/sri venky.jpg" width="50%" height="150px" class="card-img-top" alt="..."/>
    <div class="card-body">
      <h5 class="card-title" style="background-color: pink;">SRI VENKATESWARA COLLEGE OF ENGINEERING AND TECHNOLOGY </h5>
      <p class="card-text"> SRI VENKATESWARA COLLEGE OF ENGINEERING AND TECHNOLOGY
      </p>
    </div>
    <div class="card-footer" style="background-color: pink;">
      <a href="Chittoor" style="color: black;"><b>SRI VENKATESWARA COLLEGE OF ENGINEERING AND TECHNOLOGY</b></a>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card h-100">
      <img src="./assets/images/mjr.jpg" width="50%" height="150px" class="card-img-top" alt="..."/>
    <div class="card-body">
      <h5 class="card-title" style="background-color: pink;">MJR COLLEGE OF ENGINEERING AND TECHNOLOGY</h5>
      <p class="card-text">MJR COLLEGE OF ENGINEERING AND TECHNOLOGY </p>
    </div>
    <div class="card-footer" style="background-color: pink;">
      <a href="Chittoor" style="color: black;"><b>MJR COLLEGE OF ENGINEERING AND TECHNOLOGY</b></a>
      </div>
    </div>
  </div>
</div>

<div class="row row-cols-1 row-cols-md-3 g-4">
  <div class="col">
    <div class="card h-100">
      <img  src="./assets/images/vemu.jpeg"  width="50%" height="150px" class="card-img-top" alt="..."/>
    <div class="card-body">
      <h5 class="card-title" style="background-color: pink;">  VEMU INSTITUTE OF TECHNOLOGY Chittoor, Andhra Pradesh</h5>
      <p class="card-text">  VEMU INSTITUTE OF TECHNOLOGY </p>
    </div>
    <div class="card-footer" style="background-color: pink;">
      <a href="Chittoor" style="color: black;"><b>  VEMU INSTITUTE OF TECHNOLOGY Chittoor, Andhra Pradesh</b></a>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card h-100">
      <img src="./assets/images/aits.1.jpg" width="50%" height="150px" class="card-img-top" alt="..."/>
    <div class="card-body">
      <h5 class="card-title" style="background-color: pink;">ANNAMACHARYA INSTITUTE OF TECHNOLOGY AND SCIENCESENT </h5>
      <p class="card-text">ANNAMACHARYA INSTITUTE OF TECHNOLOGY AND SCIENCESENT </p>
    </div>
    <div class="card-footer" style="background-color: pink;">
      <a href="Kadapa" style="color: black;"><b>ANNAMACHARYA INSTITUTE OF TECHNOLOGY AND SCIENCESENT</b></a>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card h-100">
      <img src="./assets/images/kandula.png" width="50%" height="150px" class="card-img-top" alt="..."/>
    <div class="card-body">
      <h5 class="card-title" style="background-color: pink;"> KANDULA SREENIVASA REDDY MEMORIAL COLLEGE OF ENGINEERING</h5>
      <p class="card-text">KANDULA SREENIVASA REDDY MEMORIAL COLLEGE OF ENGINEERING </p>
    </div>
    <div class="card-footer" style="background-color: pink;">
      <a href="Kadapa" style="color: black;"><b>KANDULA SREENIVASA REDDY MEMORIAL COLLEGE OF ENGINEERING</b></a>
      </div>
    </div>
  </div>
</div>

<div class="row row-cols-1 row-cols-md-3 g-4">
  <div class="col">
    <div class="card h-100">
      <img  src="./assets/images/rajiv.jpg"  width="50%" height="150px" class="card-img-top" alt="..."/>
    <div class="card-body">
      <h5 class="card-title" style="background-color: pink;"> RAJIV GANDHI UNIVERSITY OF KNOWLEDGE TECHNOLOGIES</h5>
      <p class="card-text">  RAJIV GANDHI UNIVERSITY OF KNOWLEDGE TECHNOLOGIES </p>
    </div>
    <div class="card-footer" style="background-color: pink;">
      <a href="Kadapa" style="color: black;"><b> RAJIV GANDHI UNIVERSITY OF KNOWLEDGE TECHNOLOGIES</b></a>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card h-100">
      <img src="./assets/images/madina.png" width="50%" height="150px" class="card-img-top" alt="..."/>
    <div class="card-body">
      <h5 class="card-title" style="background-color: pink;"> MADINA ENGINEERING COLLEGE KADAPA  Rayalapanthulapalle, Andhra Pradesh</h5>
      <p class="card-text"> MADINA ENGINEERING COLLEGE KADAPA</p>
    </div>
    <div class="card-footer" style="background-color: pink;">
      <a href="Kadapa" style="color: black;"><b> MADINA ENGINEERING COLLEGE KADAPA  Rayalapanthulapalle, Andhra Pradeshb</b></a>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card h-100">
      <img src="./assets/images/yogi.jpg" width="50%" height="150px" class="card-img-top" alt="..."/>
    <div class="card-body">
      <h5 class="card-title" style="background-color: pink;"> YOGIVEMANA MANAGEMENT OF COLLEGE Pulivendula Road, Kadapa</h5>
      <p class="card-text"> YOGIVEMANA MANAGEMENT OF COLLEGE</p>
    </div>
    <div class="card-footer" style="background-color: pink;">
      <a href="Kadapa" style="color: black;"><b> YOGIVEMANA MANAGEMENT OF COLLEGE Pulivendula Road, Kadapa</b></a>
      </div>
    </div>
  </div>
</div>

<div class="row row-cols-1 row-cols-md-3 g-4">
  <div class="col">
    <div class="card h-100">
      <img  src="./assets/images/vaagdevi.jpg"  width="50%" height="150px" class="card-img-top" alt="..."/>
    <div class="card-body">
      <h5 class="card-title" style="background-color: pink;"> VAAGDEVI INSTITUTE OF TECHNOLOGY AND SCEINCE</h5>
      <p class="card-text"> VAAGDEVI INSTITUTE OF TECHNOLOGY AND SCEINCE </p>
    </div>
    <div class="card-footer" style="background-color: pink;">
      <a href="Kadapa" style="color: black;"><b> VAAGDEVI INSTITUTE OF TECHNOLOGY AND SCEINCE</b></a>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card h-100">
      <img src="./assets/images/rise.jpg" width="50%" height="150px" class="card-img-top" alt="..."/>
    <div class="card-body">
      <h5 class="card-title" style="background-color: pink;">RISE Krishna Sai Gandhi Group Of Institutions</h5>
      <p class="card-text"> MADINA ENGINEERING COLLEGE KADAPA</p>
    </div>
    <div class="card-footer" style="background-color: pink;">
      <a href="Prakasam" style="color: black;"><b>RISE Krishna Sai Gandhi Group Of Institutions</b></a>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card h-100">
      <img src="./assets/images/yogi.jpg" width="50%" height="150px" class="card-img-top" alt="..."/>
    <div class="card-body">
      <h5 class="card-title" style="background-color: pink;">Prakasam Engineering College Kandukur, Prakasam district</h5>
      <p class="card-text">Prakasam Engineering College
      </p>
    </div>
    <div class="card-footer" style="background-color: pink;">
      <a href="prakasam" style="color: black;"><b>Prakasam Engineering College Kandukur, Prakasam district</b></a>
      </div>
    </div>
  </div>
</div>

<div class="row row-cols-1 row-cols-md-3 g-4">
  <div class="col">
    <div class="card h-100">
      <img  src="./assets/images/nirma.jpg"  width="50%" height="150px" class="card-img-top" alt="..."/>
    <div class="card-body">
      <h5 class="card-title" style="background-color: pink;">Nimra Institute of Engineering & Technology</h5>
      <p class="card-text"> Nimra Institute of Engineering & Technology </p>
    </div>
    <div class="card-footer" style="background-color: pink;">
      <a href="Prakasam" style="color: black;"><b> Nimra Institute of Engineering & Technology</b></a>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card h-100">
      <img src="./assets/images/pace.jpeg" width="50%" height="150px" class="card-img-top" alt="..."/>
    <div class="card-body">
      <h5 class="card-title" style="background-color: pink;">PACE Institute of Technology & Sciences</h5>
      <p class="card-text">PACE Institute of Technology & Sciences </p>
    </div>
    <div class="card-footer" style="background-color: pink;">
      <a href="Prakasam" style="color: black;"><b>PACE Institute of Technology & Sciences</b></a>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card h-100">
      <img src="./assets/images/abr.jpg" width="50%" height="150px" class="card-img-top" alt="..."/>
    <div class="card-body">
      <h5 class="card-title" style="background-color: pink;">ABR College of Engineering and Technology</h5>
      <p class="card-text">ABR College of Engineering and Technology</p>
    </div>
    <div class="card-footer" style="background-color: pink;">
      <a href="Prakasam" style="color: black;"><b>ABR College of Engineering and Technology</b></a>
      </div>
    </div>
  </div>
</div>

<div class="row row-cols-1 row-cols-md-3 g-4">
  <div class="col">
    <div class="card h-100">
      <img  src="./assets/images/sagi.jpg"  width="50%" height="150px" class="card-img-top" alt="..."/>
    <div class="card-body">
      <h5 class="card-title" style="background-color: pink;">Dr. Samuel George Institute of Engineering & Technology </h5>
      <p class="card-text"> Dr. Samuel George Institute of Engineering & Technology</p>
    </div>
    <div class="card-footer" style="background-color: pink;">
      <a href="Prakasam" style="color: black;"><b> Dr. Samuel George Institute of Engineering & Technology</b></a>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card h-100">
      <img src="./assets/images/qiscet.jpg" width="50%" height="150px" class="card-img-top" alt="..."/>
    <div class="card-body">
      <h5 class="card-title" style="background-color: pink;">QIS College of Engineering and Technology</h5>
      <p class="card-text">QIS College of Engineering and Technology</p>
    </div>
    <div class="card-footer" style="background-color: pink;">
      <a href="Prakasam" style="color: black;"><b>QIS College of Engineering and Technology</b></a>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card h-100">
      <img src="./assets/images/jntua.jpg" width="50%" height="150px" class="card-img-top" alt="..."/>
    <div class="card-body">
      <h5 class="card-title" style="background-color: pink;">Jawaharlal Nehru Technological University</h5>
      <p class="card-text">Jawaharlal Nehru Technological University</p>
    </div>
    <div class="card-footer" style="background-color: pink;">
      <a href="Ananthapur" style="color: black;"><b>Jawaharlal Nehru Technological University</b></a>
      </div>
    </div>
  </div>
</div>

<div class="row row-cols-1 row-cols-md-3 g-4">
  <div class="col">
    <div class="card h-100">
      <img  src="./assets/images/gates.jpg"  width="50%" height="150px" class="card-img-top" alt="..."/>
    <div class="card-body">
      <h5 class="card-title" style="background-color: pink;">GATES Institute of Technology Gootyanantapuram Village,Ananthapur </h5>
      <p class="card-text"> GATES Institute of Technology</p>
    </div>
    <div class="card-footer" style="background-color: pink;">
      <a href="Ananthapur" style="color: black;"><b> GATES Institute of Technology Gootyanantapuram Village,Ananthapur</b></a>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card h-100">
      <img src="./assets/images/srit.jpg" width="50%" height="150px" class="card-img-top" alt="..."/>
    <div class="card-body">
      <h5 class="card-title" style="background-color: pink;">Srinivasa Ramanujan Institute of Technology</h5>
      <p class="card-text">Srinivasa Ramanujan Institute of Technology</p>
    </div>
    <div class="card-footer" style="background-color: pink;">
      <a href="Ananthapur" style="color: black;"><b>Srinivasa Ramanujan Institute of Technology</b></a>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card h-100">
      <img src="./assets/images/sku.png" width="50%" height="150px" class="card-img-top" alt="..."/>
    <div class="card-body">
      <h5 class="card-title" style="background-color: pink;">Sri Krishnadevaraya University Itikalapalli, Andhra Pradesh</h5>
      <p class="card-text">Sri Krishnadevaraya University</p>
    </div>
    <div class="card-footer" style="background-color: pink;">
      <a href="Ananthapur" style="color: black;"><b>Sri Krishnadevaraya University Itikalapalli, Andhra Pradesh</b></a>
      </div>
    </div>
  </div>
</div>

<div class="row row-cols-1 row-cols-md-3 g-4">
  <div class="col">
    <div class="card h-100">
      <img  src="./assets/images/lendi.jpg"  width="50%" height="150px" class="card-img-top" alt="..."/>
    <div class="card-body">
      <h5 class="card-title" style="background-color: pink;">Lendi Institute of Engineering & Technology </h5>
      <p class="card-text">Lendi Institute of Engineering & Technology</p>
    </div>
    <div class="card-footer" style="background-color: pink;">
      <a href="Vizianagaram" style="color: black;"><b>Lendi Institute of Engineering & Technology</b></a>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card h-100">
      <img src="./assets/images/university.jpg" width="50%" height="150px" class="card-img-top" alt="..."/>
    <div class="card-body">
      <h5 class="card-title" style="background-color: pink;">University of Engineering  jntu vizianagaramVillage, Dwarapudi</h5>
      <p class="card-text">University of Engineering</p>
    </div>
    <div class="card-footer" style="background-color: pink;">
      <a href="Vizianagarm" style="color: black;"><b>University of Engineering  jntu vizianagaramVillage, Dwarapudi</b></a>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card h-100">
      <img src="./assets/images/coastal.jpg" width="50%" height="150px" class="card-img-top" alt="..."/>
    <div class="card-body">
      <h5 class="card-title" style="background-color: pink;">Coastal Institute of Technology and Management</h5>
      <p class="card-text">Coastal Institute of Technology and Management</p>
    </div>
    <div class="card-footer" style="background-color: pink;">
      <a href="Vizianagarm" style="color: black;"><b>Coastal Institute of Technology and Management</b></a>
      </div>
    </div>
  </div>
</div>

<div class="row row-cols-1 row-cols-md-3 g-4">
  <div class="col">
    <div class="card h-100">
      <img  src="./assets/images/maharaja.jpg"  width="50%" height="150px" class="card-img-top" alt="..."/>
    <div class="card-body">
      <h5 class="card-title" style="background-color: pink;">Maharaj Vijayaram Gajapathi Raj College of Engineering </h5>
      <p class="card-text">Maharaj Vijayaram Gajapathi Raj College of Engineering</p>
    </div>
    <div class="card-footer" style="background-color: pink;">
      <a href="Vizianagaram" style="color: black;"><b>Maharaj Vijayaram Gajapathi Raj College of Engineering</b></a>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card h-100">
      <img src="./assets/images/miracle.webp" width="50%" height="150px" class="card-img-top" alt="..."/>
    <div class="card-body">
      <h5 class="card-title" style="background-color: pink;">Miracle Educational Society Group of Institutions</h5>
      <p class="card-text">Miracle Educational Society Group of Institutions</p>
    </div>
    <div class="card-footer" style="background-color: pink;">
      <a href="Vizianagarm" style="color: black;"><b>Miracle Educational Society Group of Institutions</b></a>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card h-100">
      <img src="./assets/images/avanthi.jpg" width="50%" height="150px" class="card-img-top" alt="..."/>
    <div class="card-body">
      <h5 class="card-title" style="background-color: pink;">AVANTHI INSTITUTE OF ENGINEERING & TECHNOLOGY</h5>
      <p class="card-text">AVANTHI INSTITUTE OF ENGINEERING & TECHNOLOGY</p>
    </div>
    <div class="card-footer" style="background-color: pink;">
      <a href="Vizianagarm" style="color: black;"><b>AVANTHI INSTITUTE OF ENGINEERING & TECHNOLOGY</b></a>
      </div>
    </div>
  </div>
</div>






&nbsp;&nbsp;<footer class="page-footer font-small bg-dark text-white">
<div class="container text-center text-md-left">                     
  <div class="row" style="padding:50;">                         
    <div class="col-md-3 col-lg-3 col-xl-3 mx-auto mt-3 ">
      <h6 class="text-uppercase  font-weight-bold" style="margin-bottom: 20;">Engineering Colleges</h6>
      <p>Here we are presenting a list of Top Engineering Colleges in Andhra Pradesh 2021.</p>
    </div>                                   
      <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mt-3">
      <h6 class="text-uppercase  font-weight-bold" style="margin-bottom: 20;">Websites</h6>
      <p>
        <a href="#" class="text-white">Shiksha.com</a>
      </p>
      <p>
        <a href="#" class="text-white">Collegeduniya.com</a>
      </p>
      <p>
        <a href="#" class="text-white">Collegedekho.com</a>
      </p>
      <p>
        <a href="#" class="text-white">Wikipedia.com</a>
      </p>
    </div>                                                 
    <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mt-3">
      <h6 class="text-uppercase  font-weight-bold" style="margin-bottom: 20;">Useful links</h6>
      <p>
        <a href="#" class="text-white">Your Account</a>
      </p>
      <p>
        <a href="#" class="text-white">college links</a>
      </p>
      <p>
        <a href="#" class="text-white">shiksha.com</a>
      </p>
      <p>
        <a href="#" class="text-white">Help</a>
      </p>
    </div>                                                 
    <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mt-3 ">
      <h6 class="text-uppercase mb-4 font-weight-bold" style="margin-bottom: 20;">Contact</h6>
      <p><i class="fa fa-home mr-3"></i>
        &nbsp;&nbsp; AndhraPradesh
      </p>                   
      <p><i class="fa fa-envelope mr-3"></i>
        &nbsp;&nbsp;  info@gmail.com
      </p>
      <p><i class="fa fa-phone mr-3"></i>
        &nbsp;&nbsp;  + 01 234 567 88
      </p>
      <p><i class="fa fa-phone mr-3"></i>
         &nbsp;&nbsp; + 01 234 567 89
        </p>
      </div>
  </div>          
  <hr>
  <div class="row d-flex align-items-center">
    <div class="col-md-7 col-lg-8">
      <p>&copy;2021 Copyright:
        <a href="https://engineering.careers360.com/colleges/list-of-engineering-colleges-in-andhra-pradesh">
          <strong class="text-white">Engineering &Mba colleges </strong>
        </a>
      </p>
    </div>
    <div class="col-md-5 col-lg-4 ml-lg-0">
      <div class="text-center text-md-right">
        <ul class="list-unstyled list-inline">
          <li class="list-inline-item">
            <a class="btn-floating btn-sm" href="https://www.facebook.com/sign in">
              <i class="fa fa-facebook-f" ></i>
            </a>
          </li>
          <li class="list-inline-item">
            <a class="btn-floating btn-sm" href="https //www.twitter.com/sign in" >
              <i class="fa fa-twitter" ></i>
            </a>
          </li>
          <li class="list-inline-item">
            <a class="btn-floating btn-sm" href="https //www.google.com sign in" >
              <i class="fa fa-google-plus-g" ></i>
            </a>
          </li>
          <li class="list-inline-item">
            <a class="btn-floating btn-sm" href="https //www.linkedin.com sign in">
              <i class="fa fa-linkedin-in"></i>
            </a>
          </li>
        </ul>
      </div>         
    </div>         
  </div>         
</div>

</footer>
