<div class="col">
    <div class="card-h-100">
        <h1 class="card-title ">1.RISE Krishna Sai Gandhi Group Of Institutions</h1>
        <img src="./assets/images/rise.jpg" width="50%" height="350px" class="card-img-top" alt="..."/>
        <div class="card-body">
            <p class="card-text">RISE Krishna Sai Gandhi Group Of Institutions is located in Prakasam and affililated with JNTU Kakinada</p>
             <p><b>RISE ESTABLISHED:</b>2001</p>
             <p><b>RISE ACCEREDIATION:</b>NBA</p>
             <p><b>RISE AFFILIATED:</b>JNTUK</p>
             <p><b>RISE ELIGIBILITY:</b>10+2 with APEAMCET</p>
             <p><b>RISE FEE STRUCTURE:</b>1.5-3Lakhs</p>
             <p><b>RISE COURSES:</b>CSE,ECE,ME,CE</p>
             <p><b>RISE LOCATION: </b> NH16, Valluru, Prakasam district, Andhra Pradesh 523272 </p>
             <p><b>RISE PLACEMENT:</b>INFOSYS, TCS, ACCENTURE, COGNIZANT, HCL, etc </p>
             <a class="read_more" href="http://risegroup.edu.in/"> Read More</a>
    </div>
</div>

<div class="col">
    <div class="card-h-100">
        <h1 class="card-title ">2.Prakasam Engineering College</h1>
        <img src="./assets/images/prakasam.jpg" width="50%" height="350px" class="card-img-top" alt="..."/>
        <div class="card-body">
            <p class="card-text">Prakasam Engineering College is located in Prakasam and affililated with JNTU Hyderabad</p>
             <p><b>PEC ESTABLISHED:</b>2001</p>
             <p><b>PEC ACCEREDIATION:</b>NACC</p>
             <p><b>PEC AFFILIATED:</b>JNTUH</p>
             <p><b>PEC ELIGIBILITY:</b>10+2 with APEAMCET</p>
             <p><b>PEC FEE STRUCTURE:</b>1.5-3Lakhs</p>
             <p><b>PEC COURSES:</b>CSE,ECE,EEE,IT</p>
             <p><b>PEC LOCATION: </b>  Kanigiri Rd, Kandukur, Prakasam district, Andhra Pradesh  523105 </p>
             <p><b>PEC PLACEMENT:</b>ADP, CAPGEMINI,IBM,COSMIC CIRCUITS,CSC, INFOSYS, TCS, ACCENTURE, COGNIZANT, HCL,MIND TREE, SASKEN etc</p>
             <a class="read_more" href="https://www.prakasamec.com/"> Read More</a>
    </div>
</div>

<div class="col">
    <div class="card-h-100">
        <h1 class="card-title ">3. Nimra Institute of Engineering & Technology</h1>
        <img src="./assets/images/nirma.jpg" width="50%" height="350px" class="card-img-top" alt="..."/>
        <div class="card-body">
            <p class="card-text">Nimra Institute of Engineering & Technology is located in Prakasam and affililated with JNTU Hyderabad</p>
             <p><b>NIET  ESTABLISHED:</b>2007</p>
             <p><b>NIET  ACCEREDIATION:</b>AICTE</p>
             <p><b>NIET  AFFILIATED:</b>JNTUK</p>
             <p><b>NIET  ELIGIBILITY:</b>10+2 with APEAMCET</p>
             <p><b>NIET  FEE STRUCTURE:</b>1.5-3Lakhs</p>
             <p><b>NIET  COURSES:</b>CSE,ECE,EEE,IT,ME,CE</p>
             <p><b>NIET  LOCATION: </b> Yedugundlapadu, Maddipadu, NH 5, Prakasam District, Ongole, Andhra Pradesh 520010   </p>
             <p><b>NIET  PLACEMENT:</b>TCS, ACCENTURE, COGNIZANT,GENPACT,etc</p>
             <a class="read_more" href="http://www.nimra.in/niet/"> Read More</a>
    </div>
</div>

<div class="col">
    <div class="card-h-100">
        <h1 class="card-title ">4.PACE Institute of Technology & Sciences</h1>
        <img src="./assets/images/pace.jpeg" width="50%" height="350px" class="card-img-top" alt="..."/>
        <div class="card-body">
            <p class="card-text">PACE Institute of Technology & Sciencesis located in Prakasam and affililated with JNTU Hyderabad</p>
             <p><b>PACE  ESTABLISHED:</b>2007</p>
             <p><b>PACE  ACCEREDIATION:</b>AICTE</p>
             <p><b>PACE  AFFILIATED:</b>JNTUK</p>
             <p><b>PACE  ELIGIBILITY:</b>10+2 with APEAMCET</p>
             <p><b>PACE  FEE STRUCTURE:</b>1.5-2.5Lakhs</p>
             <p><b>PACE  COURSES:</b>CSE,ECE,EEE,IT,ME,CE,AME</p>
             <p><b>PACE  LOCATION: </b>NH-5, near Valluramma Temple, Ongole, Andhra Pradesh 523272  </p>
             <p><b>PACE  PLACEMENT:</b>EmbedUR Systems, DeltaX, Worksbot Applications, InfytQ, Syrma Technologies, Mindtree, Pivox Labs, Snovasys, Wipro, Infosys, Nichehands Technologies, Cognizant, Genpact, Eidiko Systems, IBM, TechMahindra, etc</p>
             <a class="read_more" href="http://www.pace.ac.in/"> Read More</a>
    </div>
</div>